:host {
	button {
		display: flex;
		justify-content: space-between;
	}
}

.no-comments {
	padding: 1rem;
}


.reply-form-container {
	padding: 10px;
}

.comments-container{
	padding-left: 10px;
	padding-right: 10px;
}
