<div class="comments-container">
	<memo-comment-block *ngFor="let comment of comments; trackBy:trackCommentBy"
						(onAddComment)="addComment($event.commentText, $event.parentCommentId)"
						(onDelete)="deleteComment($event)"
						[eventId]="eventId"
						[parentId]="-1"
						[comment]="comment">
	</memo-comment-block>
	<memo-comment-block *ngIf="loadingAddedComment"
						[eventId]="eventId"
						[parentId]="-1"
						[dummy]="true"
						[comment]="dummyComment"
	>

	</memo-comment-block>
</div>

<div *ngIf="comments?.length === 0" class="no-comments">
	<div class="left-chat-bubble-container">
		<mat-icon class="left-chat-bubble">comment</mat-icon>
	</div>
	<div class="empty-state-middle-section">
		<span class="empty-state-headline">Bisher keine Kommentare</span>
		<span class="empty-state-subheader">Sei der Erste, der seine Meinung teilt!</span>
	</div>
	<div class="right-chat-bubble-container">
		<mat-icon class="right-chat-bubble">comment</mat-icon>
	</div>
</div>

<button mat-button (click)="loadMore.emit(true)" *ngIf="canLoadMore">
	<span>
		Mehr Kommentare
	</span>
</button>

<mat-divider *ngIf="loggedInUser$ | async"></mat-divider>

<div class="reply-form-container" *ngIf="loggedInUser$ | async; let loggedInUser">
	<memo-comment-input (submitComment)="addComment($event, -1)"
						[submitCommentText]="'Kommentieren'"
						[canBeCancelled]="false"
						[author]="loggedInUser"
						[commentText]="''"></memo-comment-input>
</div>
