<div class="comments-container">
	<memo-comment-block *ngFor="let comment of comments; trackBy:trackCommentBy"
						(onAddComment)="addComment($event.commentText, $event.parentCommentId)"
						(onDelete)="deleteComment($event)"
						[eventId]="eventId"
						[parentId]="-1"
						[comment]="comment">
	</memo-comment-block>
	<memo-comment-block *ngIf="loadingAddedComment"
						[eventId]="eventId"
						[parentId]="-1"
						[dummy]="true"
						[comment]="dummyComment"
	>

	</memo-comment-block>
</div>

<div *ngIf="comments?.length === 0" class="no-comments">
	Bisher keine Kommentare.
</div>

<button mat-button (click)="loadMore.emit(true)" *ngIf="canLoadMore">
	<span>
		Mehr Kommentare
	</span>
</button>

<mat-divider *ngIf="loggedInUser$ | async"></mat-divider>

<div class="reply-form-container" *ngIf="loggedInUser$ | async; let loggedInUser">
	<memo-comment-input (submitComment)="addComment($event, -1)"
						[author]="loggedInUser"
						[commentText]="''"></memo-comment-input>
</div>
