<input #fileInput type="file" (change)="emitFormData(); updatePreview($event)" [multiple]="multiple" hidden>

<!--todo replace with multi-image-upload-container stuff-->

<div class="image-preview-container">
	<!--<div>-->
		<!--<h5>Originalbild</h5>-->
		<!--<div class="image-container">-->
			<!--<img-cropper #cropper [image]="data" [settings]="imageCropperSettings"></img-cropper>-->
			<!--<button mat-raised-button type="button"-->
					<!--(click)="fileInput.click()"-->
					<!--color="accent"-->
					<!--[style.width]="imageCropperSettings.width + 'px'">-->
				<!--<mat-icon>photo_camera</mat-icon>-->
				<!--Bild hochladen-->
			<!--</button>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div>-->
		<!--<h5>Resultierendes Bild</h5>-->
		<!--<div class="image-container cropped-profile-picture">-->
			<!--<img [src]="data.image"-->
				 <!--[width]="imageCropperSettings.croppedWidth" [height]="imageCropperSettings.croppedHeight"-->
				 <!--(click)="fileInput.click()">-->
		<!--</div>-->
	<!--</div>-->
</div>
