<!--header (link to profile)-->
<div class="account-header">
    <img src="../../../resources/images/nils.PNG" class="profile-picture">
    <div>
        <span class="profile-name">Lennart Hoffmann</span>
        <div class="profile-email-container">
            <span class="profile-email">lennarthoffmann@gmx.de</span>
            <md-icon>expand_more</md-icon>
            <!--todo (click)="showAccountStuff = true" usw.-->
        </div>
    </div>
</div>
<!--navigation links-->
<nav class="navigation-links">
    <div *ngFor="let link of (links | async);" (click)="closeSideNav()">
        <hr *ngIf="link.drawLineAbove || link.children">
        <!--"main" link-->
        <a routerLink="{{link.route}}"
           routerLinkActive="active">
            <md-icon *ngIf="!link.children">{{link.icon}}</md-icon>
            <span>{{link.name}}</span>
        </a>
        <!--child links-->
        <a *ngFor="let childLink of link.children"
           routerLink="{{childLink.route}}"
           routerLinkActive="active">
            <md-icon>{{childLink.icon}}</md-icon>
            <span>{{childLink.name}}</span>
        </a>
    </div>

</nav>