<div class="title">
	<a routerLink="/"><img src="../../../resources/images/Logo.png"/></a>
	<span>Meilenwoelfe e.V.</span>
</div>

<section class="content">
	<h3>Die Registrierung war erfolgreich!</h3>
	<p>Willkommen im Meilenwoelfe Online Shop. </p>
	<p>Wenn du jetzt auch noch Meilenwoelfe Mitglied werden möchtest, <a routerLink="/applyForMembership">klick
		hier.</a></p>
	<p>Wenn du bereits Vereinsmitglied bist, <a routerLink="/requestMembership">klick hier</a> um deine Mitgliedschaft
		bestätigen zu lassen.</p>

	<div class="content-actions">
		<a mat-raised-button color="primary" routerLink="/">Zur Startseite</a>
	</div>
</section>
