@import "../login/login.component";
@import "~@angular/material/theming";


//todo redesign: align progress indicator with checkout design
:host {
	justify-content: flex-start;
	height: auto;
	min-height: 100%;
	padding-top: 2rem;
	padding-bottom: 100px;

	::ng-deep .object-details-content-container {
		max-width: none !important;
		width: calc(100% + 2rem) !important;
		margin: 0 !important;
		margin-left: -1rem !important;
		margin-right: -1rem !important;
		box-shadow: none !important;
		border-top: 1px solid grey(200);

		::ng-deep .current-image-container .current-image {
			border: none !important;
		}

		@media all and (min-width: 550px) {
			//max-width: 550px !important;
		}
	}

	memo-user-data-form {
		margin-top: -1rem;

		::ng-deep .modify-shop-item-container {
			width: 100%;
			box-shadow: none;
			max-width: none;
		}

		::ng-deep .current-image-container {
			margin: auto;
		}

		::ng-deep .form-actions {
			justify-content: space-between;
			background: white;
			padding: 0.5rem;
			margin: auto -1rem -1rem;
			border-top: 1px solid grey(300);
		}
	}
}

.signup-title {
	@include fullscreen-page-title();
}

.form-container {
	width: 100%;
}

.signup-container {
	@include fullscreen-page-content();

	&.wide {
		max-width: 850px;
	}
}

.account-signup-progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	background: white;

	border-bottom: 1px solid grey(200);
	margin: -1rem -1rem 1rem;
	padding: 1rem;


	.progress-indicator {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1.5rem;
		width: 1.5rem;
		border-radius: 50%;
		background-color: grey(500);
		color: white;
		font-size: font-size(smallest);

		mat-icon {
			width: font-size(smallest);
			height: font-size(smallest);
			font-size: font-size(smallest);
		}

		&.active {
			background-color: primary();
		}

		&.completed {
			background-color: primary();
		}
	}

	> span {
		flex-grow: 2;
		margin-left: 8px;
		margin-right: 8px;
		align-self: center;
		height: 1px;
		background-color: grey(400);
	}

	> span.completed {
		background-color: primary();
	}

}

.progress-label {
	color: grey(700);

	&.active {
		color: grey(900);
		font-weight: 700;
	}
}

:host {
	mat-card {
		margin: 0;
		max-width: 800px;
	}
}

.desktop {
	display: none;
}

@media all and (min-width: 700px) {
	.desktop {
		display: block;
		margin-left: 5px;
	}

	.account-signup-progress {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
}
