<div class="login-container">
	<md-card *ngIf="currentSection | async as section">
		<div class="account-signup-progress">
			<ng-template ngFor let-item [ngForOf]="sections" let-i="index">
				<div [ngClass]="{'active': item === section, 'completed': sections.indexOf(section) > i}"></div>
				<span *ngIf="item !== sectionEnum.PaymentMethods"></span>
			</ng-template>
		</div>

		<div [ngSwitch]="section">
			<memo-account-data-form *ngSwitchCase="sectionEnum.AccountData"
									(onSubmit)="onSubmit($event)"></memo-account-data-form>
			<memo-user-data-form *ngSwitchCase="sectionEnum.PersonalData"
								 (onSubmit)="onSubmit($event)">

			</memo-user-data-form>

			<memo-payment-methods-form *ngSwitchCase="sectionEnum.PaymentMethods"
									   (onSubmit)="onSubmit($event)"
									   [user]="newUser">

			</memo-payment-methods-form>
			<div *ngSwitchDefault>
				Something went wrong.
			</div>
		</div>

	</md-card>

</div>
