@import "theme";
@import "mixins";

$breakpoint: 600px;
$options-breakpoint: 850px;

:host {
	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: auto;

	@media all and (max-width: $options-breakpoint) {
		flex-direction: column;
	}

	.options-button {
		width: 100%;
		background-color: $primary-default;
		color: white;
		border-radius: 0;
		@media all and (min-width: $options-breakpoint) {
			display: none;
		}
	}

	.overview-options {
		width: 330px;
		min-width: 330px;
		padding: 0.85rem;

		@media all and (min-width: $options-breakpoint) {
			background: white;
			margin: 0.85rem;
			border-radius: 4px;
			padding: 0 16px 16px;
			overflow: hidden;
			height: 100%;
		}

		@media all and (max-width: $options-breakpoint) {
			background-color: white;
			height: auto;

			border: none;
			&:not(.showOptions) {
				padding: 0;
			}
			&.showOptions {
				height: calc(100%);
				overflow-y: auto;

				.options-button {
					width: calc(100% + 2rem);
					margin-left: -1rem;
					margin-bottom: -1rem;
					margin-top: 1rem;
				}
			}
			width: 100%;
		}
	}

	.overview-data-container {
		width: calc(100% - 330px);

		@media all and (max-width: $options-breakpoint) {
			width: 100%;
		}

	}

}

.option-toolbar {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin: 0;
	border-bottom: 1px solid #cdcdcd;
	background: white;
	align-items: center;
}

.content-wrapper {
	display: flex;
	flex-direction: column;

	min-height: calc(100vh - 64px - 57px);
}

.content {
	flex: 1;
	display: grid;
	grid-column-gap: 0.5rem;
	grid-row-gap: 1rem;
	margin-bottom: 1rem;

	@media all and (min-width: $options-breakpoint) {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		margin-right: 1rem;
	}
}

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem auto auto;

	height: 100px;
	font-size: 1.1rem;
	color: grey;
}

.add-button {
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: 20px;
}

@media all and (min-width: $options-breakpoint) {
	memo-order-options /deep/ h3 {
		color: rgba(0, 0, 0, 0.6);
	}


	.option-toolbar {
		background: transparent;
		border-bottom: 0;
		margin: 0;
		align-items: center;
		padding: 1.2rem 1.2rem 1.2rem 0;
	}

	.loader {
		left: 65%;
	}

	mat-paginator{
		margin: 0 1rem 1rem 0;
		border-radius: 4px;
	}
}

