@import "~@angular/material/theming";
@import "theme";

div {
	display: flex;
	flex-direction: column;
}

:host {
	display: block;

	> div > div {
		padding-bottom: 1rem;
	}
}



.events-container {
	mat-chip {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		margin: 8px 0 0;

		&:last-child {
			margin-bottom: 16px;
		}

		a {
			text-decoration: none;
			color: grey(900);
			flex-grow: 2;
		}

		&.mat-accent > a {
			color: white;
		}

		.remove-chip-button {
			font-size: 24px;
			height: 24px;
			width: 24px;
			margin-left: 8px;
		}
	}
}

.options-title {
	font-weight: 200;
	border-bottom: 1px solid grey(300);
	@include background-primary();
	padding: 24px 16px 10px 24px;
	margin: -16px -16px 10px !important;

	@media all and (max-width: 600px) {
		margin-left: -16px !important;
		margin-right: -16px !important;
	}
}
