@import "~@angular/material/theming";
@import "theme";

div {
	display: flex;
	flex-direction: column;
}

:host {
	> div > div {
		width: 300px;
		padding-bottom: 1rem;
	}

	mat-form-field {
		width: 200px;
	}
}

.events-container {
	memo-event-autocomplete /deep/ mat-form-field{
		width: 100%;
		margin-top: 12px;
	}


	mat-chip {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		background-color: white;
		margin: 8px 0 0 !important;
		color: rgba(0, 0, 0, 0.60);

		&:hover {
			background-color: darken(white, 5%);
		}

		&.chip-accent {
			cursor: auto;
			background-color: #ededed;
		}

		a {
			text-decoration: none;
			color: rgba(0, 0, 0, 0.80);
			flex-grow: 2;
		}

		.remove-chip-button {
			font-size: 1.5rem;
			height: 1.5rem;
			width: 1.5rem;
			margin-left: 0.5rem;
		}
	}
}

.options-title {
	font-weight: 200;
	border-bottom: 1px solid #E0E0E0;
	background-color: $primary-default;
	color: white;
	padding: 24px 16px 10px 24px;
	margin: -16px -16px 10px !important;

	@media all and (max-width: 600px) {
		margin-left: -16px !important;
		margin-right: -16px !important;
	}
}
