@import "theme";
@import "variables";
@import "~@angular/material/theming";

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem auto auto;

	height: 100px;
	font-size: 1.1rem;
	color: grey;
}

.tour-entry-container {
	//padding-right: 2%;
}

@media all and (min-width: 650px) {
	memo-my-tours-entry {
		margin-left: 2%;
	}
}

.my-tours-options {
	padding: 1% 2% 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	mat-button-toggle-group {
		background-color: white;
	}

	.my-tours-options-actions {
		display: flex;
		justify-content: space-between;
	}

}

:host {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;

	.tour-entry-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0 1rem 1rem;

		@media all and(min-width: 650px) {
			padding: 0;
		}
	}
}
