<div class="my-tours-options">
	<div>
		<span class="secondary-text">Ansichten:</span>
	</div>
	<div class="my-tours-options-actions">
		<mat-button-toggle-group #myToursViewGroup="matButtonToggleGroup"
								 [(ngModel)]="selectedView" (ngModelChange)="navigateToRoute(selectedView)">
			<mat-button-toggle value="participated">
				<mat-icon>event</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="created">
				<mat-icon>list</mat-icon>
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
</div>

<div [ngSwitch]="selectedView">
	<div class="tour-entry-container" *ngSwitchCase="'participated'">
		<memo-my-tours-entry *ngFor="let event of (participatedTours$ | async)" [event]="event">

		</memo-my-tours-entry>
		<div *ngIf="(participatedTours$ | async)?.length === 0"
			 class="no-results">
			Du hast bisher an keiner Veranstaltung teilgenommen.
		</div>
	</div>

	<div class="tour-entry-container" *ngSwitchCase="'created'">
		<memo-my-tours-entry *ngFor="let event of (createdTours$ | async)" [event]="event">

		</memo-my-tours-entry>
		<div *ngIf="(createdTours$ | async)?.length === 0"
			 class="no-results">
			Du hast bisher keine Veranstaltung erstellt
			<!--todo: "Veranstaltung erstellen" button-->
		</div>

	</div>
</div>
