<memo-data-container [empty]="!hasData" [renderer]="chart"
					 emptyStateIcon="bar_chart"
					 emptyStateHeadline="Keine Daten"
					 emptyStateSubtitle="Wir haben keine Bestellungen im letzten Monat entgegengenommen.">

</memo-data-container>

<ng-template #chart>
	<ngx-charts-area-chart [gradient]="false"
						   [customColors]="lineChartCustomColors"
						   [xAxis]="true"
						   [yAxis]="true"
						   [showGridLines]="true"
						   [curve]="curve"
						   [xAxisLabel]="'Zeit'"
						   [yAxisLabel]="'Bestellungen'"
						   [autoScale]="false"
						   [results]="lineChartData">
	</ngx-charts-area-chart>
</ng-template>
