@import "theme";
@import "variables";

h3 {
	margin: 1rem 0 0;
}

.event-list-view-container {
	padding: 1rem;
	background-color: $container-content--background-color;
	margin-bottom: 1rem;
	color: grey;

	@media all and (min-width: 650px) {

		memo-results-entry {
			margin: 0.2rem;

			/deep/ img {
				height: 150px !important;
			}
		}
	}
}

.event-list-view-title {
	padding: 0 1rem;
	margin: -1rem -1rem 0;
	margin-bottom: 1rem;
	background-color: $container-header--background-color;
	color: $container-header--color;
	border-bottom: $container-divider--height solid $container-divider--color;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		margin: 1rem 0;
	}
}

@media all and (max-width: 650px) {
	:host {
		/deep/ .result-entry-container {
			box-shadow: none !important;
			margin: -1rem !important;
		}
	}
}

@media all and (min-width: 650px) {
	.event-list-container {
		display: flex;
		width: 100%;
		overflow-x: auto;
	}

}
