@import "~@angular/material/theming";
@import "../../../../theme";

h3{
	margin: 1rem 0 0;
}


.event-list-view-container{
	padding: 1rem;
	background-color: #fafafa;
	margin-bottom: 1rem;
	border-top: 5px solid mat-color($primary);
}


.event-list-view-title{
	padding: 0 1rem;
	margin: -1rem -1rem 0;
	margin-bottom: 1rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3{
		margin: 1rem 0;
	}
}

@media all and (max-width: 650px){
	:host{
		/deep/ .result-entry-container{
			margin: -0.5rem !important;
			margin-bottom: 0 !important;
			margin-top: 0 !important;
		}
	}
}

@media all and (min-width: 650px){
	.event-list-container{
		display: flex;
		width: 100%;
		overflow-x: auto;
	}

}
