<button mat-stroked-button class="sorting-dropdown" [matMenuTriggerFor]="menu">
	<mat-icon class="mobile">sort</mat-icon>
	<span *ngLet="selectedOption$ | async as selectedOption">
		{{(selectedOption.name === "Unsortiert") ? 'Sortieren' : (selectedOption.shortName)}}
	</span>
</button>
<mat-menu #menu="matMenu">
	<ng-container *ngLet="selectedOption$ | async as selectedOption">
		<button mat-menu-item
				*ngFor="let sortingOption of combinedOptions"
				[ngClass]="{'selected': (selectedOption.name) === sortingOption.name}"
				(click)="selectedOption.name !== sortingOption.name ? updateQueryParams(sortingOption) : $event.stopPropagation()">
			{{sortingOption.name}}
		</button>
	</ng-container>
</mat-menu>

