
<div class="accounting-options" [ngClass]="{showOptions: showOptions}">
	<memo-accounting-options *ngIf="!mobile || showOptions">
	</memo-accounting-options>

	<button md-button color="primary" class="options-button" (click)="showOptions = !showOptions">
		<md-icon>{{showOptions ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
	</button>
</div>


<div class="accounting-table-container"
	 [style.height]="(mobile && showOptions) ? 0 : ((mobile) ? 'calc(100% - 110px)' : 'calc(100% - 74px)')">
	<memo-expandable-table
		[data]="entries$ | async"
		[expandedRowKeys]="expandedRowKeys | async"
		[expandable]="mobile"
		[expandedRowComponent]="expandedRowComponent"
		[columnKeys]="primaryColumnKeys | async"
		[title]="'Kostenübersicht'"
		(onSort)="updateSortingKey($event)"
		(onAdd)="addEntry($event)"
		(onEdit)="editEntry($event)"
		(onDelete)="deleteEntries($event)"
	>

	</memo-expandable-table>


</div>


<div class="total-amount" *ngIf="(total$ | async) as total"
	 [ngClass]="{
			positive: total >= 0,
			negative: total < 0
		}">
	<span>Gesamt</span>
	<span>{{total | currency:'EUR':true}}</span>
</div>
