@import "../modify-shop-item.component";

memo-user-data-form {
	width: 100%;

	/deep/ .modify-shop-item-container {
		@include mat-elevation(3);
		@include mat-elevation-transition();
	}
}

@media all and (min-width: 500px) {
	:host {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
