<memo-multi-image-container [images]="imagePaths$ | async"
							(onClick)="fileUpload.click()"
							[style.width]="limit === 1 ? '100%' : ''"
>

</memo-multi-image-container>

<!--todo drag-n-dropable list/table of currently uploaded images with a big "upload" or "browse" button at the bottom-->

<div class="upload-container" *ngIf="limit > 1">
	<memo-expandable-table [title]="'Hochgeladene Bilder' + (isFinite(limit) ? (' (max. ' + limit + ')') : '')"
						   [data]="multiImageUploadService.data$ | async"
						   [rowActions]="rowActions"
						   [expandable]="false"
						   [columnKeys]="columnKeys"
						   [pagination]="false"
						   (onSort)="multiImageUploadService.onSort($event)"
						   (onAction)="multiImageUploadService.handleTableAction($event)"

	>

	</memo-expandable-table>
</div>


<div class="upload-button-container">
	<input type="file" [multiple]="limit > 1" #fileUpload [hidden]="true"
		   (input)="onFileSelect($event)"
		   (change)="onFileSelect($event)" name="file"/>
</div>
