<memo-multi-image-container [images]="images$ | async">

</memo-multi-image-container>

<!--todo drag-n-dropable list/table of currently uploaded images with a big "upload" or "browse" button at the bottom-->

<div class="upload-container">
	<memo-expandable-table [title]="'Hochgeladene Bilder'"
						   [data]="multiImageUploadService.data$ | async"
						   [rowActions]="rowActions"
						   [expandable]="false"
						   [columnKeys]="columnKeys"
						   (onSort)="multiImageUploadService.onSort($event)"
						   (onAction)="multiImageUploadService.handleTableAction($event)"

	>

	</memo-expandable-table>

	<div class="upload-button-container">
		<!--<button mat-raised-button color="accent" type="button"-->
				<!--[hidden]="true"-->
				<!--#fileUploadButton (click)="fileUpload.click()">-->
			<!--<mat-icon>-->
				<!--file_upload-->
			<!--</mat-icon>-->
			<!--Hochladen-->
		<!--</button>-->
		<input type="file" multiple #fileUpload [hidden]="true"
			   (input)="onFileSelect($event)"
			   (change)="onFileSelect($event)" name="file"/>
	</div>

</div>
