:host {
	display: block;
	background: white;
}

.images-list {
	min-height: 200px;

	> div {
		display: flex;
		justify-content: space-between;
	}
}

memo-multi-image-container {
	max-width: 550px;
	width: 100%;
}

@media all and (max-width: 600px) {
	memo-expandable-table {
		::ng-deep .expandable-table-component-container {
			.expandable-table-header {
				margin-left: -16px;
				margin-right: -16px;

				.expandable-table-header-title {
					font-size: 1rem;
				}
			}
			.expandable-table-footer {
				padding-left: 0;
				padding-right: 0;
				font-size: 0.7rem;
			}
		}
	}
}

@media all and (min-width: 800px) {
	:host {
		display: flex;

		memo-multi-image-container {
			max-width: none;
			width: 50%;
			//flex-grow: 1;
		}

		.upload-container {
			width: 50%;
			//flex-grow: 1;
			padding: 0;
			margin: 0;

			::ng-deep {
				.expandable-table-component-container {
					margin: 0;
					box-shadow: none;
					height: 500px;
					overflow: auto;
				}
			}
		}
	}
}
