md-card{
    min-height: 50%;
    height: 90%;
    width: 95%;
    display: inline-block;
    margin: 2.5%;
}

md-card > h1{
    font-size: 3.5em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
    color: rgba(0,0,0,0.87);
}
