div.overview-preview-container:not(:last-child) {
    /*background-color: #4caf50;*/
    margin-bottom: 5vh;
}

div.overview-preview-container > h2 {
    padding: 4vw 4vw 4vw 8vw;
    margin-top: 0;
    margin-bottom: 0;
    /*font-size: 3vw;*/
    background-color: #fafafa;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
