@import "../../../../../theme.scss";
@import '~@angular/material/theming';

:host {
	//text-align: center;
}

.data-as-icon {
	margin-left: 1.8rem;

	.true {
		color: mat-color($primary);
	}
	:not(.true) {
		color: mat-color($warn);
	}
}
