<div class="participant-table-container" [class.loading]="participantListService.loading">
	<memo-expandable-table
		[data]="(participantListService.data$ | async)"
		[rowActions]="rowActions"
		[expandable]="isExpandable$ | async"
		[title]="'Teilnehmer von ' + (participantListService.eventTitle | async)"
		[columnKeys]="participantListService.primaryColumnKeys$ | async"
		[expandedRowComponent]="participantListService.rowComponent"
		[expandedRowKeys]="participantListService.expandedRowKeys$ | async"
		[permissions]="participantListService.permissions$ | async"
		(onSort)="participantListService.onSort($event)"
		(onAction)="participantListService.handleTableAction($event)"
	>

	</memo-expandable-table>
</div>
<ng-container *ngIf="participantListService.loading">
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
</ng-container>
