<div class="participant-table-container" *ngIf="(participantListService.data$ | async); let participants; else loading">
	<memo-expandable-table
		[data]="participants"
		[rowActions]="rowActions"
		[expandable]="isExpandable$ | async"
		[title]="'Teilnehmer von ' + (participantListService.eventTitle | async)"
		[columnKeys]="participantListService.primaryColumnKeys$ | async"
		[expandedRowComponent]="participantListService.rowComponent"
		[expandedRowKeys]="participantListService.expandedRowKeys$ | async"
		[permissions]="participantListService.permissions$ | async"
		(onSort)="participantListService.onSort($event)"
		(onAction)="participantListService.handleTableAction($event)"
	>

	</memo-expandable-table>
</div>
<ng-template #loading>
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
</ng-template>
