<ng-container *ngIf="!partOfForm">
	<div class="event-header" fxHide.gt-xs *ngIf="additionalItemInfo$ | async as info">
		<span class="event-title">
			{{info.title}}
		</span>
	</div>
</ng-container>
<div class="participants-header" fxLayout="row" *ngIf="!partOfForm">
	<mat-icon routerLink="../" fxHide.gt-xs>chevron_left</mat-icon>
	<div class="participants-header-title">
		<h1>Teilnehmerübersicht</h1>
		<span class="event-title" fxHide.lt-sm *ngIf="additionalItemInfo$ | async as info">
			von <a routerLink="../">{{info.title}}</a>
		</span>
	</div>
	<span fxFlex="grow"></span>
	<button mat-icon-button type="button" [matMenuTriggerFor]="configMenu" fxHide.gt-xs>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-checkbox fxHide.lt-sm [formControl]="showCancelledFormControl">Zeige stornierte</mat-checkbox>
</div>

<mat-menu #configMenu>
	<div mat-menu-item (click)="$event.stopPropagation()">
		<mat-checkbox [formControl]="showCancelledFormControl">Zeige stornierte</mat-checkbox>
	</div>
</mat-menu>


<memo-participants-category-selection *ngIf="!partOfForm">

</memo-participants-category-selection>

<memo-expandable-material-table class="mat-elevation-z3" #participantsTable *ngIf="columns$ | async as columns"
								[dataSource]="dataSource"
								[dataService]="participantUserService"
								[filter$]="filter$"
								[selectedActions]="selectedActions"
								[rowActions]="rowActions$ | async"
								[withMultiEdit]="true"
								[title]="'Teilnehmer'"
								[columns]="columns"
								[displayedColumns]="displayedColumns$ | async"
								[permissions]="participantListService.permissions$ | async"
								(onAction)="participantListService.handleTableAction($event)"
								emptyStateIcon="person"
								emptyStateHeader="Keine Teilnehmer"
								emptyStateSubtitle="Bis jetzt hat sich keiner für dieses Event angemeldet"
>
</memo-expandable-material-table>

<mat-menu #bulkEditingMenu="matMenu">
	<button mat-menu-item type="button" (click)="openBulkEdit('status')">
		Status bearbeiten
	</button>
	<ng-container *ngLet="participantListService.eventInfo$ | async as eventInfo">
		<ng-container *ngIf="eventInfo.eventType === 'tours'">
			<button mat-menu-item type="button" (click)="openBulkEdit('isDriver')">
				Fahrerstatus bearbeiten
			</button>
			<button mat-menu-item type="button" (click)="openBulkEdit('needsTicket')">
				Ticketwunsch bearbeiten
			</button>
		</ng-container>
	</ng-container>
</mat-menu>

<ng-template #statusInput>
	<mat-form-field appearance="outline" class="small-outline-formfield">
		<mat-select [formControl]="statusFormControl" placeholder="Diverse">
			<mat-option *ngFor="let option of availableStatus" [value]="option.status">
				{{option.text}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="statusFormControl.hasError('required')">
			Bitte wähle einen Wert aus.
		</mat-error>
	</mat-form-field>
</ng-template>
<ng-template #isDriverInput>
	<mat-checkbox [formControl]="isDriverFormControl">
		Ist Fahrer
	</mat-checkbox>
</ng-template>
<ng-template #needsTicketInput>
	<mat-checkbox [formControl]="needsTicketFormControl">
		Braucht ein Stadion Ticket
	</mat-checkbox>
</ng-template>

<memo-waiting-list>

</memo-waiting-list>
