$breakpoint: 600px;

.participant-table-container {

	@media all and (min-width: $breakpoint) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

memo-expandable-material-table {
	width: 100%;
}
