@import "~@angular/material/theming";


//todo redesign: filter options, important data above details table
$breakpoint: 600px;

.participant-overview {
	width: 100%;
}

:host {
	display: block;
	max-width: 800px;
	margin: auto;
	padding: 16px;
	@media all and (min-width: $breakpoint) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

memo-expandable-material-table {
	width: 100%;
	background: white;
	margin-top: 1rem;
}

memo-waiting-list {
	display: block;
	width: 100%;
	margin-top: 16px;
}
