<form #searchForm="ngForm"
	  [class.expanded-mobile]="mobileExpanded"
	  (ngSubmit)="inputState === searchInputState.INACTIVE ? toggleInputState() : onSearch()">
	<button mat-icon-button
			type="submit"
			#searchButton
			attr.aria-label="{{inputState === searchInputState.ACTIVE ? 'Suchen' : 'Öffne Suchinput'}}"
			title="{{inputState === searchInputState.ACTIVE ? 'Suchen' : 'Öffne Suchinput'}}"
			*ngIf="!mobileExpanded"
			class="search-button">
		<mat-icon class="cart-icon">
			search
		</mat-icon>
	</button>
	<button mat-icon-button
			type="button"
			attr.aria-label="Suchinput schließen"
			title="Suchinput schließen"
			class="back-button"
			*ngIf="mobileExpanded"
			(click)="toggleInputState()"
	>
		<mat-icon>
			arrow_back
		</mat-icon>
	</button>
	<mat-form-field
		*ngIf="inputState === searchInputState.ACTIVE"
		[@searchInputState]="screenState$ | async"
		class="search-input" [color]="'accent'">
		<input matInput
			   title="Sucheingabe"
			   #searchInput
			   id="searchInput"
			   name="searchInput"
			   [(ngModel)]="model.searchInput"
			   autocomplete="off">
		<mat-icon matSuffix *ngIf="!mobileExpanded"
				  attr.aria-label="Suchinput schließen"
				  title="Suchinput schließen"
				  class="cart-icon ripple" (click)="toggleInputState()">
			clear
		</mat-icon>
	</mat-form-field>
	<button mat-icon-button type="button" *ngIf="mobileExpanded"
			attr.aria-label="Input löschen"
			title="Input löschen"
			(click)="model.searchInput=''">
		<mat-icon>clear</mat-icon>
	</button>
</form>
