@import "theme";

.search-input {
	font-size: font-size(default);
	width: 200px;

	@media all and (max-width: 340px) {
		width: 130px;
	}

}

.material-icons {
	vertical-align: middle;
}

:host /deep/ .small-outline-formfield.mat-form-field-appearance-outline .mat-form-field-wrapper .mat-form-field-flex {
	border-radius: 500px;
	background: white;

	height: 32px;
	font-size: font-size(smaller);
	padding-left: 16px;
	padding-right: 4px;
}

mat-form-field {

	border-radius: 500px !important;

	/deep/ .mat-form-field-outline {
		border-radius: 500px !important;
	}

	/deep/ .mat-form-field-outline-start {
		border-radius: 500px 0 0 500px;
		min-width: 24px;
	}

	/deep/ .mat-form-field-outline-end {
		border-radius: 0 500px 500px 0;
	}
}


form:not(.expanded-mobile) {
	.cart-icon {
		height: 20px;
		width: 20px;
		font-size: 20px;
		cursor: pointer;
	}

	/*change size of hamburger menu*/
	.material-icons {
		height: 24px;
		width: 24px;
		font-size: 24px;
	}
}

.search-input {
	color: black;
}

.expanded-mobile {
	display: flex;
	align-items: center;

	> button {
		margin: auto;
	}

	::ng-deep .mat-input-wrapper {
		padding-bottom: calc(64px / 2 - 16px) !important;
	}

	::ng-deep .mat-input-underline {
		background: none;
	}

	::ng-deep .mat-input-ripple {
		visibility: hidden !important;
	}

	mat-form-field {
		width: calc(100% - 50px);
	}
}

@media all and (min-width: 600px) {
	form {
		color: black;
	}
}
