@import "theme";

.search-input {
	font-size: font-size(default);
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	width: 200px;

	@media all and (max-width: 340px) {
		width: 130px;
	}

}

.material-icons {
	vertical-align: middle;
}

form:not(.expanded-mobile) {
	.cart-icon {
		height: 20px;
		width: 20px;
		font-size: 20px;
		cursor: pointer;
	}

	/*change size of hamburger menu*/
	.material-icons {
		height: 24px;
		width: 24px;
		font-size: 24px;
	}
}

.expanded-mobile {
	display: flex;

	> button {
		margin: auto;
	}
	::ng-deep .mat-input-wrapper {
		padding-bottom: calc(64px / 2 - 16px) !important;
	}

	::ng-deep .mat-input-underline {
		background: none;
	}

	::ng-deep .mat-input-ripple {
		visibility: hidden !important;
	}

	mat-form-field {
		width: calc(100% - 50px);
	}
}
