<!--todo etwas anzeigen wenn keine comments vorhanden-->

<div class="comment-block-container" *ngIf="comment$ | async; let commentObject">
	<div class="main-comment-container" *ngIf="author$ | async; let author">
		<a class="comment-image-container" routerLink="/members/{{author.id}}">
			<img class="comment-image" [ngClass]="{'dummy': dummy}" src="{{author.imagePath}}"/>
		</a>
		<div class="comment-container">
			<div class="comment-header">
				<div class="comment-header-info">
					<a class="comment-author-name" routerLink="/members/{{author.id}}">{{author.firstName + ' ' +
						author.surname}}</a>

					<div class="comment-timestamp secondary-text"
						 title="{{commentObject.timeStamp | moment:'DD.MM.YYYY HH:mm:ss'}}">
						{{commentObject.timeStamp.locale("de").fromNow()}}
					</div>
				</div>
			</div>
			<div class="comment-body">
				<!--todo directive that transforms @Username mentions to links?-->
				{{commentObject.text}}

				<div class="bubble-loader" *ngIf="dummy">
					submitting...
				</div>
			</div>
			<div class="comment-footer" [ngClass]="{'dummy': dummy}">
				<span (click)="replyToComment(commentObject)">Antworten</span>
			</div>
		</div>


		<!--todo only show if logged in user is author of comment or admin-->
		<!--todo edit => inline editing-->
		<div class="comment-options"
			 [style.visibility]="((loggedInUser$ | async)?.id === author.id && !dummy) ? 'visible' : 'hidden'"
			 [ngClass]="{'show-element': isTouchDevice()}">

			<md-icon
				[mdMenuTriggerFor]="menu">
				more_horiz
			</md-icon>
			<!--todo md-menu-->
			<!--(loggedInUser$ | async)?.id === author.id-->

			<md-menu #menu="mdMenu" xPosition="before">
				<button md-menu-item type="button" (click)="editComment(commentObject)">
					<md-icon>edit</md-icon>
					<span>Bearbeiten</span>
				</button>
				<button md-menu-item type="button" (click)="deleteCurrentComment()">
					<md-icon>delete</md-icon>
					<span>Löschen</span>
				</button>
			</md-menu>
		</div>
	</div>

	<div class="reply-form-container child-comments-container"
		 *ngIf="loggedInUser !== null && showReplyBox && !dummy && !showChildren">
		<memo-comment-input (submitComment)="addComment($event, commentObject.id)"
							(closeSubmitComment)="showReplyBox = false"
							[author]="loggedInUser"
							[focus]="true"
							[commentText]="''">

		</memo-comment-input>
	</div>

	<div class="child-comments-container" *ngFor="let children of [children$ | async]">
		<div class="show-children-button-container" *ngIf="children?.length > 0">
			<span (click)="showChildren = !showChildren; showReplyBox = showChildren ? showReplyBox : false">
				<span *ngIf="!showChildren; else hideChildren">
					Zeige {{children?.length}} Antwort{{children?.length > 1 ? 'en' : ''}}
				</span>
				<ng-template #hideChildren>
					<span>Verstecke {{children?.length}} Antwort{{children?.length > 1 ? 'en' : ''}}</span>
				</ng-template>
			</span>
		</div>
		<div *ngIf="showChildren">
			<div>
				<memo-comment-block *ngFor="let child of children; trackBy:trackCommentBy"
									[parentId]="commentObject.id"
									(onDelete)="deleteChildComment($event)"
									(onAddComment)="addComment($event.commentText, $event.parentCommentId)"
									[comment]="child"></memo-comment-block>

				<ng-template [ngIf]="loadingChildren">
					<memo-comment-block
						[parentId]="commentObject.id"
						[comment]="dummyComment"
						[dummy]="true"
					>

					</memo-comment-block>
				</ng-template>

				<div class="reply-form-container" *ngIf="loggedInUser !== null && showReplyBox">
					<memo-comment-input (submitComment)="addComment($event, commentObject.id)"
										(closeSubmitComment)="showReplyBox = false"
										[author]="loggedInUser"
										[focus]="true"
										[commentText]="''">

					</memo-comment-input>
				</div>
			</div>
		</div>
	</div>

</div>
