@import "../../../../../../theme";
@import "~@angular/material/theming";

.comment-block-container {
	margin: 12px 0;
}

.main-comment-container {
	display: flex;
	position: relative;

	.comment-options {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
	}

	.comment-image-container {

		@media all and (max-width: 800px) {
			margin-left: 5px;
		}

		.comment-image {
			border-radius: 50%;
			border: 1px solid #c1c1c1;
			width: 40px;
			height: 40px;

			&.dummy {
				filter: grayscale(100%);
			}
		}

	}
	.comment-container {
		width: 100%;
		margin-left: 10px;

		.comment-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			> .comment-header-info {
				display: flex;
				align-items: center;
				margin-right: 5px;
				width: 100%;
				//justify-content: space-between;

				.comment-author-name /deep/ a,
				.comment-author-name {
					font-weight: bold;
					font-size: 0.8rem;
					text-decoration: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: black;

					&:hover {
						text-decoration: underline;
					}
				}

				.comment-timestamp {
					margin-left: 10px;
					font-size: 0.7rem;
				}
			}
		}

		.comment-body {
			font-size: 0.85rem;
			margin: 5px 0 8px;
		}

		.comment-footer {
			display: flex;
			align-items: center;
			font-size: 0.8rem;
			color: grey;

			span {
				margin-left: 5px;

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			&.dummy {
				span {
					color: grey;
					cursor: not-allowed;
				}
			}
		}
	}
}

.show-children-button-container {
	margin: 6px 0 0;
	color: black;
	font-size: .9rem;
	font-weight: bold;

	> span > span:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.child-comments-container {
	margin-left: 50px;

	@media all and (max-width: 800px) {
		border-left: 5px solid mat-color($primary);
		margin: 0 0 10px;
	}

	&.reply-form-container {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

.dummy-comment-text:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	animation: ellipsis steps(6, end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
