@import "theme";

:host {
	display: block;
	background: white;
	padding: 1rem;
	border-bottom: 1px solid grey(200);
}

memo-event-autocomplete {
	display: block;
	margin-bottom: 16px;
}

.tour-checkboxes {
	flex-direction: column;
}

form > div {
	display: flex;
	justify-content: space-between;

	&.form-actions {
		justify-content: flex-end;
		margin-top: 15px;

		button:last-child {
			margin-left: 10px;
		}
	}
}

@media all and (max-width: 450px) {
	.price-container {
		.base-price-container {
			mat-form-field {
				width: 150px;
			}
		}
	}
}

.discounted-price-container {
	width: 100%;
}

.discounted-price {
	display: flex;
	align-items: center;
	height: 30px;
}

