<div class="section">
	<a class="item-container" routerLink="{{getEventData(orderedItem?.item).link}}">
		<img
			[lazySrc]="(orderedItem?.item.images.length > 0)
				? orderedItem?.item.images[0]
				: 'resources/images/Logo.png'"
			lazySrcVisible="visible"
			class="item-image"/>
		<div class="labelled-value">
			<span class="label">Item</span>
			<span class="item-title">{{orderedItem?.item.title}}</span>
		</div>
	</a>
	<button mat-icon-button type="button" class="overflow-menu"
			(click)="$event.stopPropagation(); false"
			[matMenuTriggerFor]="menu">
		<mat-icon>
			more_vert
		</mat-icon>
	</button>
</div>


<div class="section right-aligned">
	<div class="options-container">
		<ng-container *ngIf="getEventData(orderedItem?.item).type === eventType.tours;">
			<div class="labelled-value">
				<span class="label">Fahrer?</span>
				<span>{{orderedItem.isDriver ? 'Ja' : 'Nein'}}</span>
			</div>
			<div class="labelled-value">
				<span class="label">Braucht Ticket?</span>
				<span>{{orderedItem.needsTicket ? 'Ja' : 'Nein'}}</span>
			</div>
		</ng-container>
		<ng-container *ngIf="getEventData(orderedItem?.item).type === eventType.merch;">
			<div class="labelled-value">
				<span class="label">Größe</span>
				<span>{{orderedItem?.size}}</span>
			</div>
			<div class="labelled-value">
				<span class="label">Farbe</span>
				<span>{{orderedItem?.color?.name}}</span>
			</div>
		</ng-container>
	</div>

	<div class="options-container">
		<div class="labelled-value right-aligned">
			<span class="label">Status</span>
			<span class="status {{orderToString(orderedItem?.status)}}">
				{{orderToString(orderedItem?.status)}}
			</span>
		</div>
		<div class="price labelled-value right-aligned">
			<span class="label">Preis</span>
			<span>{{orderedItem.price | currency:'EUR':'symbol'}}</span>
		</div>
	</div>
</div>

<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="onEdit.emit(true)">
		<mat-icon>edit</mat-icon>
		<span>Bearbeiten</span>
	</button>
	<button mat-menu-item type="button" (click)="remove()">
		<mat-icon>delete</mat-icon>
		<span>Löschen</span>
	</button>
</mat-menu>
