@import "../../../../mixins";

.cart {
	@include card-like();
}

.cart-title {
	font-size: 1.3rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;


}

.cart-total-price {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}


.btn-flexbox {
	display: flex;
	justify-content: flex-end;
	margin-right: 1.05rem;
}

