@import "theme";
@import "mixins";
@import "variables";

.cart {
	> mat-card {
		background: $container-content--background-color;
		color: $container-content--color;
	}

	@media all and (min-width: 600px) {
		display: flex;
		justify-content: center;
		margin-top: 25px;
		margin-bottom: 25px;

		> mat-card {
			max-width: 500px;
			width: 500px;
		}
	}
}

.cart-total-price {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 32px;
	border-top: 1px solid grey(300);
	margin-left: -16px;
	margin-right: -16px;
	padding: 16px;

	span:not(.total-amount-value) {
		color: grey(700);
		margin-right: 8px;
		font-size: font-size(smaller);
	}

	span {
		font-size: font-size(small-medium);
	}

	.total-amount-value {
		font-weight: bold;
	}
}

.btn-flexbox {

	> a {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

