<div class="cart">
	<md-card>
		<span class="cart-title">Warenkorb:</span>
		<div *ngIf="shoppingCartItems|async as events">
			<memo-cart-entry *ngFor="let tour of events.tours" [cartItem]="tour">

			</memo-cart-entry>
			<memo-cart-entry *ngFor="let merch of events.merch" [cartItem]="merch">

			</memo-cart-entry>
			<memo-cart-entry *ngFor="let party of events.partys" [cartItem]="party">

			</memo-cart-entry>
		</div>
		<div class="cart-total-price">Gesamtsumme: <span>{{totalAmount|async}} €</span></div>
	</md-card>
</div>
<div class="btn-flexbox">
	<a md-raised-button color="primary" routerLink="/checkout"> Zur Kasse </a>
</div>
