@import "../../../../mixins";

.cart{
	@media all and (min-width: 600px){
		display: flex;
		justify-content: center;
		margin-top: 25px;

		> md-card{
			max-width: 500px;
			width: 500px;
		}
	}
}

.cart-title {
	//padding-bottom: 10px;
	//margin: 0 0 10px;
	//font-weight: 200;
	//border-bottom: 1px solid #E0E0E0;


	font-weight: 200;
	border-bottom: 1px solid #E0E0E0;
	background-color: #0d47a1;
	color: white;
	padding: 24px 16px 10px 24px;
	margin: -24px -24px 10px !important;

	@media all and (max-width: 600px){
		margin-left: -16px !important;
		margin-right: -16px !important;
	}
}

.cart-total-price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	margin-top: 1.5rem;

	span:not(.total-amount-value){
		font-weight: 500;
	}

	span{
		font-size: 1.2rem;
	}

	.total-amount-value{
		font-weight: bold;
	}
}

.btn-flexbox {

	> a {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

