<div class="cart" *ngLet="shoppingCartItems|async as events">
	<mat-card class="container"
			  *ngIf="events && (events.merch.length > 0 || events.tours.length > 0 || events.partys.length > 0); else emptyState">
		<div class="container--header">
			<h3>Warenkorb</h3>
		</div>
		<div>
			<memo-cart-entry *ngFor="let tour of events.tours" [cartItem]="tour">

			</memo-cart-entry>
			<memo-cart-entry *ngFor="let merch of events.merch" [cartItem]="merch">

			</memo-cart-entry>
			<memo-cart-entry *ngFor="let party of events.partys" [cartItem]="party">

			</memo-cart-entry>
		</div>
		<div class="cart-total-price">
			<span>Gesamt: </span>
			<span class="total-amount-value">{{(totalAmount$|async)?.toFixed(2)}} €</span>
		</div>

		<div class="btn-flexbox">
			<a mat-raised-button color="accent"
			   [disabled]="(amountOfItems$|async) === 0"
			   [class.disabled]="(amountOfItems$|async) === 0"
			   routerLink="/checkout">
				{{'Zur Kasse'|uppercase}}
			</a>
		</div>
	</mat-card>

	<ng-template #emptyState>
		<memo-data-container [empty]="true"
							 [largeEmptyState]="true"
							 emptyStateIcon="shopping_cart"
							 emptyStateHeadline="Dein Warenkorb ist leer"
							 emptyStateSubtitle="Gehe zum Shop, um dies zu ändern!">
			<memo-data-empty-state-actions>
				<a routerLink="/shop" mat-raised-button color="accent">Zum Shop</a>
			</memo-data-empty-state-actions>
		</memo-data-container>
	</ng-template>
</div>
