<mat-toolbar color="primary">
	<div class="mobile-toolbar" *ngIf="!(searchIsExpanded$ | async)">
		<!--The left side-->
		<div>
			<!--The left side is hidden when the screen size is larger than small -->
			<div class="menu ripple" (click)="sideBarChanged()">
				<mat-icon class="material-icons">menu</mat-icon>
			</div>
		</div>
	</div>
	<div class="desktop-toolbar meilenwoelfe-logo">
		<a mat-button routerLink="/">
			<img src="../../../../resources/images/Logo.png"/>
		</a>
		<span>
			<!--todo -->
			<!--Meilenwölfe e.V.-->
		</span>
	</div>

	<span class="navigation-fill-remaining-space navigation-left-space"></span>

	<div class="toolbar-actions" [class.expanded-mobile]="searchIsExpanded$ | async">
		<memo-search-input (onFocus)="expandSearchBar($event)" [mobileExpanded]="searchIsExpanded$ | async">

		</memo-search-input>
	</div>

	<div class="desktop-toolbar">
		<!--The right side-->
		<memo-toolbar-element *ngFor="let link of (links|async);" [link]="link">
		</memo-toolbar-element>
	</div>

	<div class="toolbar-action cart" *ngIf="!(searchIsExpanded$ | async)">
		<memo-badge [value]="shoppingCartContent | async">
			<a mat-icon-button routerLink="/cart" attr.aria-label="Warenkorb" title="Warenkorb">
				<mat-icon class="cart-icon ">
					shopping_cart
				</mat-icon>
			</a>
		</memo-badge>
	</div>

	<div class="desktop-toolbar">
		<memo-toolbar-profile-link></memo-toolbar-profile-link>
	</div>

</mat-toolbar>
