@import "theme";

//todo redesign: find a more fun way to present this data

button {
	width: 100%;
}

a {
	text-decoration: none;
}

.no-tours {
	padding: 1rem;
	text-align: center;
	color: grey(700);
}

mat-list-item img {
	object-fit: cover;
}

mat-list-item:hover {
	background: grey(100);
}
