
button {
	width: 100%;
}

a {
	text-decoration: none;
}

.no-tours {
	padding: 1rem;
	text-align: center;
	color: grey;
}

mat-list-item img {
	object-fit: cover;
}

mat-list-item:hover {
	background: #ededed;
}
