<h1>Impressum</h1>
<mat-divider></mat-divider>
<h2>Angaben gem&auml;&szlig; &sect; 5 TMG:</h2> <p>Meilenw&ouml;lfe
	e.V.<br/> Alte Bahnhofstra&szlig;e 37<br/> 38470 Croya</p> <h2>Vertreten durch:</h2>
<p>Meilenw&ouml;lfe e.V. vertreten durch die beiden Vorsitzenden S&ouml;ren Henke und Kevin
	Krause</p> <h2>Kontakt:</h2> <p>E-Mail: vorstand@meilenwoelfe.de</p> <h2>Registereintrag:</h2>
<p>Eintragung im Vereinsregister. <br/> Registergericht:Amtsgericht Braunschweig <br/>
	Registernummer: 201516</p> <h2>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV:</h2>
<p>P&ouml;cking, Nils<br/> Gro&szlig;e Diesdorfer Str. 26<br/> 39108 Magdeburg</p>
<h2>Streitschlichtung</h2> <p>Die Europ&auml;ische Kommission stellt eine Plattform zur OnlineStreitbeilegung
	(OS) bereit: <a href="https://ec.europa.eu/consumers/odr"
					target="_blank">https://ec.europa.eu/consumers/odr</a><br/> Unsere E-Mail-Adresse finden Sie oben im
	Impressum.</p> <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
	Verbraucherschlichtungsstelle teilzunehmen.</p> <h2>Haftung f&uuml;r Inhalte</h2> <p>Als
	Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten
	nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als
	Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu
	&uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit
	hinweisen.</p> <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach
	den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch
	erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden
	von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<h2>Haftung f&uuml;r Links</h2> <p>Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf
	deren Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch
	keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige
	Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
	Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige Inhalte
	waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p> <p>Eine permanente inhaltliche Kontrolle der
	verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
	Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
<h2>Urheberrecht</h2> <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
	unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede
	Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen
	Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r
	den privaten, nicht kommerziellen Gebrauch gestattet.</p> <p>Soweit die Inhalte auf dieser Seite nicht
	vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
	Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam
	werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
	werden wir derartige Inhalte umgehend entfernen.</p> <p>Quelle: <a href="https://www.e-recht24.de">erecht24.de</a>
</p>


<h1>Datenschutzerkl&auml;rung</h1> <h2>Datenschutz</h2> <p>Die Betreiber dieser Seiten nehmen
	den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
	vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
	Datenschutzerkl&auml;rung.</p> <p>Die Nutzung unserer Website ist in der Regel ohne Angabe
	personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
	(beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit
	m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung
	nicht an Dritte weitergegeben.</p> <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
	(z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser
	Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p><p>&nbsp;</p>
<h2>Cookies</h2> <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf
	Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
	nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
	Rechner abgelegt werden und die Ihr Browser speichert.</p> <p>Die meisten der von uns verwendeten
	Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
	gel&ouml;scht. Andere Cookies bleiben auf Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen.
	Diese Cookies erm&ouml;glichen es uns, Ihren Browser beim n&auml;chsten Besuch
	wiederzuerkennen.</p> <p>Sie k&ouml;nnen Ihren Browser so einstellen, dass Sie &uuml;ber das Setzen
	von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r
	bestimmte F&auml;lle oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der
	Cookies beim Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung von Cookies kann die
	Funktionalit&auml;t dieser Website eingeschr&auml;nkt sein.</p><p>&nbsp;</p> <h2>Server-LogFiles</h2>
<p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
	Server-Log Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p>
<ul>
	<li>Browsertyp und Browserversion</li>
	<li>verwendetes Betriebssystem</li>
	<li>Referrer URL</li>
	<li>Hostname des zugreifenden Rechners</li>
	<li>Uhrzeit der Serveranfrage</li>
</ul> <p>Diese Daten
	sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
	Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu
	pr&uuml;fen, wenn uns konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt
	werden.</p><p>&nbsp;</p> <h2>Kontaktformular</h2> <p>Wenn Sie uns per Kontaktformular Anfragen
	zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort
	angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und f&uuml;r den Fall von Anschlussfragen
	bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p><p>&nbsp;</p>
<h2>Newsletterdaten</h2> <p>Wenn Sie den auf der Website angebotenen Newsletter beziehen
	m&ouml;chten, ben&ouml;tigen wir von Ihnen eine E-Mail-Adresse sowie Informationen, welche uns die
	&Uuml;berpr&uuml;fung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit
	dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten
	verwenden wir ausschlie&szlig;lich f&uuml;r den Versand der angeforderten Informationen und geben sie
	nicht an Dritte weiter.</p> <p>Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse
	sowie deren Nutzung zum Versand des Newsletters k&ouml;nnen Sie jederzeit widerrufen, etwa
	&uuml;ber den "Austragen"-Link im Newsletter.</p><p>&nbsp;</p> <h2>Kommentarfunktion auf dieser
	Website</h2> <p>F&uuml;r die Kommentarfunktion auf dieser Seite werden neben Ihrem Kommentar
	auch Angaben zum Zeitpunkt der Erstellung des Kommentars, Ihre E-Mail-Adresse und, wenn Sie nicht
	anonym posten, der von Ihnen gew&auml;hlte Nutzername gespeichert.</p> <p>&nbsp;</p> <h2>
	SSLVerschl&uuml;sselung</h2>
<p>Diese Seite nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der
	&Uuml;bertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber
	senden, eine SSL-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennen Sie daran, dass
	die Adresszeile des Browsers von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem
	Schloss-Symbol in Ihrer Browserzeile.</p> <p>Wenn die SSL Verschl&uuml;sselung aktiviert ist,
	k&ouml;nnen die Daten, die Sie an uns &uuml;bermitteln, nicht von Dritten mitgelesen
	werden.</p><p>&nbsp;</p> <h2>Recht auf Auskunft, L&ouml;schung, Sperrung</h2> <p>Sie haben
	jederzeit das Recht auf unentgeltliche Auskunft &uuml;ber Ihre gespeicherten personenbezogenen Daten,
	deren Herkunft und Empf&auml;nger und den Zweck der Datenverarbeitung sowie ein Recht auf
	Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
	personenbezogene Daten k&ouml;nnen Sie sich jederzeit unter der im Impressum angegebenen Adresse
	an uns wenden.</p><p>&nbsp;</p> <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
