:host {
	display: block;
	min-height: calc(100vh - 128px);
}


memo-expandable-material-table {
	max-width: 700px;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: white;
	margin: 8px;

	@media all and (min-width: 700px) {
		margin: 1rem auto auto;
	}
}
