@import "theme";

:host {
	display: flex;
	justify-content: space-between;
	color: grey(900);
	padding: 1rem;

	background: grey(100);

	> button,
	> .object-title > span {
		font-size: font-size(medium);
	}

	button {
		margin-top: -8px;
	}

	.responsible-person {
		font-size: font-size(smallest);
		color: grey(700);
		display: flex;

		> span {
			margin-right: 5px;
		}

		memo-profile-link {
			&:not(:last-child)::after {
				content: ",";
				color: accent();
				margin-left: -2px;
			}
		}
	}

	@media all and (min-width: 650px) {
		border-radius: 4px 4px 0 0;
	}
}
