@import "~@angular/material/theming";
@import "theme";

:host {
	display: flex;
	justify-content: center;
}

.container {
	max-width: 800px;
}

.container--body {
	padding: 1rem;

	p:first-child {
		margin-top: 0;
	}
}

form {
	display: flex;
	flex-direction: column;
}

form,
.success-message,
.error-message {
	margin: auto;
	max-width: 400px;
}

.success-message {
	color: primary();
}

@media all and (min-width: 600px) {
	:host {
		padding: 1rem 0;
	}
}
