<h1>Mitgliedsstatus ändern</h1>
<p>Bist du bereits Mitglied, bist im Shop aber noch als Gast gespeichert? Oder wurdest du vom Mitglied zum Vorstand
	befördert und dein Status ist noch nicht aktualisiert? Und den <a href="mailto:admin@meilenwoelfe.de">Administrator
		persönlich anschreiben</a> ist dir zu viel Aufwand?</p>
<p>Dann beantrage mithilfe des untenstehenden Formulars einen Mitgliedsstatusänderung!</p>

<form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="!success">
	<mat-form-field>
		<mat-select [formControl]="formGroup.get('newRole')" placeholder="Neue Rolle">
			<mat-option *ngFor="let role of clubRoles" [value]="role">
				{{role}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="formGroup.get('newRole').hasError('hasNotChanged')">
			Du bist bereits {{formGroup.get('newRole').value}}!
		</mat-error>
	</mat-form-field>
	<button mat-raised-button [disabled]="!formGroup.valid || formGroup.pending" color="primary">
		<span *ngIf="!loading; else loadingSpinner">Änderung beantragen</span>
		<ng-template #loadingSpinner>
			<mat-icon class="loading-spinner">refresh</mat-icon>
			<span>Übermittelt...</span>
		</ng-template>
	</button>
</form>

<div class="success-message" *ngIf="success && !error">
	<p>Die Statusänderung von {{previousValue}} zu {{formGroup.get('newRole').value}} wurde erfolgreich
		übermittelt!</p>
	<p>Bis die Änderung durchgeführt wird, musst du dich aber noch gedulden.</p>
</div>

<div class="error-message" *ngIf="!success && error">
	<p>Bei der Übermittlung der Statusänderung ist ein Fehler aufgetreten. Bitte probiere es in einigen Momenten noch
		mal.</p>
</div>
