<div *ngIf="type === ListFormType.COLOR; else textList">
	<!--<div class="color-list-title">{{title}} (Maximal 5)</div>-->
	<div class="color-list-container">
		<div class="color-list">
			<div *ngFor="let color of list"
				 (click)="openColorDialog(color)"
				 [style.background-color]="color.hex">
			</div>
		</div>
		<button md-icon-button [disabled]="!list || list.length >= 5"
				type="button" color="primary" (click)="openColorDialog(); $event.stopPropagation()">
			<md-icon>add_box</md-icon>
		</button>
	</div>
</div>

<ng-template #textList>
	<div>
		{{list}}
	</div>
</ng-template>
