<div *ngIf="userObservable | async as user" class="checkout-container">
	<md-card>
		<div class="title"> Wähle die Rechnungsadresse:</div>

			<md-radio-button class="radio-button">
				<div class="adress">
			<div>{{user.firstName}} {{user.surname}}</div>
			<div>Große Diesdorfer Str. 26</div>
			<div>39108 Magdeburg</div>
				</div>
			</md-radio-button>

		<div class="adress">
			<md-radio-button>
			<div>{{user.firstName}} {{user.surname}}</div>
			<div>Helmstedter Str.26</div>
			<div>39126 Magdeburg</div>
			</md-radio-button>
		</div>
		<a md-raised-button color="primary"> Neue Adresse hinzufügen </a>
		<md-input-container
			[dividerColor]="(firstName.touched && firstName.invalid) ? 'warn' : 'primary'">
			<input mdInput
				   placeholder="Vorname"
				   type="text"
				   name="firstName"
				   #firstName="ngModel"
				   [(ngModel)]="model.firstName"
				   required>
		</md-input-container>
		<md-input-container
			[dividerColor]="(surname.touched && surname.invalid) ? 'warn' : 'primary'">
			<input mdInput
				   placeholder="Nachname"
				   type="text"
				   name="surname"
				   #surname="ngModel"
				   [(ngModel)]="model.surname"
				   required>
		</md-input-container>
	</md-card>
</div>
