<h3>Bezahlmethoden</h3>

<form (ngSubmit)="submit()" #debitInputForm="ngForm" novalidate>

	<!--	todo use same component as checkout -->
	<memo-radio-selection [options]="paymentMethods | slice:0:1" (onSelected)="paymentMethod = $event">
	</memo-radio-selection>

	<memo-debit-input-form *ngIf="paymentMethod && paymentMethodValues[paymentMethod] === 'debit'"
						   [name]="(user.firstName && user.surname) ? user.firstName + ' ' + user.surname : ''"
						   (onChange)="saveDebitInfo($event)">
	</memo-debit-input-form>

	<button mat-raised-button type="submit" color="{{debitFormIsValid ? 'primary' : 'accent'}}">
		<mat-icon *ngIf="loading" class="loading-spinner">refresh</mat-icon>
		{{debitFormIsValid ? 'Registrierung abschließen' : 'Überspringen und abschließen'}}
	</button>
</form>
