<h3>Bezahlmethoden</h3>

<form (ngSubmit)="submit()" #debitInputForm="ngForm" novalidate>

	<div class="payment-method-choice">
		<div *ngFor="let method of paymentMethods|slice:0:1"
			 class="payment-method-option"
			 (click)="paymentMethod = method"
			 [ngClass]="{'selected-payment-method': paymentMethod === method}"
			 [style.width]="90/(paymentMethods.length) + '%'">
			{{method.name}}
		</div>
	</div>

	<memo-debit-input-form *ngIf="paymentMethod && paymentMethod.value === 'debit'"
						   [name]="(user.firstName && user.surname) ? user.firstName + ' ' + user.surname : ''"
						   (onChange)="saveDebitInfo($event)">
	</memo-debit-input-form>

	<button mat-raised-button type="submit" color="{{debitFormIsValid ? 'primary' : 'accent'}}">
		<mat-icon *ngIf="loading" class="loading-spinner">refresh</mat-icon>
		{{debitFormIsValid ? 'Registrierung abschließen' :'Überspringen und abschließen'}}
	</button>
</form>
