@import "theme";
@import "variables";

.event-list-view-container {
	background-color: $container-content--background-color;
	margin-bottom: 1rem;
	color: grey(600);

	@media all and (min-width: 650px) {

		memo-results-entry {
			margin: 0.2rem;

			::ng-deep img {
				height: 150px !important;
			}
		}
	}
}

.container--body {
	padding: 1rem;
}

.event-list-view-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media all and (max-width: 650px) {
	:host {
		::ng-deep .result-entry-container {
			box-shadow: none !important;
			margin: -1rem !important;
		}
	}
}

@media all and (min-width: 650px) {
	.event-list-container {
		display: flex;
		width: 100%;
		overflow-x: auto;
	}

}
