<div *ngFor="let key of groupedListKeys" class="container event-list-view-container mat-elevation-z3">
	<div class="event-list-view-title container--header">

		<h3>{{key}}</h3>

		<button mat-button color="accent" (click)="onAddCallback(key, groupedEventList[key])">
			Hinzufügen
		</button>
	</div>

	<div class="container--body event-list-container">
		<ng-container *ngIf="groupedEventList[key].length > 0; else noResults">
			<memo-results-entry *ngFor="let event of groupedEventList[key]" [result]="event"></memo-results-entry>
		</ng-container>
		<ng-template #noResults>
			Keine bevorstehenden Veranstaltungen!

		</ng-template>
	</div>
</div>
