
:host {
	overflow-y: auto;
}

md-radio-group{
	font-size: 0.95em;
	display: flex;
	flex-direction: column;

	> div{
		border-bottom: 1px solid #BDBDBD;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	md-radio-button{
		width: 90%;

		/deep/ .mat-radio-label{
			width: 100%;
		}
	}

	.address-information{
		display: flex;
		flex-direction: column;
	}

	.address-actions{
		display: flex;
		justify-content: center;
		padding: 10px;

		button:first-child{
			margin-right: 10px;
		}
	}

	button {
		position: absolute;
	}
}

a {
	width: 100%;
	//margin-top: 20px;
}


