
:host {
	overflow-y: auto;
}

md-radio-group{
	font-size: 0.95em;
	display: flex;
	flex-direction: column;

	> div{
		border-bottom: 1px solid #BDBDBD;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	md-radio-button{
		width: 100%;

		/deep/ .mat-radio-label{
			width: 100%;

			.mat-radio-label-content {
				width: 100%;
			}
		}
	}

	button {
		position: absolute;
	}
}

a {
	width: 100%;
	//margin-top: 20px;
}


