@import "theme";

$light-green: hsla(123, 41%, 90%, 1);


.card-container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-radius: 4px;
	min-width: 170px;
	flex: 1;

	background: primary();
	color: white;

	@include mat-elevation(3);
}

.number-card-icon {
	font-size: 72px;
	height: 72px;
	width: 72px;
	color: $light-green;
}

.number-card-label {
	color: $light-green;
	font-weight: 500;
	text-transform: uppercase;
	font-size: font-size(smaller);
}

.number-card-main {
	font-size: font-size(medium-large);
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: 500;
	color: white;
}

.number-change-container {
	color: $light-green;
	display: flex;
	align-items: flex-end;

	mat-icon {
		line-height: 16px;
		height: 16px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 4px;
	}

	.number-change {
		font-weight: 500;
		font-size: font-size(smaller);
		margin-right: 4px;
	}

	.change-subtext {
		font-size: font-size(smallest);
	}
}


:host {
	border-radius: 4px;

	&.with-link {
		cursor: pointer;
		transition: transform 0.2s ease-in;

		.card-container {
			transition: box-shadow 0.2s ease-in;
		}

		&:hover {
			transform: translateY(-3px);

			.card-container {
				@include mat-elevation(8);
			}
		}
	}

	&.negative {
		.card-container {
			background: warn(700);
		}

		.number-card-label,
		.number-change-container,
		.number-card-icon {
			color: hsla(0, 76%, 87%, 1);
		}

	}

	&.neutral {
		.card-container {
			background: white;
			color: grey(700);
		}

		.number-card-main{
			color: grey(900);
		}

		.number-card-label,
		.number-change-container {
			color: grey(600);
		}

		.number-card-icon {
			color: grey(400);
		}
	}
}
