@import "theme";

:host {
	--card-main-size: #{font-size(large)};

	&:not(.negative):not(.neutral) {
		&.positive-primary {
			//green
			--number-card-background: #{primary()};
			--on-card-default: white;
			--on-card-main: white;
			--on-card-light: hsla(123, 41%, 90%, 1);
			--on-card-icon: hsla(123, 41%, 90%, 1);
		}

		&.positive-accent {
			//blue
			--number-card-background: #{accent()};
			--on-card-default: white;
			--on-card-main: white;
			--on-card-light: hsla(231, 48%, 88%, 1);
			--on-card-icon: hsla(231, 48%, 88%, 1);
		}

		&.positive-warn {
			//red
			--number-card-background: #{warn(700)};
			--on-card-default: white;
			--on-card-main: white;
			--on-card-light: hsla(0, 76%, 87%, 1);
			--on-card-icon: hsla(0, 76%, 87%, 1);
		}
	}
}

:host.with-change {
	--card-main-size: #{font-size(medium-large)};
}

:host.negative {
	&.negative-primary {
		//green
		--number-card-background: #{primary()};
		--on-card-default: white;
		--on-card-main: white;
		--on-card-light: hsla(123, 41%, 90%, 1);
		--on-card-icon: hsla(123, 41%, 90%, 1);
	}

	&.negative-accent {
		//blue
		--number-card-background: #{accent()};
		--on-card-default: white;
		--on-card-main: white;
		--on-card-light: hsla(123, 41%, 90%, 1);
		--on-card-icon: hsla(123, 41%, 90%, 1);
	}

	&.negative-warn {
		//red
		--number-card-background: #{warn(700)};
		--on-card-default: white;
		--on-card-main: white;
		--on-card-light: hsla(0, 76%, 87%, 1);
		--on-card-icon: hsla(0, 76%, 87%, 1);
	}
}


:host.neutral {
	--number-card-background: white;
	--on-card-default: #{grey(700)};
	--on-card-main: #{grey(900)};
	--on-card-light: #{grey(600)};
	--on-card-icon: #{grey(400)};
}

:host.loading {
	--number-card-background: #{grey(200)} !important;
	--on-card-default: #{grey(700)} !important;
	--on-card-main: #{grey(900)} !important;
	--on-card-light: #{grey(600)} !important;
	--on-card-icon: #{grey(400)} !important;
}

.card-container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-radius: 4px;
	min-width: 170px;
	flex: 1;

	background: var(--number-card-background);
	color: var(--on-card-default);

	@include mat-elevation(3);
}

.number-card-icon {
	font-size: 72px;
	height: 72px;
	width: 72px;
	line-height: 72px;
	color: var(--on-card-icon);
}

.number-card-label {
	color: var(--on-card-light);
	font-weight: 500;
	text-transform: uppercase;
	font-size: font-size(smaller);
}

.number-card-main {
	font-size: var(--card-main-size);
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: 500;
	color: var(--on-card-main);
}

.number-change-container {
	color: var(--on-card-light);
	display: flex;
	align-items: flex-end;

	mat-icon {
		line-height: 16px;
		height: 16px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 4px;
	}

	.number-change {
		font-weight: 500;
		font-size: font-size(smaller);
		margin-right: 4px;
	}

	.change-subtext {
		font-size: font-size(smallest);
	}
}


:host {
	border-radius: 4px;

	&.with-link:not(.loading) {
		cursor: pointer;
		transition: transform 0.2s ease-in;

		.card-container {
			transition: box-shadow 0.2s ease-in;
		}

		&:hover {
			transform: translateY(-3px);

			.card-container {
				@include mat-elevation(8);
			}
		}
	}
}

:host .loading-text {
	display: none;
}

:host.loading {
	cursor: default;

	.card-container {
		pointer-events: none;
	}

	.main-text {
		display: none;
	}

	.loading-text {
		display: block;
	}
}
