
<div fxLayout="column">
	<span class="number-card-label">{{title}}</span>
	<span class="number-card-main">{{total | pipeFunction:render}}</span>
	<div class="number-change-container">
		<mat-icon>trending_{{change > 0 ? 'up' : change < 0 ? 'down' : 'flat'}}</mat-icon>
		<span class="number-change">
		{{change >= 0 ? '+' : ''}}{{change | pipeFunction:render}}
	</span>
		<span class="change-subtext">im letzten Monat</span>
	</div>

</div>

<mat-icon *ngIf="matIcon" class="number-card-icon">
	{{matIcon}}
</mat-icon>
<i *ngIf="faIcon" class="{{faIcon}} number-card-icon"></i>
