<div class="centered-container">
	<div class="object-overview-container" *ngIf="event">
		<div class="object-info-container">
			<div class="object-info" *ngFor="let overviewKey of overviewKeys">
				<div [ngSwitch]="overviewKey.pipe">
					<ng-template [ngSwitchCase]="'price'">{{getValue(overviewKey.key) | async | currency:'EUR':true}}
					</ng-template>
					<ng-template [ngSwitchCase]="'date'">{{getValue(overviewKey.key) | async | moment:'DD.MM.YYYY'}}</ng-template>
					<ng-template ngSwitchDefault>{{getValue(overviewKey.key) | async}}</ng-template>
				</div>
				<div class="secondary-text">
					{{overviewKey.label}}
				</div>
			</div>
		</div>
		<div class="add-to-cart-container">
			<form #addToCartForm="ngForm" (ngSubmit)="addOrDeleteFromCart(event)">
				<ng-template [ngIf]="isMerch(event)">
					<mat-select [(ngModel)]="color"
							   (change)="updateMaxAmount()"
							   placeholder="Farbe"
							   [required]="true"
							   name="colorSelectionInput">
						<mat-option *ngFor="let color of colorSelection$ | async"
								   [value]="color">
							{{color.name}}
						</mat-option>
					</mat-select>
					<mat-select [(ngModel)]="size"
							   (change)="updateMaxAmount()"
							   placeholder="Größe"
							   [required]="true"
							   name="sizeSelectionInput">
						<mat-option *ngFor="let size of sizeSelection$ | async" [value]="size">
							{{size}}
						</mat-option>
					</mat-select>
				</ng-template>

				<mat-select placeholder="Anzahl" name="amount"
						   [(ngModel)]="model.amount" (ngModelChange)="updateShoppingCart()"
						   [disabled]="!isMerch(event) && isPastEvent"
						   [required]="true">
					<mat-option *ngFor="let number of amountOptions" [value]="number">
						{{number}}
					</mat-option>
				</mat-select>

				<button [disabled]="(!addToCartForm.valid || model.amount === 0) || (!isMerch(event) && isPastEvent)"
						mat-raised-button
						color="{{(isPartOfShoppingCart) ? 'warn' : 'accent'}}"
						class="add-to-cart-button">
					{{(isPartOfShoppingCart) ? 'Aus dem Warenkorb löschen' : 'In den Warenkorb'}}
				</button>
			</form>
		</div>

		<share-buttons
			[title]="event.title"
			[image]="event.imagePath"
			[description]="event.description"
			[tags]="['Meilenwoelfe', 'Meilenwoelfe-Shop']"
			[pinterest]="false"
			[linkedIn]="false"
			[tumblr]="false"
			[reddit]="false"
			[stumbleUpOn]="false">

		</share-buttons>
	</div>


</div>
