<div class="centered-container">
	<div class="object-overview-container" *ngIf="event">
		<div class="object-info-title">
			<div class="object-title">
				<span>
				{{event.title}}
				</span>
				<div class="responsible-person" *ngIf="responsible$ | async; let responsible">
					<span>Verantwortlich: </span>
					<div>
						<memo-profile-link *ngFor="let user of responsible" [user]="user"></memo-profile-link>
					</div>

				</div>
			</div>

			<mat-menu #menu="matMenu">
				<a mat-menu-item
				   *ngIf="userCanEditEvent$ | async"
				   matTooltip="Dieses Event bearbeiten"
				   routerLink="./edit">
					<mat-icon>edit</mat-icon>
					<span>Bearbeiten</span>
				</a>
				<a mat-menu-item
				   *ngIf="userCanAccessEntries$ | async"
				   matTooltip="Kosten dieses Events anzeigen"
				   routerLink="/management/costs"
				   [queryParams]="{eventIds: event.id}">
					<mat-icon>payment</mat-icon>
					Kosten
				</a>
			</mat-menu>
			<button mat-icon-button [matMenuTriggerFor]="menu"
					*ngIf="(userCanEditEvent$ | async) || (userCanAccessEntries$ | async)">
				<mat-icon>
					more_vert
				</mat-icon>
			</button>
		</div>

		<div class="item-price-container item-details-row">
			<mat-icon>
				attach_money
			</mat-icon>
			<memo-price-renderer [price]="event.price"
								 [discounts]="discounts$ | async"
								 [showDiscountPossibilities]="true"
								 [showExplanation]="true">

			</memo-price-renderer>
		</div>

		<div class="item-date-container item-details-row" *ngIf="!isMerch(event)">
			<mat-icon>access_time</mat-icon>
			<span>{{event.date | moment:'DD. MMMM YYYY'}}, {{event.date | moment:'HH:mm'}} Uhr</span>
		</div>

		<div class="available-tickets-container item-details-row" *ngIf="!isMerch(event)">
			<memo-capacity-renderer [available]="maxAmount"
									[icon]="'local_play'"
									[maxAmount]="event.capacity"
									[textOptions]="{
										singular: 'Platz',
										plural: 'Plätzen'
									}"
									[coloring]="{
										red: 0,
										yellow: 0.01,
										green: 0.9
									}"

			>

			</memo-capacity-renderer>
		</div>

		<div class="item-details-row material-container" *ngIf="isMerch(event)">
			<mat-icon>content_cut</mat-icon>
			<span>{{event.material}}</span>
		</div>

		<div class="miles-vehicle-container item-vehicle item-details-row" *ngIf="isTour(event)">
			<mat-icon>directions_bus</mat-icon>
			<span>{{event.vehicle}}</span>
		</div>


		<div class="add-to-cart-container">
			<form #addToCartForm="ngForm" (ngSubmit)="addOrDeleteFromCart(event)">
				<ng-template [ngIf]="isMerch(event)">
					<mat-form-field>
						<mat-select [(ngModel)]="color"
									(change)="updateMaxAmount()"
									placeholder="Farbe"
									[required]="true"
									name="colorSelectionInput">
							<mat-option *ngFor="let color of colorSelection$ | async"
										[value]="color">
								{{color.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-select [(ngModel)]="size"
									(change)="updateMaxAmount()"
									placeholder="Größe"
									[required]="true"
									name="sizeSelectionInput">
							<mat-option *ngFor="let size of sizeSelection$ | async" [value]="size">
								{{size}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</ng-template>

				<mat-form-field>
					<mat-select placeholder="Anzahl" name="amount"
								[(ngModel)]="model.amount" (ngModelChange)="updateShoppingCart()"
								[disabled]="!isMerch(event) && isPastEvent"
								[required]="true">
						<mat-option *ngFor="let number of amountOptions" [value]="number">
							{{number}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<button [disabled]="(!addToCartForm.valid || model.amount === 0) || (!isMerch(event) && isPastEvent)"
						mat-raised-button
						color="{{(isPartOfShoppingCart) ? 'warn' : 'accent'}}"
						class="add-to-cart-button">
					{{(isPartOfShoppingCart) ? 'Aus dem Warenkorb löschen' : 'In den Warenkorb'}}
				</button>
			</form>
		</div>

		<share-buttons
			*ngIf="event"
			[theme]="'default'"
			[include]="['facebook','twitter','whatsapp','telegram','copy']"
			[size]="-2"
			[title]="event.title"
			[image]="event.imagePaths[0]"
			[description]="event.description"
			[tags]="['Meilenwoelfe', 'Meilenwoelfe-Shop']"
		></share-buttons>
	</div>


</div>
