@import "../../../../../../mixins";
@import "../../centered-container";

.object-overview-container {
	@include card-like();
	background-color: #fafafa;
	padding: 1.5rem;

	.object-info-container {
		display: flex;
		justify-content: space-between;
		margin: -1.5rem;
		padding: 1.5rem;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		background-color: white;
		border-bottom: 1px solid #ededed;

		.object-info {
			display: flex;
			flex-direction: column;
			align-items: center;

			div:first-child {
				font-size: 1.1rem;
			}
			div:not(:first-child) {
				font-size: 0.9rem;
			}
		}
	}

	.add-to-cart-container {
		padding-top: 1rem;
		display: flex;
		padding-left: 2rem;
		padding-right: 2rem;
		flex-direction: column;
		justify-content: space-around;

		@media all and (min-width: 600px) {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		form > * {
			margin-bottom: 1.5rem;
			width: 100%;
		}
	}
}

:host /deep/ .sb-buttons.sb-style.sb-style-colors {
	justify-content: center;
	width: 100%;
}
