
.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem auto auto;

	height: 100px;
	font-size: 1.1rem;
	color: grey;
}

@media all and (min-width: 650px) {
	.results-container {
		display: grid;
		grid-column-gap: 0.5rem;
		grid-row-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(210px, 1fr))
	}
}
