@import "theme";

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem auto auto;

	height: 100px;
	font-size: font-size(small-medium);
	color: grey(700);
}

@media all and (min-width: 650px) {
	.results-container {
		display: grid;
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
	}
}
