@import "~@angular/material/theming";
@import "theme";
@import "mixins";
@import "variables";

:host {
	display: block;
}

.invisible {
	visibility: hidden;
}

.category-overview-container {
	max-width: 800px;
	margin: auto;
}

.home-header {
	background: rgba(0, 0, 0, 0.3);
	margin-top: -4rem;
	padding-top: 4rem;
	padding-bottom: 6rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;


	&--background {
		z-index: -1;
		width: 100%;
		background-color: primary();
		height: calc(100% + 64px + 2rem);
		position: absolute;
		object-fit: cover;
		transform: scale(1.03);
		filter: blur(0);

		&.loading {
			filter: blur(10px);
		}

		transition: 0.4s filter ease-in;
	}

	.login-button {
		color: white;
		margin-right: 1rem;

		font-size: font-size(medium);
		padding-left: 32px;
		padding-right: 32px;
	}

	.signup-button {
		color: white;
		text-decoration: underline;
		border: none;
	}


	.header-logo {
		width: 250px;
		height: 250px;
		min-width: 250px;
		//background: url("../../resources/images/Logo.svg") no-repeat;
		background-size: contain;
	}

	h1 {
		color: white;
		text-align: center;
		font-weight: 400;
		font-size: font-size(large);
	}
}

.call-to-action-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -8px;
	margin-top: 16px;
}

.landing-page-header {
	max-width: 600px;
	line-height: 42px;
	text-align: center;
}

.home-header-main {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	padding: 1rem;
	width: 100%;
	max-width: 800px;
}


::ng-deep .loader-wrapper {
	transform: scale(0.5);
}

@include keyframes(pulse) {
	0% {
		@include transform(scale(1));
	}
	20% {
		@include transform(scale(1));
	}
	30% {
		@include transform(scale(1.08));
	}
	40% {
		@include transform(scale(1));
	}
	50% {
		@include transform(scale(1));
	}
	60% {
		@include transform(scale(1.05));
	}
	70% {
		@include transform(scale(1));
	}
	80% {
		@include transform(scale(1));
	}
	90% {
		@include transform(scale(1.08));
	}
	100% {
		@include transform(scale(1));
	}
}


@media all and (min-width: 600px) {
	.home-header .login-button{
		height: 50px;
		line-height: 50px;
	}

	.landing-page-header {
		h1 {
			font-size: font-size(very-large);
		}
	}
	.landing-page-header {
		line-height: 68px;
	}
}

@media all and (min-width: 800px) {
	.home-header-main {
		flex-direction: row;
		justify-content: space-between;
	}
	.landing-page-header {
		text-align: start;
	}
	.call-to-action-container {
		justify-content: flex-start;
	}
	.home-header {
		height: 600px;
	}
}
