@import "~@angular/material/theming";
@import "theme";
@import "mixins";
@import "variables";

:host {
	display: block;
}

.invisible {
	visibility: hidden;
}

.category-overview-container {
	max-width: 800px;
	margin: auto;
}

.overview-preview-container {
	background: $container-content--background-color;
	max-width: 800px;
	margin: auto;

	&:not(:first-child) {
		margin-top: 1rem;
	}
}

.overview-preview-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $container-header--background-color;
	border-bottom: $container-divider--height solid $container-divider--color;
	color: $container-header--color;

	padding: 1rem;
	> a {
		color: #2196F3;
		text-decoration: none;
		font-size: 1.1rem;

		&:hover {
			color: mat-color($accent, 300);
		}
	}

	> h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.home-header {
	background: $primary-default;
	height: 30rem;
	padding-bottom: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.svg-logo-container {
		.svg-logo {
			//@include transition(0.2s ease);
			//@include animation(5s pulse infinite);
			//transform-origin: 50% 50%;
			//cursor: pointer;
			//
			//&:hover {
			//	animation-play-state: paused;
			//}
		}
	}

	.login-button {
		color: white;
		margin-right: 1rem;
	}

	.header-logo {
		width: 150px;
		height: 150px;
		//background: url("../../resources/images/Logo.svg") no-repeat;
		background-size: contain;
	}

	h1 {
		color: white;
		padding-top: 20px;
		text-align: center;
		max-width: 80%;
		font-size: 2.2rem;
		font-weight: 100;

		@media all and (min-width: 800px) {
			font-size: 3rem;
		}
	}
}

/deep/ .loader-wrapper {
	transform: scale(0.5);
}

@include keyframes(pulse) {
	0% {
		@include transform(scale(1));
	}
	20% {
		@include transform(scale(1));
	}
	30% {
		@include transform(scale(1.08));
	}
	40% {
		@include transform(scale(1));
	}
	50% {
		@include transform(scale(1));
	}
	60% {
		@include transform(scale(1.05));
	}
	70% {
		@include transform(scale(1));
	}
	80% {
		@include transform(scale(1));
	}
	90% {
		@include transform(scale(1.08));
	}
	100% {
		@include transform(scale(1));
	}
}

.desktop {
	display: none;
}

.show-more-link {
	display: flex;
	justify-content: center;
	padding: 1rem;
	color: white;
	background: mat-color($accent);
	text-decoration: none;
}

memo-results /deep/ .no-results {
	margin: 0;
}

@media all and (max-width: 650px) {
	memo-results /deep/ .no-results {
		background: white;
	}
}

@media all and (min-width: 650px) {
	.category-overview-container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	memo-results {
		display: block;
		padding: 1rem;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}
