<div *ngIf="!hidden">
	<h2 class="account-options-title mat-headline">{{'Optionen'|uppercase}}</h2>
	<h3>Datum</h3>
	<mat-form-field>
		<input matInput [matDatepicker]="startingDatePicker"
			   [disabled]="isLoading"
			   placeholder="Von"
			   [(ngModel)]="dateOptions.from"
			   (ngModelChange)="updateQueryParams(); updateDateFilter()"
			   #startingDateInput="ngModel"
			   name="startingDateInput">
		<mat-datepicker-toggle [disabled]="isLoading" matSuffix [for]="startingDatePicker"></mat-datepicker-toggle>
	</mat-form-field>
	<mat-datepicker [disabled]="isLoading" #startingDatePicker
					(selectedChanged)="updateQueryParams()" [touchUi]="true"></mat-datepicker>

	<mat-form-field>
		<input matInput [matDatepicker]="endDatePicker"
			   placeholder="Bis"
			   [disabled]="isLoading"
			   [(ngModel)]="dateOptions.to"
			   (ngModelChange)="updateQueryParams(); updateDateFilter()"
			   #endDateInput="ngModel"
			   name="endDateInput">
		<mat-datepicker-toggle [disabled]="isLoading" matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
	</mat-form-field>
	<mat-datepicker #endDatePicker [disabled]="isLoading"
					(selectedChanged)="updateQueryParams()" [touchUi]="true"></mat-datepicker>
</div>


<div *ngIf="!hidden" class="events-container">
	<h3>Nach Events filtern</h3>
	<mat-chip-list class="mat-chip-list-stacked">
		<mat-chip *ngFor="let event of events; let i = index"
				  color="primary">
			<a routerLink="/{{getEventType(event)}}/{{event.id}}" matTooltip="Auf die Detailseite dieses Events gehen">
				{{ event.title }}
			</a>
			<mat-icon class="remove-chip-button" (click)="events.splice(i,1); updateQueryParams()" matTooltip="Löschen">
				cancel
			</mat-icon>
		</mat-chip>
		<mat-chip *ngIf="events.length === 0" class="chip-accent" color="accent">
			Alle Events
		</mat-chip>
	</mat-chip-list>


	<memo-event-autocomplete [formControl]="autocompleteFormControl"
							 (onInput)="addEvent($event)"
							 [required]="false"
							 [additionalFilters]="filters$ | async">
	</memo-event-autocomplete>
</div>

<div *ngFor="let categories of [(costCategories$ | async)]">
	<ng-template [ngIf]="!hidden">
		<h3>Kostenarten</h3>
		<mat-checkbox *ngFor="let costType of categories"
					  [(ngModel)]="costTypes[costType.name]"
					  [disabled]="isLoading"
					  (ngModelChange)="updateQueryParams()">
			{{costType.name}}
		</mat-checkbox>
	</ng-template>
</div>
