@import "../../../../../../node_modules/@angular/material/theming";
@import "theme";

div {
	display: flex;
	flex-direction: column;
}

.date-range-container {
	> div {
		margin-bottom: 8px;
	}
}

:host {
	memo-event-autocomplete /deep/ mat-form-field,
	mat-form-field {
		width: 100%;
	}
}

.events-container {
	mat-form-field {
		margin-top: 5px;
	}

	mat-chip {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		@include background-primary();

		&:last-child {
			margin-bottom: 16px;
		}

		&:hover {
			background-color: primary(800);
		}

		&.chip-accent {
			cursor: auto;
			background-color: accent();
		}

		a {
			text-decoration: none;
			color: inherit;
			flex-grow: 2;
		}

		.remove-chip-button {
			font-size: font-size(medium-large);
			height: 24px;
			width: 24px;
			margin-left: 8px;
		}
	}
}

@media all and (min-width: 850px) {

}
