@import "theme";

mat-radio-group {
	display: flex;
	flex-direction: column;

	mat-radio-button {
		padding-left: 6px;
	}
}

.filter-category-container {
	margin-bottom: 16px;
}

.filter-menu-header {
	h2 {
		margin: 0;
		color: grey(800);
	}
}

.date-range-container {
	> div {
		margin-bottom: 8px;
	}
}

mat-chip-list /deep/ mat-chip {
	display: flex;
	justify-content: space-between;
	width: 95% !important;
	margin-bottom: 16px !important;

	a {
		color: white;
	}
}

.close-actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
	border-top: 1px solid grey(200);
	padding-top: 12px;
}
