<div class="filter-menu-header" *ngIf="showActions">
	<h2>Filtern</h2>
</div>

<div *ngFor="let option of filterOptions" [@slideUp]="1" class="filter-category-container">
	<memo-filter-option-header [title]="option.title"
							   [withReset]="withReset(option)"
							   (onReset)="reset(option)"
	></memo-filter-option-header>

	<ng-container [ngSwitch]="option.type">
		<div class="option-children" *ngSwitchCase="'multiple'">
			<ng-container *ngFor="let child of option.values">
				<memo-filter-option-row *ngIf="formGroup.get(option.type)?.get(option.key)?.get(child.key)"
										[value]="child.label"
										[formControl]="formGroup.get(option.type)?.get(option.key)?.get(child.key)"
										(selectOnlyThisOption)="selectOption(formGroup.get(option.type).get(option.key), child.key)">
				</memo-filter-option-row>
			</ng-container>
		</div>
		<ng-container *ngSwitchCase="'single'">
			<mat-radio-group *ngIf="formGroup.get(option.type)?.get(option.key)"
							 [formControl]="formGroup.get(option.type)?.get(option.key)">
				<mat-radio-button *ngFor="let child of option.values" [value]="child.key">
					{{child.label}}
				</mat-radio-button>
			</mat-radio-group>
		</ng-container>
		<div *ngSwitchCase="'date-range'">
			Date-range
		</div>
		<div *ngSwitchCase="'by-item'">
			By-Item
		</div>
	</ng-container>
</div>

<div class="close-actions" *ngIf="showActions">
	<button mat-button (click)="cancel()">Abbrechen</button>
	<button mat-raised-button color="accent" (click)="apply()">Anwenden</button>
</div>
