
tr {
	height: 56px;
	text-align: left;

	&:hover {
		background-color: #EEEEEE;
	}

	/deep/ .data-as-icon {
		margin-left: 0;
	}

	&:last-child {
		border-bottom: 8px solid #ededed;
	}
}


@media all and (min-width: 1000px) {
	.row-title{
		padding-left: 30px;
	}

	td,
	/deep/ td{
		padding-right: 24px;
	}


	/deep/ td{
		text-align: end;
	}

	td{
		text-align: left;
	}
}
