
tr {
	height: 56px;
	text-align: left;

	&:hover {
		background-color: #EEEEEE;
	}

	/deep/ .data-as-icon {
		margin-left: 0;
	}

	&:last-child {
		border-bottom: 8px solid #ededed;
	}
}

@media all and (min-width: 1000px) {
	td {
		padding-left: 30px;
	}
}
