
.preview-container {
    display: flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 6vw;
    background-color: #fafafa;
}

/*change size of hamburger menu*/
.material-icons {
    height: 6vw;
    width: 5vw;
    font-size: 5vw;
    vertical-align: middle;
}

md-card {
    width: 70vw;
    margin-left: 2vw;
    margin-bottom: 5vh;
    margin-right: 2vw;
}

md-card-title {
    /*font-size: 8vw;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

md-card-content {
    font-size: 5vw;
}

md-card-content > div > span {
    overflow-wrap: break-word;
}

md-card-content > div:not(:last-child) {
    margin-bottom: 0.3em;
}


md-card > img{
    width: 70vw;
    height: 70vw;
}

@media all and (min-width: 1000px){
    md-card-title{
        font-size: 1em;
    }
}