
.preview-container {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 2vw;
}

.card-content-container {
    display: flex;
    justify-content: space-between;
}

.card-content-container > .event-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.event-price {
    font-size: 1.4em;
    color: red;
    margin-top: -0.5%;
}

.event-content > span:first-child {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*change size of hamburger menu*/
.material-icons {
    vertical-align: middle;
}

md-card {
    width: 70vw;
    margin-left: 2vw;
    margin-bottom: 3vw;
    margin-right: 2vw;
    display: inline-block
}

md-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



md-card > img{
    width: 70vw;
    height: 50vw;
    object-fit: cover;
}

@media all and (min-width: 1000px){
    md-card-title{
        /*font-size: 1em;*/
    }
}