<div class="empty-state" *ngIf="error else noError">
	<mat-icon class="empty-state-header-icon">{{errorStateIcon || 'error'}}</mat-icon>
	<span class="empty-state-headline">{{errorStateHeadline || 'Error!'}}</span>
	<span class="empty-state-subheader">{{errorStateSubtitle || 'Es ist ein Fehler aufgetreten.'}}</span>
	<div class="empty-state-actions">
		<ng-content select="memo-data-error-state-actions"></ng-content>
	</div>
</div>
<ng-template #noError>
	<div class="loader-wrapper" *ngIf="data === null || loading || initialLoad; else noLoading">
		<div class="loader"></div>
	</div>
	<ng-template #noLoading>
		<div *ngIf="data?.length === 0 || empty; else notEmpty" class="empty-state">
			<mat-icon class="empty-state-header-icon">{{emptyStateIcon || 'find_in_page'}}</mat-icon>
			<span class="empty-state-headline">{{emptyStateHeadline || 'Keine Daten'}}</span>
			<span
				class="empty-state-subheader">{{emptyStateSubtitle || 'Wir konnten leider keine Daten finden.'}}</span>
			<div class="empty-state-actions">
				<ng-content select="memo-data-empty-state-actions"></ng-content>
			</div>
		</div>

		<ng-template #notEmpty>
			<ng-container *ngIf="data; else noDataRenderer">
				<ng-container *ngFor="let entry of data">
					<ng-container *ngTemplateOutlet="renderer; context: {$implicit: entry}"></ng-container>
				</ng-container>
			</ng-container>
			<ng-template #noDataRenderer>
				<ng-container *ngTemplateOutlet="renderer;"></ng-container>
			</ng-template>
		</ng-template>
	</ng-template>

</ng-template>
