<!--todo: dynamic values?-->
<div class="grid">
	<a class="grid-item mat-elevation-z3"
	   target="_blank" rel="noopener"
	   href="https://meilenwoelfe.de/ueber-uns/gruendung/">
		<mat-icon>date_range</mat-icon>
		<span>Seit 2014 aktiv</span>
	</a>
	<a class="grid-item mat-elevation-z3" routerLink="/shop/tours">
		<mat-icon>drive_eta</mat-icon>
		<span>50+ Touren</span>
	</a>
	<a class="grid-item mat-elevation-z3" routerLink="/club/leaderboard">
		<mat-icon>pin_drop</mat-icon>
		<span>50.000+ Meilen</span>
	</a>
	<div class="grid-item mat-elevation-z3">
		<mat-icon>people</mat-icon>
		<span>170+ Mitglieder</span>
	</div>
</div>
