<div *ngIf="form" [formGroup]="form" class="form-input-container">
	<div style="height:0; overflow:hidden" *ngIf="withoutAutocomplete">
		<input style="opacity:0;" name="email" type="email" value=""/>
		<input style="opacity:0;" type="password" value=""/>
	</div>
	<span class="form-label" required>Email</span>
	<mat-form-field appearance="outline" class="small-outline-formfield">
		<input matInput
			   type="email"
			   formControlName="email"
			   name="emailInput"
			   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
			   required
		>
		<mat-error align="end" *ngIf="form.get('email')?.hasError('emailTaken')">
			Die angegebene Email-Adresse wird bereits verwendet. <a routerLink="/login">Weiter zum Login?</a>
		</mat-error>
		<mat-error align="end" *ngIf="form.get('email')?.hasError('email')">
			Email-Adresse muss in der Form <i>test@email.de</i> sein
		</mat-error>
	</mat-form-field>

</div>
