<div class="checkout-options-container">


	<memo-item-details-content [title]="'Addressen'" class="no-padding mat-elevation-z3">
		<memo-address-form [selection]="true" [formGroup]="formGroup.get('address')"></memo-address-form>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Bezahlung'" class="no-padding mat-elevation-z3">
		<memo-payment [allowedMethods]="allowedMethods$ | async" [formGroup]="formGroup.get('payment')"></memo-payment>
	</memo-item-details-content>
	<div class="checkout-total mat-elevation-z3">
		<span>{{total$ | async | currency:'EUR':'symbol'}}</span>
		<button mat-raised-button color="primary"
				(click)="submit()"
				[disabled]="!formGroup.valid || formGroup.pending || loading">
		<span *ngIf="!loading; else loadingSpinner">
			Abschließen
		</span>
			<ng-template #loadingSpinner>
				<mat-icon class="loading-spinner">refresh</mat-icon>
				<span>Lädt...</span>
			</ng-template>
		</button>
	</div>

</div>
