<div *ngIf="userObservable | async as user" class="checkout-container">
	<md-card>
		<div class="title"> Wähle die Rechnungsadresse:</div>
		<div class="adress">
			<div>{{user.firstName}} {{user.surname}}</div>
			<div>Große Diesdorfer Str. 26</div>
			<div>39108 Magdeburg</div>
		</div>
		<a md-button class="click-adress" routerLink="/address">Adresse ändern</a>
		<hr class="cart-entry-price-border">

		<div class="title">Wähle die Bezahlart:</div>
		<md-radio-group [(ngModel)]="paymentMethod">
				<md-radio-button *ngFor="let method of paymentMethodOptions" value="{{method}}" class="methode">{{method}}</md-radio-button>
				<div *ngIf="paymentMethod==='Lastschrift'" class="bank">
					<div>Inhaber: Max Musti</div>
					<div>IBAN: DE27100777770209299700</div>
					<div>BIC: INGDDEFF</div>
				</div>
				<div *ngIf="paymentMethod==='Überweisung'" class="bank">
					Die Überweisungsdaten werden dir per Email zugeschickt.
				</div>
		</md-radio-group>

		<a md-button class="click-adress">Bankdaten ändern</a>
		<hr class="cart-entry-price-border">

		<div class="sum">Gesamtsumme: <span>200 €</span></div>

		<a md-button class="click-adress">Bezahlen</a>
	</md-card>
</div>
