@import "../../../theme";
@import "~@angular/material/theming";

:host {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

md-card{
	max-width: 500px;
	width: 100%;
	//padding: 0 0 10px;
	&:not(:first-child){
		margin-top: 20px;
	}
}


.checkout-title {
	font-weight: 200;
	border-bottom: 1px solid #E0E0E0;
	background-color: #0d47a1;
	color: white;
	padding: 24px 16px 10px 24px;
	margin: -24px -24px 10px !important;

	@media all and (max-width: 600px){
		margin-left: -16px;
		margin-right: -16px;
	}
}
