@import "theme";
@import "variables";

:host {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.checkout-options-container {
	display: flex;
	flex-wrap: wrap;
	@include mat-elevation(3);
	@include mat-elevation-transition();

	max-width: 500px;

	width: 100%;
	overflow-y: auto;

	@media all and (min-width: 500px) {
		margin: 20px auto;
	}
}

/////////////

memo-item-details-content {
	width: 100%;
}

.no-padding /deep/ .object-details-content {
	padding: 0;
}

memo-address-form /deep/ memo-address-input-form /deep/ mat-form-field {
	width: 100%;
}

memo-payment /deep/ memo-bank-account-form /deep/ memo-bank-account-input-form /deep/ mat-form-field {
	width: 100%;
}

///////////////

.checkout-total {
	text-decoration: none;
	border-top: 1px solid #ededed;

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: white;
	color: rgba(0, 0, 0, 0.8);

	padding: 1rem;
	font-size: 1.3rem;
}
