@import "~@angular/material/theming";

:host {
	display: flex;
	justify-content: center;
}

.container {
	max-width: 800px;
}

.container--body {
	padding: 1rem;

	p:first-child {
		margin-top: 0;
	}
}

@media all and (min-width: 600px) {
	:host {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
