@import "~@angular/material/theming";
@import "../../../theme";

:host {
	display: block;
	background-color: white;
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
	@extend .mat-elevation-z3;

	.leaderboard-header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: mat-color($primary);
		color: white;

		svg {
			width: 70px;
			height: 100px;
			path {
				fill: yellow;
			}
		}
		h1 {
			margin: 0 0 0 1rem;
			font-weight: 100;
		}
	}


}
