@import "theme";
@import "~@angular/material/theming";

:host {
	display: block;
	background-color: white;
	max-width: 800px;

	@media all and (min-width: 600px) {
		margin: 20px auto;
	}

	@include mat-elevation(3);
	@include mat-elevation-transition;

	.leaderboard-header {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #ededed;

		h1 {
			margin: 0 0 0 1rem;
			font-weight: 100;
			font-size: 1.5em;
		}

		mat-select {
			width: 85px;
			margin-left: 2rem;
		}
	}

}
