@import "theme";

@mixin resizeRow($factor) {
	h2 {
		font-size: $factor * 100%;
	}

	img {
		width: $factor * 50px;
		min-width: $factor * 50px;
		height: $factor * 50px;
		min-height: $factor * 50px;
	}
	div > span {
		font-size: $factor * 100%;
	}

	.miles-container {
		> span {
			font-size: $factor * 100%;
		}
		> span:first-child {
			font-size: $factor * 150%;
		}
	}
}

:host > .leaderboard-entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ededed;
	padding-left: 1rem;
	text-decoration: none;
	color: black;
	border-left: 5px solid transparent;

	&:hover {
		background-color: #ededed;
	}

	.user-name {
		margin-left: 10px;
	}

	&.logged-in-user {
		background-color: rgba($accent-default, 0.2);
		border-left: 5px solid $accent-default;

		&:hover {
			background-color: rgba($accent-default, 0.3);
		}
	}

	> div {
		display: flex;
		align-items: center;
	}

	h2 {
		font-weight: 100;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 20px;
		margin-left: 20px;
		background: $primary-default;
		object-fit: cover;
	}

	.miles-container {
		min-width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		text-align: end;
	}

	@include resizeRow(0.75);
	&.position-1 {
		@include resizeRow(1);
		h2 > svg > path {
			fill: #FFEB3B;
		}
	}
	&.position-2 {
		@include resizeRow(0.85);
		h2 > svg > path {
			fill: #9e9e9e;
		}
	}
	&.position-3 {
		@include resizeRow(0.8);
		h2 > svg > path {
			fill: #FF9800;
		}
	}

	//@media all and (min-width: 800px) {
	//	@include resizeRow(1);
	//	&.position-1 {
	//		@include resizeRow(1.5);
	//	}
	//	&.position-2 {
	//		@include resizeRow(1.33);
	//	}
	//	&.position-3 {
	//		@include resizeRow(1.2);
	//	}
	//}
}

.dummy-leaderboard-entry {
	text-align: center;
	cursor: pointer;
	font-size: 200%;
	padding: 10px;

	@media all and (min-width: 800px) {
		padding: 1rem;
	}

	&:hover {
		background-color: #ededed;
	}
}
