@import "theme";
@import "~@angular/material/theming";

:host {
	display: block;
	background-color: white;
	max-width: 800px;
	margin: 0.5rem;

	@media all and (min-width: 600px){
		margin: auto;
		margin-top: 20px;
	}

	@include mat-elevation(3);
	@include mat-elevation-transition;

	.leaderboard-header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary-default;
		color: white;

		svg {
			width: 40px;

			@media all and (min-width: 600px){
				width: 70px;
			}

			height: 100px;
			path {
				fill: yellow;
			}
		}
		h1 {
			margin: 0 0 0 1rem;
			font-weight: 100;
		}
	}


}
