<div class="price-container">
	<span>
		<span class="actual-price">
			{{price | number:'1.2-2'}}€
		</span>
		<span class="base-price" *ngIf="price < _basePrice">
			{{_basePrice | number:'1.2-2'}}€
		</span>
		<span class="percentage-saved" *ngIf="price < _basePrice">
			(-{{percentageSaved | percent:'2.2-2':'en'}})
		</span>
	</span>
	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
		<button mat-icon-button class="additional-discount-possibilities-icon small-icon-button discount-overlay-trigger"
				[matMenuTriggerFor]="menu"
				*ngIf="showDiscountPossibilities && nonEligibleDiscounts.length > 0"
			  matTooltip="{{nonEligibleDiscounts.length}} Discount{{nonEligibleDiscounts.length === 1 ? '' : 's'}} möglich">
			<!--todo as dialog once we have more than 1 discount-->
			<mat-icon matBadge="{{nonEligibleDiscounts.length}}">local_offer</mat-icon>
		</button>

		<mat-menu #menu="matMenu" class="discount-menu">
			<a class="discount-menu--item" mat-menu-item *ngFor="let discount of nonEligibleDiscounts" routerLink="{{discount?.linkUrl}}">
				<span>{{discount?.reason}}:</span>

				<span *ngIf="!discount.percentage; else percentageDisplay" class="amount">
					{{discount.amount | number:'1.2-2'}}€
				</span>
				<ng-template #percentageDisplay>
					<span class="amount">{{discount.amount | number:'1.2-2'}}%</span>
				</ng-template>
			</a>
		</mat-menu>

		<button mat-icon-button
				class="discount-overlay-trigger small-icon-button"
				*ngIf="(price < _basePrice) && showExplanation"
				[matTooltip]="'Zeige Erklärung'"
				[matTooltipPosition]="'below'"
				(click)="openDiscountOverlay()"
		>
			<mat-icon>
				help_outline
			</mat-icon>
		</button>


<!--		<div class="error-indicator" *ngIf="discountError">-->
<!--			<mat-icon matTooltip="Discounts konnten nicht geladen werden">warning</mat-icon>-->
<!--		</div>-->
<!--		<div class="error-indicator" *ngIf="discountPossibilitiesError">-->
<!--			<mat-icon matTooltip="Discountmöglichkeiten konnten nicht geladen werden">warning</mat-icon>-->
<!--		</div>-->
	</div>
</div>
<div class="additional-price-info" *ngIf="additionalInfo">
	{{additionalInfo}}
</div>
<div class="additional-price-info error-indicator" *ngIf="additionalInfo && discountError">
	<mat-icon [inline]="true">warning</mat-icon>
	Discounts konnten nicht geladen werden
</div>
<div class="additional-price-info error-indicator"
	 [class.no-margin]="additionalInfo && discountError"
	 *ngIf="additionalInfo && discountPossibilitiesError">
	<mat-icon [inline]="true">warning</mat-icon>
	Discountmöglichkeiten konnten nicht geladen werden
</div>
