<memo-data-container *ngLet="latestOrders$ | async as latestOrders"
					 [data]="latestOrders"
					 [error]="error"
					 emptyStateIcon="receipt"
					 emptyStateHeadline="Keine Bestellungen"
					 emptyStateSubtitle="Es wurden bisher noch keine Bestellungen getätigt"
					 [renderer]="renderer"
>
</memo-data-container>

<ng-template #renderer let-order>
	<memo-order-preview-renderer [items]="order.items"
								 [timestamp]="order.timeStamp"
								 [user]="order.user">
	</memo-order-preview-renderer>
</ng-template>
