<form #addToCartForm="ngForm" (ngSubmit)="addOrDeleteFromCart(event)">
	<ng-template [ngIf]="isMerch(event)">
		<mat-form-field>
			<mat-select [(ngModel)]="color"
						placeholder="Farbe"
						[required]="true"
						name="colorSelectionInput">
				<mat-option *ngFor="let color of colorSelection$ | async"
							[value]="color">
					{{color.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-select [(ngModel)]="size"
						placeholder="Größe"
						[required]="true"
						name="sizeSelectionInput">
				<mat-option *ngFor="let size of sizeSelection$ | async" [value]="size">
					{{size}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</ng-template>

	<mat-form-field>
		<mat-select placeholder="Anzahl" name="amount" *ngFor="let options of [(amountOptions$ | async)]"
					[(ngModel)]="model.amount" (ngModelChange)="updateShoppingCart()"
					[disabled]="(!isMerch(event) && (isPastEvent$ | async))
								|| !((permissions)?.checkIn) || (isSoldOut(event, options))"
					[required]="true">
			<mat-option *ngIf="isSoldOut(event, options); else amountDropdown"
						[value]="0"
						[disabled]="true">
				-- Ausverkauft --
			</mat-option>
			<ng-template #amountDropdown>
				<mat-option *ngFor="let number of options" [value]="number">
					{{number}}
				</mat-option>
			</ng-template>
		</mat-select>
	</mat-form-field>

	<button
		[disabled]="(!addToCartForm.valid || model.amount === 0)
								|| (!isMerch(event) && (isPastEvent$ | async))
								|| !((permissions)?.checkIn)
					"
		mat-raised-button
		color="{{(isPartOfShoppingCart$ | async) ? 'warn' : 'accent'}}"
		class="add-to-cart-button">
		{{(isPartOfShoppingCart$ | async) ? 'Aus dem Warenkorb löschen' : 'In den Warenkorb'}}
	</button>
</form>
