@import "~@angular/material/theming";
@import "theme";


:host {
	padding-bottom: 1rem;
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	@media all and (min-width: 600px) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	form > * {
		//margin-bottom: 1.5rem;
		width: 100%;
	}
}


.waiting-list-container,
.outdated-waiting-list-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin-top: 16px;
}

.waiting-list-link-container {
	display: flex;
	flex-wrap: wrap;

	.waiting-list-remove-button {
		margin-left: 8px;
		text-transform: initial;
		font-size: 0.9rem;
	}
}

.sold-out-disclaimer,
.waiting-list-call-to-action {
	color: mat-color($warn, 700);
}

.sold-out-disclaimer{
	font-weight: bold;
}

.already-part-of-waiting-list {
	color: mat-color($primary);
}

.waiting-list-link {
	margin-top: 16px;
}

.outdated-hint {
	text-align: center;
}

.outdated-waiting-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	margin-top: 16px;
	border-radius: 4px;
	background: mat-color($yellow, 100);
}


.waiting-list-link-container {
	margin-top: 16px;
}
