<form #addToCartForm="ngForm" (ngSubmit)="addToCart(event)">
	<ng-template [ngIf]="isMerch(event)">
		<mat-form-field>
			<mat-select [(ngModel)]="color"
						placeholder="Farbe"
						[required]="true"
						name="colorSelectionInput">
				<mat-option *ngFor="let color of colorSelection$ | async"
							[value]="color">
					{{color.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-select [(ngModel)]="size"
						placeholder="Größe"
						[required]="true"
						name="sizeSelectionInput">
				<mat-option *ngFor="let size of sizeSelection$ | async" [value]="size">
					{{size}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</ng-template>

	<mat-form-field>
		<mat-select placeholder="Anzahl" name="amount" [(ngModel)]="model.amount"
					[disabled]="(!isMerch(event) && (isPastEvent$ | async))
								|| !((permissions)?.checkIn) || (isSoldOut$ | async)"
					[required]="true">
			<mat-option *ngIf="isSoldOut$ | async; else amountDropdown"
						[disabled]="true"
						[value]="0">
				-- Ausverkauft --
			</mat-option>
			<ng-template #amountDropdown>
				<mat-option *ngFor="let number of (amountOptions$ | async)" [value]="number">
					{{number}}
				</mat-option>
			</ng-template>
		</mat-select>
	</mat-form-field>

	<button
		[disabled]="(!addToCartForm.valid || model.amount === 0)
								|| (!isMerch(event) && (isPastEvent$ | async))
								|| !((permissions)?.checkIn)
					"
		mat-raised-button
		color="accent"
		class="add-to-cart-button">
		In den Warenkorb
	</button>
</form>

<div class="waiting-list-container" *ngIf="(permissions)?.checkIn && isSoldOut$ | async">
	<!--1. sold out, not on waiting list yet-->
	<!--2. sold out, but on waiting list-->
	<span class="sold-out-disclaimer">
		Dieser Artikel ist leider ausverkauft.
	</span>
	<span *ngIf="!(isPartOfWaitingList$ | async) else alreadyPartOfWaitingList" class="waiting-list-call-to-action">
		Schreib dich jetzt auf die Warteliste, um benachrichtigt zu werden, wenn die Kapazität erhöht wird.
	</span>
	<ng-template #alreadyPartOfWaitingList>
		<span class="already-part-of-waiting-list">
			Du stehst auf der Warteliste. Sobald {{isMerch(event) ? 'neue Artikel eintreffen' : 'die Kapazität erhöht wird'}}
			, wirst du von uns benachrichtigt.
		</span>
	</ng-template>
	<button mat-stroked-button class="waiting-list-link" (click)="openWaitingListDialog()">
		{{(isPartOfWaitingList$ | async) ? 'Warteliste betrachten' : 'Auf die Warteliste'}}
	</button>
</div>
<!--3. not sold out, but on waiting list (because it was sold out previously)-->
<div class="outdated-waiting-list-container mat-elevation-z1"
	 *ngIf="(permissions)?.checkIn && !(isSoldOut$ | async) && (isPartOfWaitingList$ | async)">
	<span class="outdated-hint">
		Du bist auf der Warteliste, obwohl noch {{isMerch(event) ? 'Artikel vorhanden sind' : 'Plätze frei sind'}}.
	</span>
	<div class="waiting-list-link-container">
		<button mat-stroked-button class="outdated-waiting-list-link" (click)="openWaitingListDialog()">
			Warteliste
		</button>
		<button mat-button class="waiting-list-remove-button" color="warn" (click)="removeFromWaitingList()">
			Austragen
		</button>
	</div>
</div>

<div class="waiting-list-container removal-successful-container" *ngIf="removedFromWaitingList">
	<div class="icon-container"
		 matTooltip="Ausblenden"
		 (click)="removedFromWaitingList = false">
		<mat-icon>check_mark</mat-icon>
	</div>
	<span>Du wurdest erfolgreich von der Warteliste entfernt. </span>
</div>
