
:host {
	padding-bottom: 1rem;
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	@media all and (min-width: 600px) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	form > * {
		//margin-bottom: 1.5rem;
		width: 100%;
	}
}


.waiting-list-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	margin-top: 16px;
}

.sold-out-disclaimer{
	text-align: center;
	color: #D32F2F;
}

.waiting-list-link{
	margin-top: 16px;
}
