@import "theme";

.participants-container {
	border: 1px solid grey(300);
	padding-left: 1rem;
	padding-right: 1rem;
	background: grey(50);
	margin-bottom: 1rem;

	memo-cart-tour-participant:not(:first-child) {
		border-top: 1px solid grey(200);
	}
}

.waiting-list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.5rem 1rem 0;
}

:host > h2 {
	margin-bottom: 0;
}

mat-dialog-actions {
	display: flex;
	justify-content: flex-end;
}

label {
	margin-right: 32px;
}
