
.participants-container {
	border: 1px solid #dfdfdf;
	padding-left: 1rem;
	padding-right: 1rem;
	background: #F5F5F5;
	margin-bottom: 1rem;

	memo-cart-tour-participant:not(:first-child) {
		border-top: 1px solid #ededed;
	}
}

.waiting-list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.5rem 1rem 0;
}

:host > h2{
	margin-bottom: 0;
}

mat-dialog-actions{
	display: flex;
	justify-content: flex-end;
}

label{
	margin-right: 32px;
}
