<table class="details-table" *ngFor="let object of [(objectObservable | async)]">
    <tr *ngFor="let key of (object | keysOfObject
            | filter:['_id', '_title', '_description', '_expectedRole', '_imagePath', '_priceMember', '_participants',
            '_meetingPoint', '_destination']
            | filter: ['_colors', '_sizeTable'])">
        <td align="left" class="row">{{key | convertCamelcaseToTitlecase}}</td>
        <td *ngIf="key==='_date'" align="right" class="row secondary-text">{{object[key] | date}}</td>
        <td *ngIf="key!=='_date'" align="right" class="row secondary-text">{{object[key]}}</td>
    </tr>
</table>
