@import "theme";
@import "~@angular/material/theming";

.detail-page-navigation {
	display: none;
}

memo-add-to-cart-form {
	margin-top: 2rem;
}

memo-participants {
	margin: -1rem;
}

:host /deep/ .centered-container > div {
	max-width: none !important;

	.container--body {
		background-color: white;
	}
}

#comments {
	/deep/ .container--body {
		padding: 0;
	}
}

.ordered-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 1rem;
	text-decoration: none;
	background: white;
	color: grey(900);
	font-size: font-size(smaller);
	font-weight: 500;

	mat-icon {
		margin-right: 5px;
		transition: all ease-in 0.2s
	}

	&:hover {
		background: lighten($accent-default, 5%);

		mat-icon {
			margin-right: 0;
		}
	}

	.ordered-header-main-message {
		font-size: font-size(default);
	}

	.options {
		font-weight: 400;
		color: grey(700);
	}

	> div {
		display: flex;
		flex-direction: column;
	}

	button {
		color: grey(900);
	}

	&:hover {
		background: darken(white, 5%);
	}
}

.info-container-row {
	background: white;
}

@media all and (min-width: 750px) {
	:host {
		display: flex;
		align-items: flex-start;
		padding-bottom: 1rem;
		padding-right: 1rem;
		max-width: 1300px;
		margin: auto;
	}

	:host /deep/ memo-multi-image-container {
		justify-content: center;
		border-right: 1px solid grey(200);
	}

	.detail-page-navigation {
		display: flex;
		justify-content: flex-end;
		position: sticky;
		top: 35px;
		width: 20%;
		padding: 1rem 2rem 1rem 1rem;

		ul {
			text-align: end;
			list-style-type: initial;

			a {
				text-decoration: none;
				color: grey(600);
				width: 100%;
				flex-grow: 1;
				padding: 0.5rem 1rem 0.5rem 0.5rem;
			}

			li {
				display: flex;
				cursor: pointer;
				border-right: 2px solid transparent;

				&:hover {
					a {
						color: grey(900);
					}
				}

				&.active {
					border-color: accent();

					a {
						color: accent();
						font-weight: bold;
					}
				}
			}
		}
	}

	.info {
		width: 80%;
		padding-top: 1rem;
	}

	.info-container-row > * {
		width: 50%;
	}

	#eventMap /deep/ .container--body {
		display: flex;
		padding: 0;

		memo-route-list,
		memo-route-map {
			width: 50%;
		}

		memo-route-map {
			display: block;
			border-radius: 4px;

			/deep/ .agm-map-container-inner {
				border-bottom-right-radius: 4px;
			}
		}
	}


	.desktop-elevation {
		@include mat-elevation(3);
		background: white;
		display: block;
		margin-top: 1rem;
	}

	#description {
		min-height: 150px;
	}

	.ordered-header {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	.item-details-wrapper {
		border-radius: 4px;

		memo-multi-image-container,
		memo-multi-image-container /deep/ .available-images-list,
		memo-multi-image-container /deep/ .current-image-container {
			border-bottom-left-radius: 4px;
		}
	}
}

.description {
	white-space: pre-line;
}
