<memo-item-details-container *ngIf="party$ | async as party;"
							 [overviewKeys]="overViewKeys$"
							 [event]="party">
	<memo-item-details-content [title]="'Beschreibung'">
		<span class="description secondary-text" content>{{party?.description}}</span>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Teilnehmer'" [route]="participantsLink$ | async">
		<memo-participants [participants]="participants$ | async" content></memo-participants>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Kommentare'">
		<memo-comments-section [comments]="commentsSubject$ | async"
							   [eventId]="party.id"
							   (onDeleteComment)="deleteComment($event)" content></memo-comments-section>
	</memo-item-details-content>
</memo-item-details-container>
