@import "mixins";

:host {
	@include fullscreen-page();
}

.page-title {
	@include fullscreen-page-title();
	margin-top: -20%;
}

.content-container {
	@include fullscreen-page-content();

	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;

	> span {
		font-size: font-size(small);
		color: grey(900);
		display: flex;
		text-align: center;
	}

	mat-form-field {
		width: 100%;
	}

	button {
		width: 100%;
		margin-top: 1rem;
	}

	form {
		margin-top: 1rem;
		width: 100%;
		margin-bottom: 1rem;
	}

	.email-was-sent {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: font-size(small);

		.send-again {
			font-size: font-size(small);
			color: accent();
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	span.error-message {
		display: flex;
		justify-content: center;
	}

	a {
		font-size: font-size(small);
		text-decoration: none;
		color: accent();

		&:hover {
			text-decoration: underline;
		}
	}
}
