@import "mixins";

:host {
	@include fullscreen-page();
}

.page-title {
	@include fullscreen-page-title();
	margin-top: -20%;
}

.content-container {
	@include fullscreen-page-content();
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;

	> span {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 1rem;
	}

	form {
		span.error-message {
			display: flex;
			text-align: center;
			font-size: 0.9em;
			margin-bottom: 1rem;
		}

		button,
		/deep/ mat-form-field {
			width: 100%;
		}
	}

	a {
		font-size: 0.9em;
		text-decoration: none;
		color: $accent-default;
		margin-top: 1.5rem;
	}
}
