<div class="page-title">
	<a routerLink="/"><img src="../../../resources/images/Logo.png"/></a>
	<span>Meilenwoelfe e.V.</span>
</div>

<div class="content-container">
	<span>
		Wir werden dir eine Email mit Anweisungen zum Zurücksetzen deines Passworts senden.
	</span>
	<form [formGroup]="formGroup" (ngSubmit)="submit()">
		<mat-form-field>
			<input matInput placeholder="Email" formControlName="email" (input)="error = ''"/>
			<mat-error *ngIf="formGroup.get('email').hasError('email')">
				Email-Adresse muss in der Form <i>test@email.de</i> sein
			</mat-error>
			<mat-error *ngIf="formGroup.get('email').hasError('required')">
				Dieses Feld darf nicht leer bleiben.
			</mat-error>
			<mat-error *ngIf="formGroup.get('email').hasError('emailDoesntExist')">
				Diese Email ist keinem Account zugewiesen.
			</mat-error>
		</mat-form-field>

		<span [style.visibility]="error ? 'visible' : 'hidden'" class="error-message">
			{{error ? error : "Etwas ist schiefgelaufen."}}
		</span>

		<span *ngIf="emailWasSent" class="email-was-sent">
			<span>Die Email wurde erfolgreich versendet. </span>
			<span class="send-again" (click)="submit()">Noch eine Email senden?</span>
		</span>

		<button mat-raised-button color="accent" [disabled]="error || !formGroup.valid || formGroup.pending || loading">
			<span *ngIf="!loading else loadingSpinner">Passwort zurücksetzen</span>
			<ng-template #loadingSpinner>
				<mat-icon class="loading-spinner">refresh</mat-icon>
				<span>Sendet..</span>
			</ng-template>
		</button>
	</form>

	<a routerLink="/login/">Zum Login</a>
</div>
