<div class="page-title">
	<a routerLink="/"><img src="../../../resources/images/Logo.png"/></a>
	<span>Meilenwoelfe e.V.</span>
</div>

<div class="content-container">
	<span>Bitte gib hier dein neues Passwort ein.</span>
	<form [formGroup]="formGroup" (ngSubmit)="submit()">
		<memo-password-input [repeatPassword]="true" [form]="formGroup"></memo-password-input>

		<span *ngIf="error" class="error-message">
			{{error}}
		</span>

		<button mat-raised-button color="accent"
				[disabled]="!formGroup.valid || formGroup.pending || loading">
			<span *ngIf="!loading; else loadingSpinner">
				{{error.length > 0 ? "Erneut versuchen" : "Passwort zurücksetzen"}}
			</span>
			<ng-template #loadingSpinner>
				<mat-icon class="loading-spinner">refresh</mat-icon>
				<span>Setzt Password...</span>
			</ng-template>
		</button>
	</form>


	<a routerLink="/login/">Zum Login</a>
</div>
