@import "theme";

:host {
	display: flex;
	flex-direction: column-reverse;
	background: white;

	> .available-images-list-container {
		width: 100%;
	}
}

.available-images-list {
	display: flex;
	flex-direction: row;
	background: white;
	overflow: auto;

	> *:not(:first-child) {
		margin-left: 4px;
	}
}

.current-image-container {
	width: 100%;
	background: white;
	height: 250px;
	max-height: 500px;
	display: flex;
	justify-content: center;

	.current-image {
		width: inherit;
		height: inherit;
		max-width: 500px;
		max-height: 500px;
		object-fit: cover;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.17);

		@media all and (min-width: 800px) {
			border-top: none;
		}
	}
}

.available-images-list {
	margin-top: 4px;
}

.thumbnail {
	display: inline-block;
	filter: brightness(70%);
	width: 65px;
	height: 65px;
	transition: all 0.2s ease-in;
	object-fit: cover;
	border: none;

	&.selected {
		filter: none;
	}
}


@media all and (min-width: 800px) {
	:host {
		padding: 16px;
	}
	.current-image-container {
		flex: 1;
		display: flex;
		justify-content: flex-start;

		.current-image {
			object-fit: cover;
			max-height: none;
			max-width: none;
			height: 100%;
			width: 100%;
			border-radius: 4px;
		}
	}

	.thumbnail {
		border-radius: 4px;
	}

}
