<div class="participants-container">
	<div>
		<md-list>
            <span *ngFor="let participant of (getParticipants(participants) | async)">
                <md-list-item (click)="showDetailsOfUser(participant)">
                    <img md-list-avatar src="{{participant?.imagePath}}" alt="...">
                    <h3 md-line> {{participant?.firstName + " " + participant?.surname}} </h3>
                    <p md-line>
                        <span> {{participant.clubRole}} </span>
                        <span class="secondary-text"> -- {{participant?.miles}} Meilen </span>
                    </p>
                </md-list-item>
                <md-divider></md-divider>
            </span>
		</md-list>
	</div>
</div>

