<div class="modify-shop-item-container" *ngLet="isDesktop$ | async as isDesktop">
	<h3 class="container--header">
		Tour bearbeiten
	</h3>

	<form #modifyShopItemForm="ngForm" *ngIf="formGroup" (ngSubmit)="submitModifiedObject()">
		<memo-form-container class="grouped"
							 [title]="'Tour-Informationen'" [subtitle]="'Alle Felder sind verpflichtend'"
							 [formGroup]="formGroup.get('event-data')">
			<div class="form-input-container">
				<label class="form-label">Titel</label>
				<mat-form-field appearance="outline"
								class="small-outline-formfield">
					<input matInput name="titleInput"
						   required
						   formControlName="title"
					>
					<mat-error *ngIf="formGroup.get('event-data').get('title').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-input-container">
				<label class="form-label">Beschreibung</label>
				<mat-form-field appearance="outline" class="small-outline-formfield description-input">
					<textarea autosize matInput name="descriptionInput"
							  class="not-resizable-textarea" required
							  type="text"
							  formControlName="description">
					</textarea>
					<mat-error *ngIf="formGroup.get('event-data').get('description').hasError('required')"
							   align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>

			<div class="additional-tour-info-container">
				<div>
					<div class="form-input-container">
						<div class="form-label">Preis</div>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput name="priceInput"
								   type="number" required min="0"
								   formControlName="price"
							>
							<span matSuffix>€</span>
							<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('required')"
									   align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
							<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('pattern')"
									   align="end">
								Maximal 2 Nachkommastellen!
							</mat-error>
						</mat-form-field>
					</div>

				</div>

				<div>

					<div class="form-input-container">
						<div class="form-label">Fahrzeug</div>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput name="vehicleInput"
								   type="text" required
								   formControlName="vehicle">
							<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('vehicle')"
									   align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
						</mat-form-field>

					</div>
					<div class="form-input-container">
						<div class="form-label">Kapazität</div>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput name="capacityInput"
								   type="number" required
								   formControlName="capacity"
							>
							<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('capacity')"
									   align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
							<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('min')" align="end">
								Die Kapazität muss größer als 0 sein!
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div>
						<div class="form-input-container">
							<div class="form-label">Datum</div>
							<mat-form-field appearance="outline" class="small-outline-formfield">
								<input matInput [matDatepicker]="myDatepicker"
									   formControlName="date"
									   name="dateInput" required>
								<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
								<mat-error *ngIf="formGroup.get('event-data').get('date').hasError('required')"
										   align="end">
									Das Datum muss im Format DD.MM.YYYY vorliegen.
								</mat-error>
							</mat-form-field>
						</div>
						<mat-datepicker [touchUi]="!isDesktop" #myDatepicker></mat-datepicker>
					</div>

					<div class="form-input-container">
						<div class="form-label">Uhrzeit</div>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput
								   formControlName="time"
								   name="timeInput" required>

							<mat-error *ngIf="formGroup.get('event-data').get('time').hasError('required')"
									   align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
							<mat-error *ngIf="formGroup.get('event-data').get('time').hasError('pattern')"
									   align="end">
								align="end">
								Die Uhrzeit muss im Format "HH:MM" vorliegen!
							</mat-error>
						</mat-form-field>
					</div>

				</div>
			</div>
		</memo-form-container>


		<memo-form-container class="grouped" [title]="'Berechtigungen'" [subtitle]="'Minimum Berechtigungen'">
			<memo-item-permissions-input
				[formGroup]="formGroup.get('permissions')"
				[previousValue]="{
					'expectedReadRole': previousValue?.expectedReadRole,
					'expectedWriteRole': previousValue?.expectedWriteRole,
					'expectedCheckInRole': previousValue?.expectedCheckInRole
				}">

			</memo-item-permissions-input>
		</memo-form-container>

		<memo-form-container class="grouped" [title]="'Bezahlung'">
			<memo-payment-method-configuration
				[formGroup]="formGroup.get('payment-config')">

			</memo-payment-method-configuration>
		</memo-form-container>


		<memo-form-container class="grouped route-input" [title]="'Route'">
			<memo-tour-route-input class="mat-elevation-z3"
								   [previousValue]="previousValue?.route"
								   [formControl]="formGroup.get('addresses')"
								   (distanceChange)="formGroup.get('event-data').get('miles').patchValue(meterToMiles($event))"
								   (durationChange)="formGroup.get('event-data').get('duration').patchValue($event)"
								   [isTour]="true" content>

			</memo-tour-route-input>
		</memo-form-container>

		<memo-form-container class="grouped" [title]="'Bilder'">
			<memo-multi-image-upload [formGroup]="formGroup.get('images')" class="mat-elevation-z3"
									 [previousValue]="previousValue?.images">
			</memo-multi-image-upload>
		</memo-form-container>

		<memo-form-container class="grouped" [title]="'Verantwortliche User'">
			<memo-responsible-user-input [previousValue]="previousValue?.author" class="mat-elevation-z3"
										 [formControl]="formGroup.get('responsible-users')">

			</memo-responsible-user-input>
		</memo-form-container>


		<!--below all that-->
		<div class="form-buttons">
			<!--	cancel button-->
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>
			<!--	save button-->
			<button mat-raised-button color="accent"
					[disabled]="!formGroup.valid || formGroup.pending || modifyItemService.loading">
				<span *ngIf="!modifyItemService.loading; else loadingSpinner">
					{{mode === ModifyType.ADD ? 'Erstellen' : 'Speichern'}}
				</span>
				<ng-template #loadingSpinner>
					<mat-icon class="loading-spinner">refresh</mat-icon>
					<span>Speichert...</span>
				</ng-template>
			</button>
		</div>
	</form>
</div>
