@import "mixins";
@import "../modify-shop-item.component";


.additional-tour-info-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div:not(.form-input-container) {
		display: flex;
		justify-content: space-between;

		&.column {
			flex-direction: column;
		}
	}


	> div:not(.column) > * {
		width: 45%;
	}
}

.no-padding /deep/ .container--body {
	padding: 0;
}

form > div:first-child {
	display: flex;
	flex-direction: column;
}
