@import "../../../../mixins";
@import "../centered-container";

.object-details-content-container {
	@include card-like();
}

.object-details-content-title {
	padding: 1rem 1rem 0;
	//color: #666666;
	font-size: 1.1rem;
	//font-weight: 600;
	display: flex;
	justify-content: space-between;

	> a {
		text-decoration: none;
		color: #2196F3;
		font-weight: 400;
	}
}

.object-details-content {
	padding: 1rem;
	background-color: white;
}
