@import "theme";

.data-as-text {
	font-weight: bold;
}

.Admin {
	color: red;
}

.Kassenwart {
	color: #34736d;
}

.Mitglied {
	color: $primary-default;
}

.Organisator {
	color: #f315a1;
}

.Vorstand {
	color: #2196F3;
}

.Gast {
	color: grey;
}
