@import "theme";

.data-as-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	@include background-accent();
	padding: 8px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	> mat-icon {
		height: 18px;
		width: 18px;
		font-size: font-size(small-medium);
	}
}

.data-as-text {
	display: none;
}

@media all and (max-width: 500px) {
	.data-as-icon {
		width: 30px;
		height: 30px;

		> mat-icon {
			height: 1rem;
			width: 1rem;
			font-size: font-size(default);
		}
	}
}

@media all and (min-width: 1200px) {
	.data-as-icon {
		display: none;
	}
	.data-as-text {
		display: flex;
	}
}
