<div class="modify-shop-item-container" *ngLet="isDesktop$ |async as isDesktop">
	<h3 class="container--header">
		Posten bearbeiten
	</h3>
	<form [formGroup]="formGroup" (ngSubmit)="submitModifiedObject()">

		<memo-item-details-content [title]="'Informationen'" [subtitle]="'Alle Felder sind verpflichtend'"
								   class="grouped"
								   [formGroup]="formGroup"
								   [direction]="!(isDesktop) ? 'vertical' : 'horizontal'">

			<div class="form-input-container">
				<div class="form-label">Titel</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<input matInput
						   name="titleInput"
						   required
						   formControlName="name"
					>
					<mat-error *ngIf="formGroup.get('name').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-input-container">
				<div class="form-label">
					Kommentar

					<mat-icon class="form-label--additional-info" [inline]="true"
							  matTooltip="Zusätzliche Informationen, Notizen, etc.">
						help
					</mat-icon>
				</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="2"
							  name="commentInput"
							  formControlName="comment"
					></textarea>
				</mat-form-field>
			</div>
			<div class="desktop-row">

				<div class="form-input-container">
					<div class="form-label">Datum</div>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput [matDatepicker]="myDatepicker"
							   formControlName="date"
							   name="dateInput" required>
						<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
						<mat-error *ngIf="formGroup.get('date').hasError('required')">
							Wert muss im Format DD.MM.YYYY vorliegen.
						</mat-error>
					</mat-form-field>
					<mat-datepicker [touchUi]="!isDesktop" #myDatepicker></mat-datepicker>
				</div>
				<div class="form-input-container">
					<div class="form-label">Kategorie</div>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<mat-select [formControl]="formGroup.get('category')"
									[compareWith]="compareCategories"
									name="categorySelect">
							<mat-option *ngFor="let option of (entryCategories$ | async)" [value]="option">
								{{option.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

			</div>
			<div class="desktop-row">
				<div class="form-input-container">
					<div class="form-label">
						Wert
						<mat-icon class="form-label--additional-info"
								  matTooltip="Werte < 0 sind Kosten, Werte > 0 sind Einnahmen">
							help
						</mat-icon>
					</div>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="valueInput"
							   type="number" required
							   formControlName="value"
						>
						<span matSuffix>€</span>
						<mat-error *ngIf="formGroup.get('value').hasError('required')" align="end">
							Dieses Feld darf nicht leer bleiben!
						</mat-error>
					</mat-form-field>
				</div>

				<memo-event-autocomplete [formControl]="formGroup.get('item')">

				</memo-event-autocomplete>
			</div>
		</memo-item-details-content>

		<memo-item-details-content [title]="'Bilder'" class="grouped"
								   [direction]="!(isDesktop) ? 'vertical' : 'horizontal'">
			<memo-multi-image-upload [previousValue]="previousValue?.images"
									 class="mat-elevation-z3"
									 [formGroup]="formGroup.get('images')">

			</memo-multi-image-upload>
		</memo-item-details-content>


		<!--below all that-->
		<div class="form-buttons">
			<!--	cancel button-->
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>
			<!--	save button-->
			<button mat-raised-button color="accent"
					[disabled]="!formGroup.valid || formGroup.pending || modifyItemService.loading">
					<span *ngIf="!modifyItemService.loading; else loadingSpinner">
						{{mode === ModifyType.ADD ? 'Erstellen' : 'Speichern'}}
					</span>
				<ng-template #loadingSpinner>
					<mat-icon class="loading-spinner">refresh</mat-icon>
					<span>Speichert...</span>
				</ng-template>
			</button>
		</div>
	</form>
</div>
