@import "../modify-shop-item.component";
@import "variables";

form > mat-form-field {
	margin-top: 1rem;

	@media all and (min-width: 600px) {
		margin-top: 0;
	}
}

.modify-shop-item-container {
	background: $container-content--background-color;
	color: $container-content--color;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	padding-top: 0;
	max-width: 500px;

	@media all and (min-width: 600px) {
		margin-top: 1rem;
	}

	h2 {
		margin-top: 0;
		box-shadow: none;
		border-bottom: $container-divider--height solid $container-divider--color;
		color: $container-header--color;
		background-color: $container-header--background-color;

		@media all and (min-width: 600px) {
			max-width: none;
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}
}

.entry-info-container {
	display: flex;
	justify-content: space-between;

	&:nth-child(1) {
		justify-content: space-between;
		align-items: center;
		> * {
			width: 45%;
		}

		mat-select {
			margin-top: -8px;
		}

		/deep/ .mat-select-placeholder.mat-floating-placeholder {
			top: -16px !important;
		}
	}

	&:nth-child(2) {
		width: 100%;
		> div {
			width: 45%;
		}
	}
}

.form-buttons {
	margin-top: 20px;
}
