<div *ngIf="!hidden">
	<h2 class="account-options-title mat-headline">{{'Optionen'|uppercase}}</h2>
	<h3>Datum</h3>
	<mat-form-field>
		<input matInput [matDatepicker]="startingDatePicker"
			   placeholder="Von"
			   [(ngModel)]="dateOptions.from"
			   (ngModel)="updateQueryParams()"
			   (blur)="updateQueryParams()"
			   #startingDateInput="ngModel"
			   name="startingDateInput">
		<mat-datepicker-toggle matSuffix [for]="startingDatePicker"></mat-datepicker-toggle>
	</mat-form-field>
	<mat-datepicker #startingDatePicker (selectedChanged)="updateQueryParams()" [touchUi]="true"></mat-datepicker>

	<mat-form-field>
		<input matInput [matDatepicker]="endDatePicker"
			   placeholder="Bis"
			   [(ngModel)]="dateOptions.to"
			   (ngModel)="updateQueryParams()"
			   (blur)="updateQueryParams()"
			   #endDateInput="ngModel"
			   name="endDateInput">
		<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
	</mat-form-field>
	<mat-datepicker #endDatePicker (selectedChanged)="updateQueryParams()" [touchUi]="true"></mat-datepicker>
</div>


<div *ngIf="!hidden" class="events-container">
	<h3>Nach Events filtern</h3>
	<mat-chip-list class="mat-chip-list-stacked">
		<mat-chip *ngFor="let event of events; let i = index"
				 color="primary">
			<a routerLink="/{{getEventType(event)}}/{{event.id}}" matTooltip="Auf die Detailseite dieses Events gehen">
				{{ event.title }}
			</a>
			<mat-icon class="remove-chip-button" (click)="events.splice(i,1); updateQueryParams()" matTooltip="Löschen">
				cancel
			</mat-icon>
		</mat-chip>
		<mat-chip *ngIf="events.length === 0" class="chip-accent" color="accent">
			Alle Events
		</mat-chip>
	</mat-chip-list>


	<mat-form-field>
		<input matInput
			   tabindex="-1"
			   placeholder="Event"
			   name="userInput"
			   [formControl]="autocompleteFormControl"
			   [matAutocomplete]="auto">
	</mat-form-field>
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
		<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
			{{option.title}}
		</mat-option>
	</mat-autocomplete>
</div>

<!--todo?-->
<!--<div *ngIf="!hidden">-->
<!--<h3>Event-Typen</h3>-->
<!--<mat-checkbox [(ngModel)]="eventTypes['tours']"-->
<!--(ngModelChange)="updateQueryParams()">-->
<!--Fahrten-->
<!--</mat-checkbox>-->
<!--<mat-checkbox [(ngModel)]="eventTypes['events']"-->
<!--(ngModelChange)="updateQueryParams()">-->
<!--Veranstaltungen-->
<!--</mat-checkbox>-->
<!--&lt;!&ndash;todo macht merchandise überhaupt sinn?&ndash;&gt;-->
<!--<mat-checkbox [(ngModel)]="eventTypes['merch']"-->
<!--(ngModelChange)="updateQueryParams()">-->
<!--Merchandise-->
<!--</mat-checkbox>-->
<!--</div>-->
<div *ngIf="!hidden">
	<h3>Kostenarten</h3>

	<mat-checkbox *ngFor="let costType of (costCategories$|async)"
				 [(ngModel)]="costTypes[costType.name]"
				 (ngModelChange)="updateQueryParams()">
		{{costType.name}}
	</mat-checkbox>
</div>
<!--todo andere optionen?-->
