@import "theme";

:host {
	display: block;
	position: relative;
	border-radius: 4px;

	memo-actions-header-cell,
	memo-actions-header-cell /deep/ .expandable-table-header {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	mat-paginator {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.invisible {
	height: 0;
	width: 0;
	position: absolute;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: -1000;
}

table {
	width: 100%;
}

.no-results-overlay {
	display: flex;
	background: white;
	padding: 2rem;
	color: grey(800);
}

.loading-shade {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.table-container {
	overflow-x: auto;
}

td.mat-cell {
	padding-right: 24px;
}

.mat-column-select {
	overflow: initial;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: grey(50);
}

.element-row.expanded {
	border-bottom-color: transparent;
}

.expanded-row-container {
	&:not(.expanded-row) td {
		height: 0;
		min-height: 0;

		.detail-row {
			min-height: 0;
			height: 0;
		}
	}
}

.expanded-container {
	overflow: hidden;
	transition: height 225ms cubic-bezier(0.4, 0.0, 0.2, 1), min-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
	background: grey(100);

	.detail-row {
		transition: height 225ms cubic-bezier(0.4, 0.0, 0.2, 1), min-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-height: 40px;

		> .label {
			width: 100px;
			color: grey(900);
			font-size: font-size(smallest);
			font-weight: 600;
		}
	}
}

.select-cell {
	max-width: 20px;
	padding: 0 !important;
}

.action-cell {
	max-width: 40px;
	padding: 0 !important;
}
