:host {
	display: block;
	position: relative;
}

table {
	width: 100%;
}

.no-results-overlay {
	display: flex;
	background: white;
	padding: 2rem;
	color: rgba(0, 0, 0, 0.64);
}

.loading-shade {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.mat-column-select {
	overflow: initial;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: #f5f5f5;
}

.element-row.expanded {
	border-bottom-color: transparent;
}

.expanded-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.detail-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;

		> .label {
			width: 100px;
			color: rgba(0, 0, 0, 0.54);
			font-size: 12px;
			font-weight: 500;
		}
	}
}

.select-cell {
	max-width: 20px;
}

.action-cell {
	max-width: 80px;
	padding: 0 1rem;
}
