@import "theme";

:host {
	display: block;
	position: relative;
}

table {
	width: 100%;
}

.no-results-overlay {
	display: flex;
	background: white;
	padding: 2rem;
	color: grey(800);
}

.loading-shade {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.table-container {
	overflow-x: auto;
}

td.mat-cell {
	padding-right: 24px;
}

.mat-column-select {
	overflow: initial;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: grey(50);
}

.element-row.expanded {
	border-bottom-color: transparent;
}

.expanded-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.detail-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;

		> .label {
			width: 100px;
			color: grey(900);
			font-size: font-size(smallest);
			font-weight: 600;
		}
	}
}

.select-cell {
	max-width: 20px;
	padding: 0 !important;
}

.action-cell {
	max-width: 40px;
	padding: 0 !important;
}
