@import "theme";

:host {
	display: flex;
	justify-content: center;
}

.modify-shop-item-container {
	width: 100%;
	max-width: 1000px;
	background: white;
	@include mat-elevation(3);
	@include mat-elevation-transition();
	border-radius: 4px;
}

.container--header {
	margin: 0;
	padding: 16px;
	font-weight: 400;
	border-bottom: 1px solid grey(200);
	font-size: font-size(medium-larger);
}

.header {
	::ng-deep .container--header h3 {
		font-size: font-size(medium-larger);
	}

	::ng-deep .container--body {
		display: none;
	}

	border-bottom: 1px solid grey(200);
}

memo-multi-image-upload {
	margin: auto;
	border-radius: 4px;

	::ng-deep memo-multi-image-container {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
}

.form-buttons {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid grey(100);
}

@media all and(min-width: 800px) {
	:host {
		margin-top: 32px;
		margin-bottom: 32px;
	}
}
