<form [formGroup]="formGroup" (ngSubmit)="submit()">
	<memo-participant-list class="participants-list mat-elevation-z3"></memo-participant-list>

	<div class="secondary-event-information">
		<memo-item-details-content [title]="'Gruppenbild'">
			<memo-multi-image-upload [limit]="1"
									 [previousValue]="(previousValue$|async)?.images || []"
									 [formGroup]="formGroup.get('images')"></memo-multi-image-upload>
		</memo-item-details-content>

		<memo-item-details-content [title]="'Bericht-Verantwortliche'" class="responsible-user-input-container">
			<memo-responsible-user-input [previousValue]="(previousValue$ | async)?.responsible"
										 [formControl]="formGroup.get('responsibleUsers')">

			</memo-responsible-user-input>
		</memo-item-details-content>
	</div>


	<div class="conclude-event-button mat-elevation-z6" type="submit" (click)="submit()"
		 [class.disabled]="!formGroup.valid || formGroup.pending">
		<span *ngIf="!loading; else loadingSpinner">
			Speichern
		</span>
		<ng-template #loadingSpinner>
			<mat-icon class="loading-spinner">refresh</mat-icon>
			<span>Speichert...</span>
		</ng-template>
	</div>
</form>
