.selection-container {
  //font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selection {
  float: left;
  //width: auto;
  height: 8vw;
  margin: 1.5vw;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #EFEFEF;
  border: 0.2vw solid #D0D0D0;
  overflow: auto;
}

.selection span {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.selection input {
  display: none;
  position: absolute;
  top: -20px;
}

.selection:not(.text-selection) input:checked + span {
  border: 1vw solid #212121;
}

.selection.text-selection input:checked + span {
  background-color: #4caf50;
  color: white;
}