<memo-data-container *ngLet="merchStock$ | async as merchStock"
					 [data]="merchStock ? [merchStock] : null"
					 [error]="error"
					 [renderer]="renderer"
					 errorStateHeadline="Fehler beim Laden"
					 errorStateSubtitle="Der Bestand dieses Artikels konnte leider nicht geladen werden. Probiere es später noch mal."
>

</memo-data-container>

<ng-template #renderer let-item>
	<memo-modify-merch-stock [editing]="false"
							 [item]="item.item"
							 [merchTitle]="item.item.title"
							 [previousValue]="item.stock"
	></memo-modify-merch-stock>
</ng-template>


<div class="action-buttons">
	<a mat-raised-button color="accent" [disabled]="!(canEdit$ | async)" routerLink="edit">
		Bearbeiten
	</a>
</div>
