@import "../../../theme";

md-card {
  margin: 4vw;

  md-input {
    width: 100%;
  }

  button, a {
    width: 100%;
  }

  form button {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  h4 {
    text-align: center;
  }

  .has-error {
    margin-bottom: 16px;
  }

  .error-message {
    color: md-color($warn);
    //font-size: 0.8em;
    //margin-top: -2%;
    //margin-bottom: 2%;
  }
}