
md-card {
  margin: 4vw;

  md-input {
    width: 100%;
  }

  button, a {
    width: 100%;
  }

  form button {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  h4 {
    text-align: center;
  }
}