<div class="background">

	<mat-sidenav-container>
		<mat-sidenav #sidenav>
			<memo-sidenav (sideBarClosed)="sidenav.close()"></memo-sidenav>
		</mat-sidenav>

		<!--main content-->
		<div>
			<!--output: sidebar button wurde angeklickt -> callback in AppComponent -->
			<memo-toolbar (sideBarOpened)="sidenav.open()"></memo-toolbar>
			<div class="router-outlet-container">
				<!--todo remove demo-->
				<!--<memo-multi-image-upload></memo-multi-image-upload>-->

				<router-outlet></router-outlet>
			</div>
		</div>

	</mat-sidenav-container>
</div>


