<!--meta/seo stuff-->
<json-ld *ngIf="breadcrumbsJsonLd$ | async as breadcrumbs" [json]="breadcrumbs"></json-ld>

<mat-sidenav-container cdkScrollable>
	<mat-sidenav #sidenav>
		<memo-sidenav (sideBarClosed)="sidenav.close()"></memo-sidenav>
	</mat-sidenav>

	<!--main content-->
	<div>
		<ng-progress [spinner]="false" [color]="'#3F51B5'"></ng-progress>

		<!--output: sidebar button wurde angeklickt -> callback in AppComponent -->
		<memo-toolbar (sideBarOpened)="sidenav.open()"></memo-toolbar>
		<div class="router-outlet-container">
			<router-outlet></router-outlet>
		</div>
		<memo-footer></memo-footer>
	</div>

</mat-sidenav-container>

