@import "../../../theme.scss";
@import "../../../mixins.scss";

.badge-container {
  height: 6vh;
  width: 6vh;

  .no-items::after {
    content: none;
  }

  &:not(.no-items)::after {
    content: attr(amount);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: mat-color($accent);
    color: #fff;
    @include animation(memo-badge 100ms ease-in)
  }
}

@include keyframes(memo-badge) {
  0% {
    @include transform(scale(0))
  }
  100% {
    @include transform(scale(1))
  }
}