:host {
	display: block;
	background: white;
	margin: -1rem;
	padding: 1rem;

}

.actions-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	width: 100%;

	span {
		color: #2196F3;
		cursor: pointer;

		&.disabled {
			pointer-events: none;
			color: rgba(0, 0, 0, 0.64);
		}

		&:hover {
			color: lighten(#2196F3, 10%);
			text-decoration: underline;
		}

		&:not(:first-child) {
			margin-left: 10px;
		}
	}
}

.images-list {
	min-height: 200px;

	> div {
		display: flex;
		justify-content: space-between;
	}
}

memo-multi-image-container {
	max-width: 550px;
	width: 100%;
}

@media all and (min-width: 800px) {
	:host {
		display: flex;
		padding: 0;

		&.single-picture {
			flex-direction: column;

			.actions-container {
				padding: 1rem;
				margin-top: 0;
			}
		}

		memo-multi-image-container {
			max-width: none;
			width: 50%;
			//flex-grow: 1;
		}

		.upload-container {
			width: 50%;
			//flex-grow: 1;
			//padding-left: 1rem;
			margin: 0;

			::ng-deep {
				.expandable-table-component-container {
					margin: 0;
					box-shadow: none;
					height: 500px;
					overflow: auto;
				}
			}
		}
	}
}
