@import "theme";
@import "~@angular/material/theming";

:host {
	display: block;
	background: white;
	margin: -1rem;
	padding: 1rem;

}

.actions-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	width: 100%;

	span {
		color: accent(400);
		cursor: pointer;

		&.disabled {
			pointer-events: none;
			color: grey(500);
		}

		&:hover {
			color: accent(300);
			text-decoration: underline;
		}

		&:not(:first-child) {
			margin-left: 10px;
		}
	}
}

.image-error {
	display: flex;
	white-space: pre-line;
	background: mat-color($warn, 200);
	margin: -1rem;
	padding: 2rem 1rem 1rem;

	> span {
		margin: auto;
	}

	> mat-icon {
		height: 40px;
		width: 40px;
		font-size: 40px;
	}
}

.images-list {
	min-height: 200px;

	> div {
		display: flex;
		justify-content: space-between;
	}
}

memo-multi-image-container {
	max-width: 550px;
	width: 100%;
}

.uploaded-image-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 8px 8px 16px;

	&.no-results {
		color: grey(600);
		font-style: italic;
		text-align: center;
		justify-content: center;
	}
}


.upload-container {
	display: flex;
	flex-direction: column;

	> button {
		margin: 8px auto;
	}
}

.upload-container-header {
	h3 {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid grey(300);
		font-weight: 500;
		font-size: font-size(default);
		color: grey(900);
	}
}

@media all and (min-width: 800px) {
	:host {
		display: flex;
		padding: 0;
		max-width: 500px;

		&.single-picture {
			flex-direction: column;

			.actions-container {
				padding: 1rem;
				margin-top: 0;
			}
		}

		.image-error {
			padding: 1rem;
			margin: 0;
		}

		memo-multi-image-container {
			max-width: none;
			width: 50%;
			//flex-grow: 1;
		}

		.upload-container {
			width: 50%;
			//flex-grow: 1;
			//padding-left: 1rem;
			margin: 0;

			::ng-deep {
				.expandable-table-component-container {
					margin: 0;
					box-shadow: none;
					height: 500px;
					overflow: auto;
				}
			}
		}
	}
}
