<memo-multi-image-container [images]="imagePaths$ | async"
							(onClick)="fileUpload.click()"
							[style.width]="limit === 1 ? '100%' : ''"
>

</memo-multi-image-container>

<div class="image-error" *ngFor="let error of errors; let index = i">
	<mat-icon>error</mat-icon>
	<span>{{error}}</span>
	<button mat-icon-button
			matTooltip="Schließen"
			type="button" (click)="errors.splice(index, 1)">
		<mat-icon>clear</mat-icon>
	</button>
</div>

<div class="actions-container" *ngIf="limit === 1">
	<span (click)="fileUpload.click()">
		Durchsuchen
	</span>
	<span (click)="deleteWithConfirmation(images$.getValue()); deleteButton.blur();" #deleteButton
		  [class.disabled]="(imagePaths$ | async).length === 0">
		Löschen
	</span>
</div>

<!--todo drag-n-dropable list/table of currently uploaded images with a big "upload" or "browse" button at the bottom-->

<div class="upload-container" *ngIf="limit > 1">
	<div class="upload-container-header">
		<h3>Hochgeladene Bilder</h3>
	</div>
	<ng-container *ngIf="inMemoryDataService.data$ | async as data">
		<div *ngFor="let row of data" class="uploaded-image-row" matRipple>
			<span class="image-name">{{row.name}}</span>
			<button mat-icon-button type="button"
					matTooltip="Bild entfernen"
					(click)="deleteEntries([row])">
				<mat-icon>clear</mat-icon>
			</button>
		</div>
		<div *ngIf="!data || data.length === 0" class="uploaded-image-row no-results">
			Keine Bilder.
		</div>
	</ng-container>


	<button mat-stroked-button color="accent" class="add-button"
			type="button" (click)="fileUpload.click()">Hinzufügen
	</button>
</div>


<div class="upload-button-container">
	<input type="file" [multiple]="limit > 1" #fileUpload [hidden]="true"
		   accept="image/jpeg,image/png"
		   (input)="onFileSelect($event)"
		   (change)="onFileSelect($event)" name="file"/>
</div>
