<memo-multi-image-container [images]="imagePaths$ | async"
							(onClick)="fileUpload.click()"
							[style.width]="limit === 1 ? '100%' : ''"
>

</memo-multi-image-container>

<div class="actions-container" *ngIf="limit === 1">
	<span (click)="fileUpload.click()">
		Durchsuchen
	</span>
	<span (click)="deleteWithConfirmation(images$.getValue()); deleteButton.blur();" #deleteButton
		  [class.disabled]="(imagePaths$ | async).length === 0">
		Löschen
	</span>
</div>

<!--todo drag-n-dropable list/table of currently uploaded images with a big "upload" or "browse" button at the bottom-->

<div class="upload-container" *ngIf="limit > 1">
	<!--<memo-expandable-table [title]="'Hochgeladene Bilder' + (isFinite(limit) ? (' (max. ' + limit + ')') : '')"-->
	<!--[data]="multiImageUploadService.data$ | async"-->
	<!--[rowActions]="rowActions"-->
	<!--[expandable]="false"-->
	<!--[columnKeys]="columnKeys"-->
	<!--[pagination]="false"-->
	<!--(onSort)="multiImageUploadService.onSort($event)"-->
	<!--(onAction)="multiImageUploadService.handleTableAction($event)"-->

	<!--&gt;-->

	<!--</memo-expandable-table>-->

	<memo-expandable-material-table
		[dataService]="inMemoryDataService"
		[title]="'Hochgeladene Bilder' + (isFinite(limit) ? (' (max. ' + limit + ')') : '')"
		[rowActions]="rowActions"
		[columns]="columns"
		[displayedColumns]="displayedColumns"
		[withSelection]="true"

		(onAction)="handleTableAction($event)">

	</memo-expandable-material-table>

</div>


<div class="upload-button-container">
	<input type="file" [multiple]="limit > 1" #fileUpload [hidden]="true"
		   (input)="onFileSelect($event)"
		   (change)="onFileSelect($event)" name="file"/>
</div>
