<div class="social-media-links">
	<a href="http://www.facebook.com" rel="noopener" target="_blank">
		<fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
	</a>
	<a href="mailto:info@meilenwoelfe.de" rel="noopener" target="_blank">
		<fa-icon [icon]="['fa', 'envelope']" size="lg"></fa-icon>
	</a>
	<a href="http://www.meilenwoelfe.de" rel="noopener" target="_blank">
		<fa-icon [icon]="['fa', 'globe']" size="lg"></fa-icon>
	</a>
</div>


<div class="sections">
	<div class="section">
		<h3>Über uns</h3>
		<div class="about-us">
			lelelelelelelelee
		</div>
	</div>
	<div class="section">

	</div>
	<div class="section">

	</div>
	<div class="section">

	</div>
	<div class="section">

	</div>


</div>

<div class="copyright">
	&copy; 2018 Meilenwölfe e.V.
</div>
