<div class="social-media-links">
	<a href="http://www.facebook.com/meilenwoelfe/" title="Die Meilenwölfe auf Facebook" rel="noopener" target="_blank">
		<fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
	</a>
	<a href="mailto:shop@meilenwoelfe.de" title="Email an die Meilenwölfe schreiben" rel="noopener" target="_blank">
		<fa-icon [icon]="['fa', 'envelope']" size="lg"></fa-icon>
	</a>
	<a href="http://www.meilenwoelfe.de" title="Der Meilenwölfe Blog" rel="noopener" target="_blank">
		<fa-icon [icon]="['fa', 'globe']" size="lg"></fa-icon>
	</a>
</div>

<div class="breadcrumbs">
	<memo-breadcrumb-navigation></memo-breadcrumb-navigation>
</div>


<memo-sections></memo-sections>

<div class="copyright">
	&copy; 2018 Meilenwölfe e.V.
</div>
