$base--color: rgba(0, 0, 0, 0.84);
$secondary--color: rgba(0, 0, 0, 0.4);

//card-like stuff
$container-header--background-color: white;
$container-header--color: rgba(0, 0, 0, 0.84);
$container-divider--color: #ededed;
$container-divider--height: 1px;
$container-content--background-color: white;
$container-content--color: rgba(0, 0, 0, 0.84);
