@import "theme";

$base--color: grey(900);
$secondary--color: grey(700);

//card-like stuff
$container-header--background-color: white;
$container-header--color: $base--color;
$container-divider--color: grey(300);
$container-divider--height: 1px;
$container-content--background-color: white;
$container-content--color: $base--color;
