
div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	background-color: #ededed;
	height: 200px;
	width: 200px;
	object-fit: cover;
}

img::after {
	content: "Klicke hier um ein Profilbild hochzuladen!"
}
