<div class="preview-container" *ngIf="events$ | async; let events">
	<md-card class="preview-card"
			 *ngFor="let event of events"
			 (click)="showDetails(event)">
		<img md-card-image src="{{!!event.imagePath ? event.imagePath : 'resources/images/Logo.png'}}">
		<md-card-content>
			<div class="card-content-container">
				<div class="event-content">
					<span>{{event.title}}</span>
					<span [style.visibility]="(showDate) ? 'visible' : 'hidden'" class="secondary-text">
						{{event.date.fromNow()}}
					</span>
				</div>
				<span class="event-price">
					{{event.price | currency:'EUR':true}}
				</span>
			</div>
		</md-card-content>
	</md-card>
</div>

<div class="no-events" *ngIf="(events$|async)?.length === 0 || (events$|async) === null">
	<span>{{noElementsText}}</span>
	<a md-raised-button color="accent" *ngIf="userCanCreateEvent | async" routerLink="{{createLink}}">
		{{addShopItemText}}
	</a>
</div>

<ng-template #loadingPreview>

</ng-template>
