/*change size of hamburger menu*/
.material-icons {
	vertical-align: middle;
}

.preview-container {
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-left: 2vw;

	.preview-card {
		width: 15rem;
		margin-left: 0.5rem;
		margin-bottom: 1rem;
		margin-right: 0.5rem;
		display: inline-block;

		.card-content-container {
			display: flex;
			justify-content: space-between;

			> .event-content {
				display: flex;
				flex-direction: column;
				width: 80%;

				> span:first-child {
					font-size: 1.2em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.event-price {
				font-size: 1.4em;
				color: red;
				margin-top: -0.5%;
			}
		}

		> img {
			height: 10rem;
			object-fit: cover;
		}
	}
}

@media all and (min-width: 1000px) {
	md-card-title {
		/*font-size: 1em;*/
	}
}
