@import "theme";

a {
	color: black;
	text-decoration: none;
}

.preview-container {
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	.preview-card {
		width: 15rem;
		margin: 1rem 0.5rem;
		display: inline-block;

		cursor: pointer;

		&:hover {
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
		}

		.card-content-container {
			display: flex;
			justify-content: space-between;

			> .event-content {
				display: flex;
				flex-direction: column;
				width: 65%;

				> span:first-child {
					font-size: 1.2em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				> span:not(:first-child) {
					margin-top: 5px;
				}
			}

			.event-price {
				font-size: 1.4em;
				color: red;
				margin-top: -0.5%;
			}
		}

		> img {
			background: #e9ebee;
			height: 10rem;
			object-fit: cover;
		}
	}
}

memo-price-renderer {
	/deep/ .price-container {
		flex-direction: column-reverse;
		align-items: flex-end;
	}

	/deep/ .percentage-saved {
		display: none;
	}
	/deep/ .base-price {
		font-size: 0.85em;
	}

	/deep/ .actual-price {
		color: $warn-default;
	}
}

.no-events {
	height: 261px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;

	a {
		margin-top: 20px;
	}
}

@media all and (min-width: 950px) {
	:host {
		display: block;
		background-color: hsl(0, 0%, 98%);
		padding-top: 0;
		//box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 3px 0px rgba(0, 0, 0, 0.14), 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
	}
}
