@import "variables";

memo-data-container {
	::ng-deep {
		.empty-state {
			padding: 0;

			.empty-state-headline {
				color: grey(800);
			}
		}
	}
}

.remove-button {
	position: absolute;
	right: -16px;
	top: 16px;
}

.control-row {
	position: relative;

	&:not(:last-of-type){
		border-bottom: 1px solid grey(200);
		margin-bottom: 16px;
		padding-bottom: 16px;
	}
}

.control-row:not(:first-of-type)::before {
	content: "UND";
	position: absolute;
	left: -56px;
	transform: translateY(-50%);
	top: 50%;
	z-index: 10;
	background: accent(50);
	color: accent();
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 500;
}
