<ng-container
	*ngLet="eventType$ | async as eventType">
	<ng-container *ngLet="state$ | async as state">
		<ng-container *ngLet="loading$ | async as loading">
			<div fxLayout="column" fxLayoutGap="16px"
				 fxLayout.gt-xs="row"
				 class="participant-overview" *ngIf="eventType !== 'merch'"
			>
				<memo-figure-card [icon]="'people'" fxFlex="grow"
								  [titleValue]="state?.total || 0"
								  [titleLabel]="'angemeldet'"
								  [subtitle]="(state?.waitingListTotal || 0) + ' in der Warteschlange'"
								  [loading]="loading"
								  (onSelect)="selectionModel.select('participated')"
								  [selected]="eventType === 'tours' && selectionModel.selected[0] === 'participated'"
								  [selectable]="eventType === 'tours'">
				</memo-figure-card>

				<memo-figure-card [icon]="'drive_eta'" fxFlex="grow" *ngIf="eventType === 'tours'"
								  [titleValue]="state?.drivers || 0"
								  [titleLabel]="'Fahrer'"
								  [loading]="loading"
								  [subtitle]="(state?.waitingListDrivers || 0) + ' in der Warteschlange'"
								  (onSelect)="selectionModel.select('isDriver')"
								  [selected]="selectionModel.selected[0] === 'isDriver'"
								  [selectable]="eventType === 'tours'">

				</memo-figure-card>

				<memo-figure-card [icon]="'local_activity'" fxFlex="grow" *ngIf="eventType === 'tours'"
								  [titleValue]="state?.ticketsNeeded || 0"
								  [titleLabel]="'Tickets'"
								  [subtitle]="(state?.waitingListTicketsNeeded || 0) + ' in der Warteschlange'"
								  [loading]="loading"
								  (onSelect)="selectionModel.select('needsTicket')"
								  [selected]="selectionModel.selected[0] === 'needsTicket'"
								  [selectable]="eventType === 'tours'">

				</memo-figure-card>
			</div>
		</ng-container>
	</ng-container>
</ng-container>
