<memo-item-details-container *ngFor="let party of [partyObservable | async]"
							 [overviewKeys]="overViewKeys"
							 [eventObservable]="partyObservable">
	<div component-list>
		<memo-item-details-content [title]="'Details'">
			<memo-item-table [objectObservable]="partyObservable" content></memo-item-table>
		</memo-item-details-content>

		<memo-item-details-content [title]="'Beschreibung'">
			<span class="description secondary-text" content>{{party?.description}}</span>
		</memo-item-details-content>

		<memo-item-details-content [title]="'Teilnehmer'" [route]="'partys/' + party?.id + '/participants'">
			<memo-participants [participants]="getIds(party?.participants).slice(0,3)" content></memo-participants>
		</memo-item-details-content>
	</div>
</memo-item-details-container>
