md-card {
    min-height: 50%;
    height: 90%;
    width: 95%;
    display: inline-block;
    margin: 2.5%;
}

md-card > md-card-header > .md-card-header-text {
    /*display: flex; !* Flexbox Container!!!*!*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
}

:host > > > .md-card-header-text > md-card-title {
    display: flex; /* Flexbox Container!!!*/
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-overflow: ellipsis;
}

:host > > > .md-card-header-text {
    width: 100%;
}

md-card > md-card-header md-card-title,
md-card button md-icon {
    font-size: 3.5em;
    margin-left: 0.2em;
    margin-bottom: 0em;
}

.centered-icon md-icon {
    font-size: 3.5em;
    margin-left: 0.2em;
    margin-bottom: 0.7em;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

md-card > img.img-party-detail {
    margin-top: 60px;

}

.centered-icon {
    width: 100px;
    height: 80px;

}

/*center button icon*/
.md-button-wrapper {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table1 {
    font-size: 3em;
    width: 100%;
    border-collapse: collapse;
}

.bordered {
    border-bottom: 1px solid #cccccc;
}

.spacebottom {
    margin-bottom: 2em;
}

.row {

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.diskription {
    font-size: 4em;
    margin-right: 0.5em;
    margin-top: 1em;
}

.party-teilnehmen {
    font-size: 4em;
    width: 100%;
    height: 120px;
    /*margin-bottom: 0.5em;*/

}

.merch-teilnehmen {
    font-size: 4em;
    width: 100%;
    height: 120px;
    /*margin-bottom: 0.5em;*/

}

.merch-description {
    font-size: 3em;
    margin-left: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sizes {
    background-color: #d9d9d9;
}

.sizes input:checked + span {
    background-color: #4CAF50;
    color: #FAFAFA;

}

.tableSizes {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.tableSizes label {
    float: left;
    width: 130px;
    margin: 10px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
}

.tableSizes label span {
    text-align: center;
    font-size: 32px;
    padding: 13px 0px;
    display: block;
}

.tableSizes label input {
    display: none;
    position: absolute;
    top: -20px;
}
