<div *ngFor="let merch of [merchObservable | async]">
    <md-card>
        <md-card-header>
            <md-card-title>
                <span>{{merch?.title}}</span>
                <div>
                    <button md-button class="centered-icon">
                        <md-icon>email</md-icon>
                    </button>
                    <button md-button class="centered-icon">
                        <md-icon>share</md-icon>
                    </button>
                </div>
            </md-card-title>
        </md-card-header>
        <img md-card-image class="img-party-detail" src="http://placekitten.com/1500/950">
        <md-card-content>

            <div class="titelChoice">Größe</div>

            <div class="tableSizes">
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.XS}}</span></label>
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.S}}</span></label>
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.M}}</span></label>
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.L}}</span></label>
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.XL}}</span></label>
                <label class="sizes"><input type="radio" name="toggle"><span>{{clothesSize.XXL}}</span></label>
            </div>
            <hr class="underline">
            <div class="titelChoice">Farbe</div>
            <div class="tableColor">
                <label *ngFor="let color of merch?.color" class="color" [ngStyle]="{'background-color': color}">
                    <input type="radio" name="colortoggle"><span></span>
                </label>
            </div>
            <hr class="underline">

            <div class="titelChoice">Details</div>

            <table class="table1">
                <tr class="bordered">
                    <td class="row" align="left">Preis</td>
                    <td class="row" align="right">{{merch?.priceMember}} €</td>
                </tr>
                <tr class="bordered">
                    <td class="row" align="left">Material</td>
                    <td class="row" align="right">{{merch?.material}}</td>
                </tr>
                <tr class="bordered">
                    <td class="row" align="left">Vorrätig (Stück)</td>
                    <td class="row" align="right">{{merch?.capacity}}</td>
                </tr>
                <tr class="bordered">
                    <td class="row" align="left">Abholung</td>
                    <td class="row" align="right" class="spacebottom">{{merch?.meetingPoint.name}}
                        <div>{{merch?.meetingPoint.street}} {{merch?.meetingPoint.streetNr}}</div>
                        <div>{{merch?.meetingPoint.zip}} {{merch?.meetingPoint.city}}</div>
                    </td>
                </tr>
            </table>


            <div class="diskription">
                Beschreibung
            </div>
            <div class="merch-description">
                {{merch?.description}}
            </div>

            <div class="titelChoice">Größentabelle</div>

            <table class="tableSizesClothes">
                <tr>
                    <th></th>
                    <th *ngFor="let size of clothesSizeKeys">
                        {{size}}
                    </th>
                </tr>
                <tr *ngFor="let index of attributeIndices">
                    <td class="rowSize">{{attributes[index]}}</td>
                    <td class="rowSize" *ngFor="let size of clothesSizeKeys">
                        {{merch.sizeTable[size]}}
                    </td>
                </tr>
            </table>




            <button md-raised-button color="primary" class="merch-teilnehmen">
                In den Warenkorb
            </button>


        </md-card-content>
    </md-card>
</div>