<object-details-container *ngFor="let merch of [merchObservable | async]" [eventObservable]="merchObservable">
    <div component-list>

        <object-details-content [title]="'Farbe'">
            <details-selection (selectedValueChange)="options.color = $event.value"
                               [selections]="colorSelections" content></details-selection>
        </object-details-content>

        <object-details-content [title]="'Größe'">
            <details-selection (selectedValueChange)="options.size = $event.value"
                               [selections]="clothesSizeSelections" content></details-selection>
        </object-details-content>

        <object-details-content [title]="'Details'">
            <details-table [objectObservable]="merchObservable" content></details-table>
        </object-details-content>

        <object-details-content [title]="'Beschreibung'">
            <span class="description secondary-text" content>{{merch?.description}}</span>
        </object-details-content>

        <object-details-content [title]="'Größentabelle'">
            <details-size-table [clothesSizes]="clothesSizes"
                                [sizeTableCategories]="sizeTableCategories"
                                [merchObservable]="merchObservable" content></details-size-table>
        </object-details-content>
    </div>
</object-details-container>