@import "theme";

:host {
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 300px;
	grid-gap: 2rem;
	grid-auto-flow: dense;

	padding:1rem;

	> div{
		background: white;
	}
}

.dashboard{
	&__column {

		// per default, an item spans two columns.
		grid-column-end: span 2;

		// smaller items only span one column.
		&--half {
			grid-column-end: span 1;
		}

		&--three{
			grid-column-end: span 3;
		}

		// full-width items span the entire row.
		// the numbers here refer to the first and last grid lines.
		&--full {
			grid-column: 1 / -1;
		}
	}
	&__row{

		// per default, an item spans two rows.
		grid-row-end: span 2;

		// smaller items only span one row.
		&--half {
			grid-row-end: span 1;
		}
		// full-width items span the entire row.
		// the numbers here refer to the first and last grid lines.
		&--full {
			grid-row-end: span 3;
		}
	}

}

memo-event-calendar {
	display: block;
	z-index: 5;
}
