@import "../../../mixins";

.profile-container {

	.profile-background {
		width: 100%;
		position: relative;
		overflow: visible;
		z-index: -1;
		.no-height-image-container {
			overflow: visible;
			height: 0;

			.profile-background-image {
				display: block;
				height: 220px;
				background-size: cover;
			}

			.profile-background-image::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 220px;
				z-index: 1;
				pointer-events: none;
				background: linear-gradient(transparent, rgba(0, 0, 0, .55));
			}
		}
	}
	.profile-component {
		@include card-like();
		width: 95%;
		display: inline-block;
		padding: 1.5rem;
	}

	.profile-details-container {
		margin-top: 128px;

		.profile-header {
			align-items: center;
			justify-content: space-between;
			display: flex;
			flex-direction: column;
			margin-top: -90px;

			.profile-picture {
				height: 8rem;
				width: 8rem;
				border-radius: 50%;
				border: #ffffff solid 5px;
				box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
				//box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
			}

		}

		.profile-title-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 10px;
			flex-direction: column;

			.profile-name {
				font-size: 1.5rem;
				color: rgba(0, 0, 0, 0.8);
			}

			.profile-role {
				font-size: 1.2rem;
				color: grey;
			}
		}

		.profile-info-container {
			margin-top: 2rem;

			> div {
				> div {
					align-items: center;
					justify-content: space-between;
					display: flex;
				}

			}
		}

		.profile-action-container {
			display: flex;
			justify-content: space-around;
			margin-top: 2rem;

			button {
				width: 45%;

				.action-text {
					margin-left: 1rem;
				}
			}
		}
	}

	.profile-tours-title {
		margin-bottom: 0;
	}
}
