@import "mixins";
@import "theme";
@import "variables";

.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}

.profile-background {
	width: 100%;
	position: relative;
	overflow: visible;
	//z-index: -1;
	.no-height-image-container {
		overflow: visible;
		height: 0;

		.profile-background-image {
			display: block;
			height: 220px;
			background-size: cover;
		}

		.profile-background-image::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 220px;
			z-index: 1;
			pointer-events: none;
			background: linear-gradient(transparent, rgba(0, 0, 0, .55));
		}
	}
}

.profile-component {
	max-width: 500px;
	width: 100%;
}

.participated-tours {
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 0;

	memo-participated-tours-preview {
		display: block;
		margin-top: -8px;
	}

	.profile-tours-title {
		margin: 0;
	}
}


.profile-tours-title {
	font-size: font-size();
}


.title-subtitle-container {
	display: flex;
	flex-direction: column;

	.subtitle {
		display: block;
		font-size: font-size(smallest);
		color: grey(600);
	}

}

.profile-info-row {
	display: flex;
	align-items: center;
	margin-top: 2px;
	padding: 8px 16px;
}

.profile-details-container {
	margin-top: 64px;
	z-index: 1;

	.profile-title-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		color: white;
		background: memo-green();
		padding: 16px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		img {
			background-color: #f4f4f4;
			display: block;
			background-size: cover;
			width: 80px;
			height: 80px;
			object-fit: cover;
			margin-bottom: -50px;
			margin-right: 16px;
		}

		.profile-name {
			margin: 0;
			font-weight: 300;
			font-size: font-size(medium);
		}

		.profile-role {
			margin: 0;
			font-weight: 200;
			font-size: font-size(default);
			color: hsla(123, 41%, 86%, 1);
		}
	}

	.profile-info-table {
		margin-top: 32px;

		> div {
			> div,
			> div > div {
				font-size: font-size(smaller);
			}

			> div {
				margin-left: 8px;
			}

		}
	}

	.profile-action-container {
		display: flex;
		justify-content: center;
		padding: 16px;

		.spacer {
			flex: 1;
		}

		.mat-stroked-button {
			padding-right: 8px;
		}
	}
}

agm-map {
	height: 300px;
}
