<div *ngIf="userObservable | async as user" class="profile-container">
	<!--backdrop behind profile picture-->
	<div class="profile-background">
		<div class="no-height-image-container">
			<div class="profile-background-image"
				 [ngStyle]="{'background': 'url(' + ('resources/images/Logo.png') + ') center'}">

			</div>
		</div>
	</div>

	<div class="profile-details-container profile-component">
		<div class="profile-other-actions">
			<button mat-icon-button
					*ngIf="canEditUser | async"
					[matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="editProfile()">
					<span>Bearbeiten</span>
				</button>
			</mat-menu>
		</div>
		<div class="profile-header">
			<img class="profile-picture"
				 src="{{(user.images.length > 0 ? user.images[0] : 'resources/images/Logo.png') | imageSize:'medium' | async}}">
		</div>
		<div class="profile-title-container">
			<h1 class="profile-name">{{user.firstName}} {{user.surname}}</h1>
			<h3 class="profile-role">{{user.clubRole}}</h3>
		</div>
		<div class="profile-info-table">
			<div *ngFor="let category of profileCategories;">
				<div *ngFor="let item of category">
					<div>
						<mat-icon class="middle-icon mat-dark">{{item.icon}}</mat-icon>
						<span class="secondary-text">{{item.name}}</span>
					</div>
					<span *ngIf="item.isDate" class="icon-text secondary-text">{{user[item.key] | dateFormat}}</span>
					<span *ngIf="!item.isDate" class="icon-text secondary-text">{{user[item.key]}}</span>
				</div>
			</div>
		</div>
		<div class="profile-action-container">
			<a href="{{(canReadPhoneNumber$ |async) ? ('tel:' + user.telephone) : '#'}}"
			   mat-button color="accent" [disabled]="!(canReadPhoneNumber$ |async) || !user.telephone">
				<mat-icon>local_phone</mat-icon>
				<span class="action-text">Anrufen</span>
			</a>
			<a href="{{(canReadPhoneNumber$ |async) ? ('tel:' + user.mobile) : '#'}}"
			   mat-button color="accent" [disabled]="!(canReadPhoneNumber$ |async) || !user.mobile">
				<mat-icon>smartphone</mat-icon>
				<span class="action-text">Anrufen</span>
			</a>
			<a href="mailto:{{user.email}}" mat-button color="accent" [disabled]="!user.email">
				<mat-icon>local_post_office</mat-icon>
				<span class="action-text">Schreiben</span>
			</a>
		</div>
	</div>
	<div class="profile-component participated-tours">
		<h2 class="profile-tours-title">Hat teilgenommen an</h2>
		<!-- Touren die Member mitgefahren ist -->
		<memo-participated-tours-preview [userEvents]="userEvents | async"></memo-participated-tours-preview>
	</div>

	<div class="profile-component" *ngIf="userDestinations | async; let destinations;">
		<h2 class="profile-tours-title">Karte</h2>
		<agm-map [latitude]="(centerOfUserDestinations|async)?.latitude"
				 [longitude]="(centerOfUserDestinations|async)?.longitude">
			<agm-marker *ngFor="let destination of destinations; let i = index;"
						[latitude]="destination.latitude"
						[longitude]="destination.longitude">

			</agm-marker>
		</agm-map>

	</div>
</div>
