<div *ngIf="userObservable | async as user" class="profile-container">
	<!--backdrop behind profile picture-->
	<div class="profile-background">
		<div class="no-height-image-container">
			<div class="profile-background-image"
				 [ngStyle]="{'background': 'url(' + user.imagePath + ') center'}">

			</div>
		</div>
	</div>

	<div class="profile-details-container profile-component">
		<div class="profile-other-actions">
			<button md-icon-button
					*ngIf="isOwnProfile | async"
					[mdMenuTriggerFor]="menu">
				<md-icon>more_vert</md-icon>
			</button>
			<md-menu #menu="mdMenu">
				<button md-menu-item (click)="editProfile()">
					<span>Bearbeiten</span>
				</button>
			</md-menu>
		</div>
		<div class="profile-header">
			<img class="profile-picture" src={{user.imagePath}}>
		</div>
		<div class="profile-title-container">
			<div class="profile-name">{{user.firstName}} {{user.surname}}</div>
			<div class="profile-role">{{user.clubRole}}</div>
		</div>
		<div class="profile-info-container">
			<div *ngFor="let category of profileCategories;">
				<div *ngFor="let item of category">
					<md-icon class="middle-icon md-dark">{{item.icon}}</md-icon>
					<span *ngIf="item.isDate" class="icon-text secondary-text">{{user[item.key] | date}}</span>
					<span *ngIf="!item.isDate" class="icon-text secondary-text">{{user[item.key]}}</span>
				</div>
			</div>
		</div>
		<div class="profile-action-container">
			<!--todo buttons don't do anything-->
			<button md-raised-button color="accent">
				<md-icon>local_phone</md-icon>
				<span class="action-text">
				Anrufen
				</span>

			</button>
			<button md-raised-button color="accent">
				<md-icon>local_post_office</md-icon>
				<span class="action-text">
				Email
				</span>
			</button>
		</div>
	</div>
	<div class="profile-component">
		<h3 class="profile-tours-title">Hat teilgenommen an</h3>
		<!-- Touren die Member mitgefahren ist -->
		<memo-participated-tours-preview [userEvents]="userEvents"></memo-participated-tours-preview>
	</div>
	<div class="profile-component" *ngIf="userEvents | async; let participatedTours;">
		<h3 class="profile-tours-title">Karte</h3>
		<!--todo: update once the tours have longitude/latitude data stored in them-->
		<agm-map [zoom]="7" [latitude]="53" [longitude]="10.78">
			<agm-marker *ngFor="let tour of participatedTours; let i = index;"
						[latitude]="52.422650 + i*0.5"
						[longitude]="10.786546">
			</agm-marker>
		</agm-map>

	</div>
</div>
