<div *ngIf="userObservable | async as user" class="profile-container">
	<!--backdrop behind profile picture-->
	<div class="profile-background">
		<div class="no-height-image-container">
			<div class="profile-background-image"
				 [ngStyle]="{'background': 'url(' + ('resources/images/Logo.png') + ') center'}">

			</div>
		</div>
	</div>

	<div class="profile-details-container mat-elevation-z3 profile-component container">
		<div class="profile-title-container">
			<!-- todo show detailed on click -->
			<img class="profile-picture mat-elevation-z3"
				 src="{{(user.images.length > 0 ? user.images[0] : 'resources/images/Logo.png') | imageSize:'medium' | async}}">
			<div>
				<h1 class="profile-name">{{user.firstName}} {{user.surname}}</h1>
				<h3 class="profile-role">{{user.clubRole}}</h3>
			</div>
		</div>
		<div class="profile-info-table">
			<!-- todo show something nice if the user's birthday is today-->
			<!-- 	like a party hat or something -->
			<div class="profile-info-row">
				<mat-icon class="middle-icon mat-dark">cake</mat-icon>
				<div class="title-subtitle-container">
					<span>{{user.birthday | dateFormat:'age'}} alt</span>
					<span class="subtitle">Hat am {{user.birthday | dateFormat}} Geburtstag</span>
				</div>
			</div>
			<div class="profile-info-row">
				<mat-icon class="middle-icon mat-dark">event</mat-icon>
				<div class="title-subtitle-container">
					<span>Seit {{user.joinDate | dateFormat:'days'}} ein Meilenwolf</span>
					<span class="subtitle">Am {{user.joinDate | dateFormat}} eingetreten</span>
				</div>
			</div>
			<div class="profile-info-row">
				<mat-icon class="middle-icon mat-dark">directions_car</mat-icon>
				<div class="title-subtitle-container">
					<span>{{user.miles}} Meilen gefahren</span>
					<span class="subtitle">Verteilt über {{amountOfTours$ | async}} Fahrten</span>
				</div>
			</div>
		</div>
		<div class="profile-action-container">

			<ng-container *ngIf="canEditUser | async">
				<!-- todo link is broken -->
				<a mat-button routerLink="edit">
					<span>Bearbeiten</span>
				</a>

				<span class="spacer"></span>
			</ng-container>

			<button mat-stroked-button color="accent" [matMenuTriggerFor]="contactMenu">
				<mat-icon>local_post_office</mat-icon>
				Kontaktieren
				<mat-icon [inline]="false">arrow_drop_down</mat-icon>
			</button>
		</div>

		<mat-menu #contactMenu="matMenu">
			<a href="{{(canReadPhoneNumber$ |async) ? ('tel:' + user.telephone) : '#'}}"
			   mat-menu-item color="accent" [disabled]="!(canReadPhoneNumber$ |async) || !user.telephone">
				<mat-icon>local_phone</mat-icon>
				<span class="action-text">Festnetz anrufen</span>
			</a>
			<a href="{{(canReadPhoneNumber$ |async) ? ('tel:' + user.mobile) : '#'}}"
			   mat-menu-item color="accent" [disabled]="!(canReadPhoneNumber$ |async) || !user.mobile">
				<mat-icon>smartphone</mat-icon>
				<span class="action-text">Handy anrufen</span>
			</a>
			<a href="mailto:{{user.email}}" mat-menu-item color="accent" [disabled]="!user.email">
				<mat-icon>local_post_office</mat-icon>
				<span class="action-text">Email schreiben</span>
			</a>
		</mat-menu>
	</div>
	<div class="container mat-elevation-z3 profile-component participated-tours">
		<div class="container--header">
			<h3 class="profile-tours-title">Hat teilgenommen an</h3>
		</div>
		<!-- Touren die Member mitgefahren ist -->
		<memo-participated-tours-preview [userEvents]="userEvents | async"></memo-participated-tours-preview>
	</div>

	<div class="container mat-elevation-z3 profile-component" *ngIf="userDestinations | async; let destinations;">
		<div class="container--header">
			<h3 class="profile-tours-title">Bereiste Orte</h3>
		</div>
		<agm-map [latitude]="(centerOfUserDestinations|async)?.latitude"
				 [longitude]="(centerOfUserDestinations|async)?.longitude">
			<agm-marker *ngFor="let destination of destinations; let i = index;"
						[latitude]="destination.latitude"
						[longitude]="destination.longitude">

			</agm-marker>
		</agm-map>

	</div>
</div>
