<div class="item-details-parent-container mat-elevation-z3">

	<a class="item-details-header"
	   routerLink="conclude"
	   *ngIf="showConcludeEventHeader$ | async">
		<span>Event abschließen</span>
		<mat-icon>
			keyboard_arrow_right
		</mat-icon>
	</a>

	<a class="item-details-header ordered-header"
	   routerLink="{{linkToOrder$ | async}}"
	   *ngIf="orderedItemDetails$ | async as order"
	>
		<div>
			<span class="ordered-header-main-message">Bestellt am {{order.timeStamp | dateFormat:'DD.MM.YYYY'}}</span>
			<span class="options" *ngIf="true">
				<!--{{order}}-->
				<!--todo: order details => amount, color/size combination..-->
			</span>
		</div>
		<mat-icon>
			keyboard_arrow_right
		</mat-icon>
	</a>

	<div class="item-details-card">
		<memo-multi-image-container
			[images]="(images$ | async)"
			(onClick)="showDetailedImage($event)"
		>

		</memo-multi-image-container>

		<memo-item-info [event]="event$ | async"></memo-item-info>
	</div>

	<div class="item-details-container">
		<ng-content></ng-content>
	</div>


</div>
