<div>
	<div class="item-details-card">
		<div class="image-overlay-container">
			<!--display image with overlayed title if present-->
			<div class="image-container"
				 (click)="showDetailedImage(!!event?.imagePath ? event.imagePath : 'resources/images/Logo.png')"
				 [attr.object-title]="event?.title">
				<img class="image-detail" src="{{!!event?.imagePath ? event.imagePath : 'resources/images/Logo.png'}}">
			</div>

			<div class="item-actions">
				<a md-icon-button
				   *ngIf="userCanAccessEntries$ | async"
				   mdTooltip="Kosten dieses Events anzeigen"
				   routerLink="./costs">
					<md-icon>payment</md-icon>
				</a>
				<a md-icon-button
				   *ngIf="userCanEditEvent | async"
				   mdTooltip="Dieses Event bearbeiten"
				   routerLink="./edit">
					<md-icon>edit</md-icon>
				</a>
			</div>

		</div>

		<memo-item-details-overview [event]="event" [overviewKeys]="overviewKeys | async"></memo-item-details-overview>
	</div>

	<div class="item-details-container">
		<ng-content></ng-content>
	</div>


</div>
