<div class="overview-header">
	<h2>Bestandsübersicht</h2>
	<span class="last-refresh-date">Stand: {{stockOverviewService?.loadDate | dateFormat:'relative'}}</span>
</div>

<ng-container *ngLet="state$ | async as state">
	<memo-data-container [loading]="state === null"
						 [error]="error"
						 errorStateHeadline="Bestandsübersicht konnte nicht geladen werden"
						 errorStateSubtitle="Versuche es in ein paar Momenten noch mal!"
						 [renderer]="stockOverviewTemplate"
	>

	</memo-data-container>

	<ng-template #stockOverviewTemplate>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" class="number-card-container">
			<memo-number-card [total]="state?.soldOut || 0"
							  [withChange]="false"
							  positiveThemeColor="warn"
							  cardTitle="Ausverkauft"
							  [class.loading]="state === null"
							  colorSelector="total"
							  faIcon="fire"
			></memo-number-card>
			<memo-number-card [total]="state?.warning || 0"
							  [withChange]="false"
							  positiveThemeColor="accent"
							  cardTitle="Knapp"
							  [class.loading]="state === null"
							  colorSelector="total"
							  matIcon="error"

			></memo-number-card>
			<memo-number-card [total]="state?.ok || 0"
							  [withChange]="false"
							  positiveThemeColor="primary"
							  cardTitle="Genug"
							  [class.loading]="state === null"
							  colorSelector="total"
							  matIcon="check"
			></memo-number-card>
		</div>

		<memo-dashboard-container containerTitle="Status">
			<ng-container *ngLet="state | pipeFunction: toChartData as chartData">
				<div class="loader-wrapper" *ngIf="chartData === null">
					<div class="loader"></div>
				</div>
				<memo-merch-stock-status-chart *ngIf="chartData !== null" [data]="chartData"></memo-merch-stock-status-chart>
			</ng-container>
		</memo-dashboard-container>

	</ng-template>
</ng-container>
