:host {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 64px);
	max-width: 1000px;
	margin: auto;
}

.preview-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background: grey(50);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin: 0;
	color: grey(800);
	font-weight: 500;

	mat-icon {
		color: grey(600);
		margin-right: 4px;
	}

	> div:first-child {

		display: flex;
		align-items: center;
	}

	.preview-more-link {
		color: accent();
		font-weight: 500;
		cursor: pointer;
	}

}

.preview-body {
	display: block;
	background: white;
	min-height: 50px;
}
