<object-details-container *ngFor="let party of [partyObservable | async]" [objectObservable]="partyObservable">
    <div component-list>
        <object-details-content [title]="'Details'">
            <details-table [objectObservable]="partyObservable" content></details-table>
        </object-details-content>

        <object-details-content [title]="'Beschreibung'">
            <span class="description secondary-text" content>{{party?.description}}</span>
        </object-details-content>

        <object-details-content [title]="'Teilnehmer'" [route]="'partys/' + party?.id + '/participants'">
            <details-participants [participants]="getIds(party?.participants).slice(0,3)" content></details-participants>
        </object-details-content>
    </div>
</object-details-container>