<form [formGroup]="formGroup" novalidate>
	<div *ngFor="let permission of permissions" class="form-input-container">

		<div class="form-label">{{permission.label}}</div>
		<mat-form-field appearance="outline" class="small-outline-formfield">
			<mat-select
				[formControl]="formGroup.get(permission.key)"
				class="aligned-mat-select">
				<mat-option *ngFor="let option of clubRoleOptions" [value]="option">
					{{option}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</form>
