.dropbtn {
	padding: 14px;
	font-size: 16px;
	font-weight: 400;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	font-size: 14px;
	position: absolute;
	text-align: left;
	right: 0;
	background-color: #f9f9f9;
	min-width: 180px;
	width: auto;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}
