<ng-container *ngLet="_stockEntry$ | async as stockEntry">
	<div class="stock-entry-header">
		<a routerLink="/shop/merch/{{stockEntry?.item.id}}">
			<img src="{{stockEntry?.item.images[0]  || 'resources/images/Logo.png'}}"/>
		</a>

		<div>
			<a routerLink="/shop/merch/{{stockEntry?.item.id}}">
				<h3>{{stockEntry?.item.title}}</h3>
			</a>
			<div class="responsible-person" *ngIf="responsible$ | async; let responsible">
				<span>Verantwortlich: </span>
				<div>
					<memo-profile-link *ngFor="let user of responsible" [user]="user"></memo-profile-link>
				</div>
			</div>
		</div>
	</div>


	<mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="color">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				Farbe
			</mat-header-cell>
			<mat-cell *matCellDef="let element" class="color-container">
				<div class="merch-available-colors"
					 [style.background-color]="element.color.hex">
				</div>
				<span>{{element.color.name}}</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="size">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				Größe
			</mat-header-cell>
			<mat-cell *matCellDef="let element">
				{{element.size}}
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="amount">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				Anzahl
			</mat-header-cell>
			<mat-cell *matCellDef="let element">
				{{element.amount}}
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				Status
			</mat-header-cell>
			<mat-cell *matCellDef="let element" [class.status-cell]="true"
					  [class.warning]="element.status === Status.WARNING"
					  [class.out-of-stock]="element.status === Status.OUT_OF_STOCK">
				<mat-icon class="status-icon">
					{{element.status === Status.OUT_OF_STOCK
						? 'clear'
						: element.status === Status.WARNING
							? 'error'
							: 'check'
					}}
				</mat-icon>
				<span class="status-label">{{element.status}}</span>
			</mat-cell>
		</ng-container>


		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<div class="stock-entry-footer">
		<button mat-button type="button"
				matTooltip="Merch löschen"
				(click)="deleteMerch(stockEntry?.item.id)">
			Löschen
		</button>
		<a mat-stroked-button color="accent"
		   matTooltip="Bestand bearbeiten"
		   routerLink="/management/stock/merch/{{stockEntry?.item.id}}/edit">
			Bearbeiten
		</a>
	</div>

</ng-container>
