<div class="detail-container">

	<div>
		<!--display image with overlayed title if present-->
		<div class="image-container" *ngIf="event?.imagePath"
			 (click)="showDetailedImage(event?.imagePath)"
			 [attr.object-title]="event.title">
			<img class="image-detail" src="{{event?.imagePath}}">
		</div>

		<a md-icon-button
		   *ngIf="userCanEditEvent | async"
		   routerLink="./edit">
			<md-icon>edit</md-icon>
		</a>

		<memo-item-details-overview [event]="event" [overviewKeys]="overviewKeys | async"></memo-item-details-overview>
	</div>

	<ng-content></ng-content>
</div>
