

<!--todo mach ne komponente draus-->
<div class="preview-container mat-elevation-z3">
	<h3 class="preview-header">Käufe über Zeit</h3>
	<div class="preview-body">

	</div>
</div>



<div class="preview-container mat-elevation-z3">
	<h3 class="preview-header">Neueste Bestellungen</h3>
	<div class="preview-body">

	</div>
</div>


<div class="preview-container mat-elevation-z3">
	<h3 class="preview-header">Beliebteste Items</h3>
	<div class="preview-body">

	</div>
</div>


<div class="preview-container mat-elevation-z3">
	<h3 class="preview-header">Beliebteste Größen</h3>
	<div class="preview-body">

	</div>
</div>


<div class="preview-container mat-elevation-z3">
	<h3 class="preview-header">Beliebteste Farben</h3>
	<div class="preview-body">

	</div>
</div>
