<div class="overview-header">
	<h2>Bestellungsübersicht</h2>
	<span class="last-refresh-date">Stand: {{orderOverviewService.loadDate | dateFormat:'relative'}}</span>
</div>
<div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="flex-start flex-start" fxLayout="column" fxLayoutGap="16px">
	<div fxLayout="column" fxLayoutGap="16px" class="left-side">
		<div class="number-card-container">
			<div *ngLet="openOrders$ | async as openOrders" class="card-container">
				<memo-data-container [initialLoad]="openOrders === null"
									 [renderer]="openOrdersTemplate"

				>
				</memo-data-container>
				<ng-template #openOrdersTemplate>
					<memo-number-card title="Offene Bestellungen"
									  matIcon="access_time"
									  link="/management/orders"
									  [queryParams]="{status: '0,1,2,3,7,8'}"
									  [class.loading]="openOrders === null"
									  [total]="openOrders?.open || 0"
									  [change]="openOrders?.openChange|| 0">
					</memo-number-card>
				</ng-template>
			</div>

			<div *ngLet="totalOrders$ | async as totalOrders" class="card-container">
				<memo-data-container [initialLoad]="totalOrders === null"
									 [renderer]="totalOrdersTemplate"

				>
				</memo-data-container>
				<ng-template #totalOrdersTemplate>
					<memo-number-card title="Bestellungen insgesamt"
									  colorSelector="change"
									  matIcon="receipt"
									  link="/management/orders"
									  [class.loading]="totalOrders === null"
									  [total]="totalOrders?.total|| 0"
									  [change]="totalOrders?.totalChange|| 0">
					</memo-number-card>
				</ng-template>
			</div>
		</div>
		<memo-dashboard-container *ngLet="ordersOverTime$ | async as ordersOverTime"
								  containerTitle="Bestellungen über Zeit">
			<memo-orders-over-time-chart [data]="ordersOverTime">

			</memo-orders-over-time-chart>
		</memo-dashboard-container>
	</div>
	<memo-dashboard-container containerTitle="Neueste Bestellungen" class="right-side" link="/management/orders">
		<memo-latest-orders></memo-latest-orders>
	</memo-dashboard-container>
</div>


<div class="overview-header">
	<h2>Trends</h2>
</div>

<div fxLayout="column" fxLayout.gt-sm="row"
	 fxLayoutGap="16px">
	<memo-dashboard-container containerTitle="Beliebteste Items" *ngLet="popularItems$ | async as popularItems">
		<memo-popular-items [items]="popularItems"></memo-popular-items>
	</memo-dashboard-container>
	<memo-dashboard-container containerTitle="Beliebteste Farben" *ngLet="popularColors$ | async as popularColors">
		<memo-popular-colors [colors]="popularColors"></memo-popular-colors>
	</memo-dashboard-container>
	<memo-dashboard-container containerTitle="Beliebteste Größen" *ngLet="popularSizes$ | async as popularSizes">
		<memo-popular-sizes [sizes]="popularSizes"></memo-popular-sizes>
	</memo-dashboard-container>
</div>
