@import "theme";

:host {
	display: flex;
	flex-direction: column;
	//min-height: calc(100vh - 64px);
	max-width: 1000px;
	margin: auto;
	padding: 16px;
}


.overview-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin-bottom: 16px;

	h2 {
		margin: 0;
		font-size: font-size(medium);
		font-weight: 400;
		color: grey(700);
	}

	.last-refresh-date {
		color: grey();
		font-size: font-size(smaller);
	}
}


memo-dashboard-container,
memo-number-card {
	flex: 1;
}

.left-side {
	flex: 2;
}

.right-side {
	flex: 1;
}
