<memo-results-container *ngLet="(orderOverviewService.orders$|async) as orders"
						[results]="orders"
						[filterOptions]="filterOptions"
						[sortingOptions]="sortingOptions"
						[defaultOption]="sortingOptions[0]"
						[withoutUnsorted]="true"
						[title]="'Bestellungen'"
						[page]="orderOverviewService.dataSource.currentPage$ | async"
						[canAdd]="orderOverviewService.userCanAddOrders$ | async"
						(onAdd)="linkToCreatePage()"
						(pageChange)="orderOverviewService.pageAt($event)"
>
	<memo-order-renderer *ngFor="let order of orders"
						 [canSeeDescription]="true"
						 [withActions]="true"
						 (onRemove)="orderOverviewService.removeOrder($event)"
						 [orderEntry]="order">
	</memo-order-renderer>
</memo-results-container>
