<div class="overview-header">
	<h2>Bestellungsübersicht</h2>
	<span class="last-refresh-date">Stand: {{orderOverviewService.loadDate | relativeDateFormat | async}}</span>
</div>
<div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="flex-start flex-start" fxLayout="column" fxLayoutGap="16px">
	<div fxLayout="column" fxLayoutGap="16px" class="left-side">
		<div class="number-card-container">
			<memo-number-card cardTitle="Offene Bestellungen" *ngLet="openOrders$ |async as openOrders"
							  matIcon="access_time"
							  link="/management/orders"
							  [queryParams]="{status: '0,1,2,3,7,8'}"
							  [class.loading]="openOrders === null"
							  [total]="openOrders?.open || 0"
							  [change]="openOrders?.openChange|| 0">
			</memo-number-card>

			<memo-number-card cardTitle="Bestellungen insgesamt" *ngLet="totalOrders$ | async as totalOrders"
							  colorSelector="change"
							  matIcon="receipt"
							  link="/management/orders"
							  [class.loading]="totalOrders === null"
							  [total]="totalOrders?.total|| 0"
							  [change]="totalOrders?.totalChange|| 0">
			</memo-number-card>
		</div>
		<memo-dashboard-container *ngLet="ordersOverTime$ | async as ordersOverTime"
								  containerTitle="Bestellungen über Zeit">
			<memo-orders-over-time-chart [data]="ordersOverTime">

			</memo-orders-over-time-chart>
		</memo-dashboard-container>
	</div>
	<memo-dashboard-container containerTitle="Neueste Bestellungen" class="right-side" link="/management/orders">
		<memo-latest-orders></memo-latest-orders>
	</memo-dashboard-container>
</div>


<div class="overview-header">
	<h2>Trends</h2>
</div>

<div fxLayout="column" fxLayout.gt-sm="row"
	 fxLayoutAlign.gt-sm="flex-start flex-start"
	 fxLayoutGap="16px">
	<memo-dashboard-container containerTitle="Beliebteste Items" *ngLet="popularItems$ | async as popularItems">
		<memo-popular-items [items]="popularItems"></memo-popular-items>
	</memo-dashboard-container>
	<memo-dashboard-container containerTitle="Beliebteste Farben" *ngLet="popularColors$ | async as popularColors">
		<memo-popular-colors [colors]="popularColors"></memo-popular-colors>
	</memo-dashboard-container>
	<memo-dashboard-container containerTitle="Beliebteste Größen" *ngLet="popularSizes$ | async as popularSizes">
		<memo-popular-sizes [sizes]="popularSizes"></memo-popular-sizes>
	</memo-dashboard-container>
</div>
