@import "theme";

:host {
	display: flex;
	background: white;
	border-radius: 4px;
	padding: 8px;
	position: relative;
	border: 2px solid transparent;
}

:host.selectable {
	cursor: pointer;
	user-select: none;
}

:host > mat-icon {
	height: 50px;
	width: 50px;
	font-size: 50px;
	line-height: 50px;
	margin-right: 8px;
	color: memo-grey(400);
}

:host.selected {
	border-color: accent();

	> mat-icon {
		color: accent();
	}
}

.figure-card-main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.figure-card-top {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.figure-card-main-value {
	font-size: font-size(medium-large);
}

.figure-card-main-label {
	font-size: font-size(default);
	margin-left: 4px;
}

.figure-card-subtitle {
	font-size: font-size(smaller);
	color: memo-grey(600);
	margin-left: 3px;
}

.figure-card-selected-indicator {
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	border: 1px solid memo-grey();
	padding: 4px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	mat-icon {
		height: 16px;
		width: 16px;
		font-size: 16px;
	}
}


:host.selected {
	.figure-card-selected-indicator {
		background: accent();
		border-color: accent();
		color: white;
	}
}
