<div [formGroup]="formGroup">
	<div *ngFor="let address of formGroup.get('addresses').value; let i = index" class="address-entry-container">
		<memo-address-entry *ngIf="showInlineAddressForm !== i; else inlineEditForm"
							[address]="address"
							(onEdit)="showInlineAddressForm = i; showNewAddressForm = false"
							(onDelete)="deleteAddress(i)">
		</memo-address-entry>
		<ng-template #inlineEditForm>
			<memo-address-input-form [address]="address"
									 (onCancel)="showInlineAddressForm = -1"
									 (onSubmit)="updateAddress($event, i)"></memo-address-input-form>
		</ng-template>
	</div>
	<button mat-button type="button" *ngIf="!showNewAddressForm && showInlineAddressForm === -1"
			(click)="showNewAddressForm = true">
		Neue Addresse hinzufügen
	</button>
	<memo-address-input-form *ngIf="showNewAddressForm && showInlineAddressForm === -1"
							 (onCancel)="showNewAddressForm = false"
							 (onSubmit)="updateAddress($event); showNewAddressForm = false"></memo-address-input-form>
</div>
