@import "theme";

:host {
	display: block;
	padding: 16px;
}

.address-entry-container {
	display: flex;
	justify-content: space-between;
	margin-left: 8px;

	button {
		margin-right: -8px;
		margin-top: -8px;
	}
}

.address-information {
	display: flex;
	flex-direction: column;

	> b {
		color: grey(900);
	}

	> span {
		color: grey(600);
		font-size: font-size(smaller);
	}
}

.address-actions {
	display: flex;
	justify-content: center;
	padding: 10px;

	button:first-child {
		margin-right: 10px;
	}
}
