@import "theme";
@import "~@angular/material/theming";

:host {
	background: white;
	display: block;
	border-radius: 4px;

	> div {
		&.address-selection button {
			margin-top: 16px;
		}

		memo-address-input-form {
			display: block;
			padding: 1rem;
		}

	}
}

mat-radio-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.address-management {

	> button {
		margin: 0;
		width: 100%;
	}
}

mat-radio-button,
mat-radio-button /deep/ .mat-radio-label,
mat-radio-button /deep/ .mat-radio-label-content {
	width: 100%;
}

mat-radio-button /deep/ .mat-radio-label {
	padding: 1rem;
}

mat-radio-button /deep/ memo-address-entry {
	padding: 0;
}

.address-entry-container {
	display: block;
	margin-top: 0;
	margin-bottom: 0;

	border-radius: 4px;
	width: 100%;

	&:not(.selection-container) {
		border-bottom: 1px solid grey(300);
		border-radius: 0;
	}

	background: white;
}


.selection-container mat-radio-button {
	border: 2px solid grey(300);
	border-radius: 4px;
	transition: border-color 0.2s ease-in;

	&:hover {
		border-color: grey(400);
	}

	&.selected {
		border-color: accent(800);
	}
}
