<form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
	<div class="form-input-container">
		<span class="form-label">Name</span>
		<mat-form-field appearance="outline" class="small-outline-formfield">
			<input matInput
				   formControlName="name"
				   name="name"
				   required
			>
			<mat-error *ngIf="formGroup.get('name').hasError('required')">
				Der Name darf nicht leer bleiben!
			</mat-error>
		</mat-form-field>

	</div>

	<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
		<div class="form-input-container" fxFlex.gt-sm="grow">
			<span class="form-label">Straße</span>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   formControlName="street"
					   required
					   name="street">
				<mat-error *ngIf="formGroup.get('street').hasError('required')">
					Der Straßenname darf nicht leer bleiben!
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-input-container" fxFlex.gt-sm="grow">
			<span class="form-label">Hausnummer</span>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   required
					   formControlName="streetNr"
					   name="streetNr">
				<mat-error *ngIf="formGroup.get('streetNr').hasError('required')">
					Die Hausnummer darf nicht leer bleiben!
				</mat-error>
				<mat-error *ngIf="formGroup.get('streetNr').hasError('pattern')">
					Die Hausnummer darf nur aus Zahlen und Buchstaben bestehen!
				</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
		<div class="form-input-container" fxFlex.gt-sm="grow">
			<span class="form-label">Stadt</span>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   required
					   formControlName="city"
					   name="city">
				<mat-error *ngIf="formGroup.get('city').hasError('required')">
					Die Stadt darf nicht leer bleiben!
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-input-container" fxFlex.gt-sm="grow">
			<span class="form-label">PLZ</span>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   required
					   formControlName="zip"
					   name="zip">
				<mat-error *ngIf="formGroup.get('zip').hasError('required')">
					Die Postleitzahl darf nicht leer bleiben!
				</mat-error>
				<mat-error *ngIf="formGroup.get('zip').hasError('pattern')">
					Diese Postleitzahl ist ungültig!
				</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="form-input-container">
		<span class="form-label">Land</span>
		<mat-form-field appearance="outline" class="small-outline-formfield">
			<input matInput
				   required
				   formControlName="country"
				   name="country">
			<mat-error *ngIf="formGroup.get('country').hasError('required')">
				Das Land darf nicht leer bleiben!
			</mat-error>
		</mat-form-field>
	</div>


	<div class="input-form-actions" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-end center">
		<button mat-button color="default" type="button" (click)="onCancel.emit(true)">
			Abbrechen
		</button>
		<button mat-raised-button color="accent"
				[disabled]="!formGroup.valid || formGroup.pending || loading"
				type="submit">
			<span *ngIf="!loading; else loadingSpinner">
				Speichern
			</span>
			<ng-template #loadingSpinner>
				<mat-icon class="loading-spinner">refresh</mat-icon>
				<span>Speichert...</span>
			</ng-template>
		</button>
	</div>
</form>
