<memo-results-container *ngLet="filteredMerchStock$ | async as stock"
						[results]="stock"
						[filterOptions]="filterOptions$ | async"
						[sortingOptions]="sortingOptions"
						[defaultOption]="sortingOptions[0]"
						[withoutUnsorted]="true"
						[title]="'Bestand'"
						[page]="dataSource.currentPage$ | async"
						[canAdd]="userCanAddMerch$ | async"
						(onAdd)="linkToCreatePage()"
						(pageChange)="pageAt($event)"
>
	<memo-merch-stock-entry *ngFor="let stockEntry of stock"
							[stockEntry]="stockEntry"
							(onDelete)="deleteMerch($event)"
	>

	</memo-merch-stock-entry>
</memo-results-container>
