:host {
	min-height: calc(100vh - 64px - 85px);

	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}


.content-wrapper {
	padding-bottom: 1rem;
}

.desktop {
	display: none;
}

.stock-entry-container {
	flex: 1;

	.stock-options {
		display: flex;
		padding: 0.5rem;
		background: white;
		justify-content: space-between;
	}
}

memo-merch-stock-feed {
	display: none;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.no-results {
	display: flex;
	justify-content: center;
}

.loading-container {
	position: relative;
	top: 200px;
}

.toolbar-add-button {
	display: none;
}

.add-merch-button {
	display: flex;
	background: white;
	justify-content: center;
	margin-bottom: 1rem;
}

memo-merch-stock-entry:not(:first-of-type) {
	margin-top: 1rem;
}

@media all and (min-width: 650px) {
	.add-merch-button {
		display: none;
	}

	.add-merch-button-desktop {
		width: 100%;
		margin-bottom: 16px;
	}

	.toolbar-add-button {
		display: block;
		margin-top: -1rem;
		margin-bottom: -1rem;
	}

	.stock-options-sidebar {
		margin: 0.85rem;
		border-radius: 4px;
		overflow: hidden;
		height: 100%;
		padding: 34px 16px 16px;
	}
	.stock-entry-container {
		.stock-options {
			background: transparent;
			border-bottom: 0;
			justify-content: flex-end;
			margin: 0;
			align-items: flex-end;
			padding: 12px 1.2rem 12px 0;
		}
	}

	.content-wrapper {
		padding: 0;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media all and (min-width: 1000px) {
	.stock-entry-container {
		flex: 1;
	}
}


