<div class="stock-options-sidebar desktop">
	<memo-filtering-menu class="desktop" [filterOptions]="filterOptions$ | async">

	</memo-filtering-menu>
</div>

<div class="stock-entry-container">

	<div class="stock-options">
		<memo-filtering-menu class="mobile" [filterOptions]="filterOptions$ | async">

		</memo-filtering-menu>

		<div class="add-button">
			<a mat-stroked-button *ngIf="userCanAddMerch$ | async"
			   [matTooltip]="'Artikel hinzufügen'"
			   [matTooltipPosition]="'above'"
			   routerLink="/create/merch"
			   class="toolbar-add-button">
				Hinzufügen
			</a>

		</div>

		<memo-sorting-dropdown [sortingOptions]="sortingOptions">

		</memo-sorting-dropdown>
	</div>
	<div class="content-wrapper">
		<a mat-stroked-button *ngIf="userCanAddMerch$ | async"
		   [matTooltip]="'Artikel hinzufügen'"
		   [matTooltipPosition]="'above'"
		   routerLink="/create/merch"
		   class="add-merch-button">
			Hinzufügen
		</a>

		<memo-merch-stock-entry *ngFor="let stockEntry of merchList"
								[stockEntry]="stockEntry"
								(onDelete)="deleteMerch($event)"

		>

		</memo-merch-stock-entry>

		<div *ngIf="(merch$|async) === null" class="loading-container">
			<div class="loader"></div>
		</div>

		<div class="no-results" *ngIf="(merch$|async)?.length === 0">
			Keine Merchandiseartikel vorhanden.
		</div>
	</div>

</div>


<memo-merch-stock-feed [stockEntryList]="stockEntryList$ | async">

</memo-merch-stock-feed>
