@import "theme";

:host {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 64px);
	max-width: 1000px;
	margin: auto;
}

.overview-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin: 16px 16px 8px;

	h2 {
		margin: 0;
		font-size: font-size(medium-larger);
		font-weight: 400;
		color: grey(700);
	}

	.last-refresh-date {
		color: grey();
		font-size: font-size(smaller);
	}
}


.overview-numbers-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.accounting-preview-container {
	display: flex;
	flex-wrap: wrap;
}


h3 {
	margin: 0;
	color: grey(800);
	font-weight: 500;
}

.linechart-container {
	overflow: hidden;


	/deep/ .chart-container {
		position: relative;
		flex: 1;
		height: 200px;
		display: block;
		max-height: 200px;
		min-height: 200px;

		margin-left: 57px;
		margin-bottom: 16px;
		margin-top: 16px;
		width: 100%;
	}

	/deep/ .line {
		stroke-width: 3px !important;
	}
}

memo-dashboard-container {
	flex: 1;
}


.pie-chart {

	/deep/ .chart-container {
		position: relative;
		flex: 1;
		height: 200px;
		display: block;
		max-height: 200px;
		min-height: 200px;
	}

	/deep/ .preview-header {
		margin: 0;
	}
}

:host /deep/ .ngx-charts {
	position: absolute;
	left: -50px;
}

:host /deep/ .chart-legend {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 100px !important;

	> div {
		width: auto !important;
	}

	.legend-labels {
		width: auto;
		background: none;

		li {
			width: auto;
			background: none;
		}
	}
}

:host /deep/ .chart-legend .legend-wrap {
	width: 100%;
}


memo-number-card,
memo-dashboard-container{
	margin: 8px;
}
