<ng-container *ngIf="state$ | async as state">
	<div class="overview-header">
		<h2>Kostenübersicht</h2>
		<span class="last-refresh-date">Stand: {{state.timestamp | dateFormat:'relative'}}</span>
	</div>
	<div class="overview-numbers-container">
		<memo-number-card
			[title]="'Gesamtbilanz'"
			[render]="renderMoney"
			[total]="state.currentBalance"
			[change]="state.lastMonthChange">

		</memo-number-card>

		<memo-number-card
			[title]="'Touren'"
			[render]="renderMoney"
			[total]="state.tourTotal"
			[change]="state.tourChange">

		</memo-number-card>

		<memo-number-card
			[title]="'Partys'"
			[render]="renderMoney"
			[total]="state.partyTotal"
			[change]="state.partyChange">

		</memo-number-card>
		<memo-number-card
			[title]="'Merchandise'"
			[render]="renderMoney"
			[total]="state.merchTotal"
			[change]="state.merchChange">

		</memo-number-card>

	</div>


	<memo-dashboard-container containerTitle="Gesamt über Zeit" class="linechart-container">
		<div class="chart-container" *ngIf="totalOverTime$ | async as totalOverTime">
			<ngx-charts-area-chart [gradient]="false"
								   [baseValue]="0"
								   [customColors]="lineChartCustomColors"
								   [xAxis]="true"
								   [yAxis]="true"
								   [curve]="curve"
								   [xAxisLabel]="'Zeit'"
								   [yAxisLabel]="'Einnahmen'"
								   [autoScale]="false"
								   [results]="totalOverTime">
			</ngx-charts-area-chart>
		</div>
	</memo-dashboard-container>

	<div class="accounting-preview-container">
		<memo-dashboard-container icon="subject" containerTitle="Letzte Abrechnungen" link="/management/costs/time">
			<a memoCostPreview *ngFor="let monthlyChange of state.monthlyChanges | slice:0:5"
			   routerLink="/management/costs"
			   [queryParams]="monthlyChange.month | pipeFunction:getMonthDetailParams"
			   [label]="monthlyChange.month | date:'MMMM yyyy'"
			   [totalBalance]="monthlyChange.totalBalance"></a>
		</memo-dashboard-container>

		<memo-dashboard-container icon="directions_car" containerTitle="Letzte Events">
			<a memoCostPreview *ngFor="let itemTotal of state.itemTotals | slice:0:5"
			   routerLink="/management/costs"
			   [queryParams]="itemTotal.itemId | pipeFunction:getItemDetailParams"
			   [label]="itemTotal.itemTitle"
			   [totalBalance]="itemTotal.totalBalance"></a>
		</memo-dashboard-container>
	</div>

	<div fxLayout="row" fxLayoutGap="16px" fxLayout.lt-sm="column">
		<memo-dashboard-container class="pie-chart" containerTitle="Ausgaben pro Kategorie">
			<div class="chart-container">
				<ngx-charts-pie-chart *ngIf="expensesByCategory$ | async as expenses"
									  [doughnut]="true"
									  [legend]="true"
									  legendPosition="bottom"
									  [customColors]="customColors"
									  [results]="expenses"></ngx-charts-pie-chart>
			</div>
		</memo-dashboard-container>

		<memo-dashboard-container class="pie-chart" containerTitle="Einnahmen pro Kategorie">
			<div class="chart-container">
				<ngx-charts-pie-chart *ngIf="incomeByCategory$ | async as income"
									  [doughnut]="true"
									  [legend]="true"
									  legendPosition="bottom"
									  [customColors]="customColors"
									  [results]="income"></ngx-charts-pie-chart>
			</div>
		</memo-dashboard-container>
	</div>

</ng-container>
