<div class="expandable-table-component-container">
	<div class="expandable-table-header expandable-table-row"
		 [ngClass]="{'items-selected-header': amountOfSelectedEntries > 0}">
		<div *ngIf="amountOfSelectedEntries === 0; then header; else actionHeader">

		</div>
		<ng-template #header>
			<div class="expandable-table-header-title">
				{{title}}
			</div>

			<div class="expandable-table-header-actions">
				<button mat-button type="button" color="accent"
						[disabled]="!permissions?.Hinzufuegen"
						(click)="actionCallback(rowAction.ADD, [])">
					HINZUFÜGEN
				</button>
			</div>
		</ng-template>
		<ng-template #actionHeader>
			<div class="expandable-table-header-action-title">
				{{amountOfSelectedEntries}} {{amountOfSelectedEntries > 1 ? 'Einträge' : 'Eintrag'}} ausgewählt.
			</div>
			<div class="expandable-table-header-actions">
				<button mat-icon-button
						[disabled]="!permissions?.Loeschen"
						type="button" (click)="deleteSelected()">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</ng-template>
	</div>

	<div class="expandable-table-container">
		<table class="expandable-table">
			<thead>
			<tr class="expandable-table-header-row expandable-table-row">
				<th *ngIf="expandable">
					<!--empty because of expand icon-->
				</th>
				<!--todo tooltips-->
				<!--matTooltip="Tooltip!" [matTooltipPosition]="'below'"-->
				<th *ngFor="let columnKey of columnKeys"
					class="sortable-column"
					[ngClass]="{'sorted-column': sortedBy?.key === columnKey.key}"
					(click)="sort(columnKey.key)">
					<div>
						{{columnKey.title}}
						<mat-icon [@expandedState]="sortedBy?.descending"
								  [style.visibility]="sortedBy?.key === columnKey.key ? 'visible' : 'hidden'">
							arrow_upward
						</mat-icon>
					</div>
				</th>
				<th class="expandable-table-selectall-checkbox">
					<mat-checkbox [(ngModel)]="everythingIsSelected"
								  (ngModel)="changeSelectedStatusOfAllItems(!everythingIsSelected)">

					</mat-checkbox>
				</th>
				<th>
					<!--todo more empty columns if showActionsAsSeparateRows?-->
					<!--empty because of the actions button-->
				</th>
			</tr>
			</thead>
			<ng-template ngFor let-dataObject
						 [ngForOf]="data
						 | slice
							 :getPaginationIndex('start', currentPage, rowsPerPage, pagination)
							 :getPaginationIndex('end', currentPage, rowsPerPage, pagination)">

				<tbody class="expandable-table-body" [ngClass]="{'expanded-row': expandStatusList[dataObject.id]}">
				<tr class="expandable-table-body-main-row expandable-table-row"
					[ngClass]="{'selected-row': selectedStatusList[dataObject.id]}"
					(click)="toggleSelectedStatus(dataObject)">
					<td *ngIf="expandable" class="expand-icon">
						<!--toggle expanded status of the row-->
						<button mat-icon-button type="button"
								(click)="toggleExpandedStatus(dataObject); $event.stopPropagation()">
							<mat-icon [@expandedState]="expandStatusList[dataObject.id]">
								expand_more
							</mat-icon>
						</button>
					</td>
					<ng-template ngFor let-columnKey [ngForOf]="columnKeys">
						<ng-template memoExpandableTableColumnContainer>
						</ng-template>
					</ng-template>
					<td class="expandable-table-single-checkbox">
						<mat-checkbox [(ngModel)]="selectedStatusList[dataObject.id]"
									  (ngModelChange)="updateEverythingIsSelected()"
									  (click)="$event.stopPropagation()">

						</mat-checkbox>
					</td>
					<td class="expandable-table-actions">
						<!--todo more columns if showActionsAsSeparateRows?-->
						<button mat-icon-button type="button"
								[disabled]="!permissions?.Bearbeiten && !permissions?.Loeschen && !(rowActions.length > 2)"
								(click)="$event.stopPropagation()"
								[matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>

						</button>
						<mat-menu #menu="matMenu">
							<div *ngFor="let action of rowActions">
								<a *ngIf="action?.link !== undefined"
								   href="{{action?.link(dataObject)}}"
								   mat-menu-item
								   [disabled]="permissions[action?.name] === undefined ? false : !permissions[action?.name]">
									<mat-icon *ngIf="action?.icon">{{action?.icon}}</mat-icon>
									<span>{{action?.name}}</span>
								</a>
								<a *ngIf="action?.route !== undefined"
								   routerLink="{{action?.route(dataObject)}}"
								   mat-menu-item
								   [disabled]="permissions[action?.name] === undefined ? false : !permissions[action?.name]">
									<mat-icon *ngIf="action?.icon">{{action?.icon}}</mat-icon>
									<span>{{action?.name}}</span>
								</a>
								<button *ngIf="!action?.link && !action?.route" mat-menu-item
										type="button"
										[disabled]="permissions[action?.name] === undefined ? false : !permissions[action?.name]"
										(click)="actionCallback(action?.name, [dataObject])">
									<mat-icon *ngIf="action?.icon">{{action?.icon}}</mat-icon>
									<span>{{action?.name}}</span>

								</button>
							</div>
						</mat-menu>
					</td>
				</tr>
				</tbody>

				<ng-template [ngIf]="expandStatusList[dataObject.id]">
					<ng-template memoExpandedTableRowContainer>

					</ng-template>
				</ng-template>
			</ng-template>
			<tbody *ngIf="data?.length === 0">
			<tr class="expandable-table-body-main-row expandable-table-row">
				<td colspan="20" [style.text-align]="'center'">
					Hier befinden sich keine Einträge.
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="expandable-table-footer expandable-table-row secondary-text">
		<ng-template [ngIf]="pagination">
			<span>Zeilen pro Seite:</span>
			<mat-select [(ngModel)]="rowsPerPage">
				<mat-option *ngFor="let option of rowsPerPageOptions" [value]="option">{{option}}</mat-option>
			</mat-select>
			<span class="current-page-range">
			{{1+(currentPage-1)*rowsPerPage +
			'-' + (currentPage*rowsPerPage < data?.length ? currentPage*rowsPerPage : data?.length)
			+ ' von ' + data?.length}}
			</span>
			<button mat-icon-button type="button" (click)="currentPage = currentPage-1"
					[disabled]="(currentPage-2)*rowsPerPage < 0">
				<mat-icon>navigate_before</mat-icon>
			</button>
			<button mat-icon-button type="button" (click)="currentPage = currentPage+1"
					[disabled]="(currentPage)*rowsPerPage > data?.length">
				<mat-icon>navigate_next</mat-icon>
			</button>
		</ng-template>
	</div>

</div>
