@import "theme";
@import "mixins";

html, body, main, app {
	min-height: 100%;
	height: 100%;
	background-color: #e9ebee;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

md-icon.md-dark {
	color: #757575;
}

.error-message {
	color: mat-color($warn);
}

main {
	min-height: 100%;
	height: 100%;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.search-input {
	.mat-input-underline {
		border-color: white !important;
	}

	.mat-accent {
		background-color: white !important;
	}
}

.search-button.mat-icon-button:hover .mat-button-focus-overlay {
	opacity: 0 !important;
}

.md-overlay-backdrop {
	background-color: transparent;
}

.md-overlay-pane {
	background-color: white;
}

.secondary-text {
	color: #757575;
}

.loading-spinner {
	@include animation(spin 0.5s infinite linear);
}

@include keyframes(spin) {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}

.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		background: radial-gradient(circle, #000 10%, transparent 10.01%) no-repeat 50%;
		transform: scale(10, 10);
		opacity: 0;
		transition: transform .5s, opacity 1s;
	}

	&:active:after {
		transform: scale(0, 0);
		opacity: .2;
		transition: 0s;
	}
}


.mat-sidenav-container, .mat-sidenav-content {
	transform: none !important;
}

.mat-button:not(.dropbtn),
.mat-raised-button,
.mat-icon-button{
	text-transform: uppercase
}

.mat-raised-button{
	transition: all .15s ease !important;
	&:hover{
		transform: translateY(-1px);
		@extend .mat-elevation-z3;
	}
}
