<!--todo responsive design-->
<div class="container">
	<div class="container--header">
		<h3>Dein Account</h3>
	</div>
	<div class="container--body">
		<div class="sidebar">
			<a routerLink="/account-settings/personal-data"
			   routerLinkActive="active"
			   class="sidebar-row">
				Persönliche Daten
			</a>
			<a routerLink="/account-settings/profile-picture"
			   routerLinkActive="active"
			   class="sidebar-row">
				Profilbild
			</a>
			<a routerLink="/account-settings/addresses"
			   routerLinkActive="active"
			   class="sidebar-row">
				Addressen
			</a>
			<a routerLink="/account-settings/account"
			   routerLinkActive="active"
			   class="sidebar-row">
				Account
			</a>
			<a routerLink="/account-settings/club"
			   routerLinkActive="active"
			   class="sidebar-row">
				Vereinsinformationen
			</a>
			<a routerLink="/account-settings/notifications"
			   routerLinkActive="active"
			   class="sidebar-row">
				Notifications
			</a>
		</div>
		<div class="content">
			<!---->
			<div class="routed-content">
				<router-outlet></router-outlet>
			</div>
			<div class="save-footer">
				<button mat-button [disabled]="!(hasChanges$ | async)"
						(click)="accountSettingsService.reset()">
					Abbrechen
				</button>
				<button mat-raised-button color="accent" [disabled]="!(hasChanges$ | async)"
						(click)="accountSettingsService.save()">
					Speichern
				</button>
			</div>
		</div>
	</div>
</div>
