@import "theme";

$breakpoint: 700px;

:host {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 900px;
	background: white;
	min-height: 400px;
	border-radius: 4px;
	margin: 0 auto 16px;
}

::ng-deep .mat-menu-panel.full-width-menu {
	max-width: none;
	width: 100vw;
}


.sidebar {
	display: none;
	flex-direction: column;
	flex: 1;
	max-width: 230px;
	border-right: 1px solid grey(100);
}

.container--body {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.mobile-settings-selection {
	display: flex;
	flex-direction: column;

	.mobile-settings-header {
		font-size: font-size();
		font-weight: 500;
		color: grey(800);
		background: grey(100);
		border-radius: 0;
		padding: 8px 16px;
	}
}

::ng-deep .mat-menu-item.active {
	font-weight: 500;
	color: accent();
}

.container--header {
	border-bottom: 1px solid grey(200) !important;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 2;
	padding: 16px;

	.routed-content {
		padding-bottom: 16px;
	}

	.save-footer {
		display: flex;
		justify-content: flex-end;
		background: grey(100);
		padding: 16px;
		margin: -16px;
		margin-top: 0;
		border-radius: 0 0 4px 4px;

		button:not(:last-child) {
			margin-right: 8px;
		}
	}
}

.sidebar-row {
	padding: 16px;
	cursor: pointer;
	color: grey(600);

	&.active {
		color: accent(600);
		font-weight: 500;
		border-left: 3px solid;
		margin-right: -1px;
	}

	&:hover:not(.active) {
		font-weight: 500;
		color: grey(800);
	}
}

@media all and (min-width: $breakpoint) {
	:host {
		margin: 16px auto;
	}

	.container--body {
		flex-direction: row;
	}

	.sidebar {
		display: flex;
	}

	.mobile-settings-selection {
		display: none;
	}
}
