<div class="container">
	<div class="container--header">
		<h3>Dein Account</h3>
	</div>
	<div class="container--body">
		<div class="sidebar">
			<a *ngFor="let page of pages" routerLink="{{page.routerLink}}"
			   routerLinkActive="active"
			   class="sidebar-row">
				{{page.name}}
			</a>
		</div>

		<div class="mobile-settings-selection">
			<button mat-button [matMenuTriggerFor]="pagesMenu" class="mobile-settings-header">
				<span fxLayout="row" fxLayoutAlign="space-between center">
					<span>{{activePage?.name}}</span>
					<mat-icon>arrow_drop_down</mat-icon>
				</span>
			</button>
		</div>
		<mat-menu #pagesMenu="matMenu" class="full-width-menu">
			<a *ngFor="let page of pages" routerLink="{{page.routerLink}}"
			   routerLinkActive="active" mat-menu-item>
				{{page.name}}
			</a>
		</mat-menu>
		<div class="content">
			<!---->
			<div class="routed-content">
				<router-outlet></router-outlet>
			</div>
			<div class="save-footer">
				<button mat-button [disabled]="!(hasChanges$ | async)"
						(click)="accountSettingsService.reset()">
					Zurücksetzen
				</button>
				<button mat-raised-button color="accent"
						*ngLet="accountSettingsService.loading$ | async as loading"
						[disabled]="!(hasChanges$ | async) || !(formIsValid$ | async) || loading"
						(click)="accountSettingsService.save()">
					<span *ngIf="!loading; else loadingSpinner">Speichern</span>
					<ng-template #loadingSpinner>
						<mat-icon class="loading-spinner">refresh</mat-icon>
						<span>Speichert...</span>
					</ng-template>
				</button>
			</div>
		</div>
	</div>
</div>
