<!--todo besseren weg finden -->
<div *ngFor="let tour of [tourObservable | async]">
    <md-card>
        <md-card-header>
            <md-card-title>
                <span>{{tour.title}}</span>
                <div>
                    <button md-button class="centered-icon">
                        <md-icon>email</md-icon>
                    </button>
                    <button md-button class="centered-icon">
                        <md-icon>share</md-icon>
                    </button>
                </div>

            </md-card-title>
        </md-card-header>
        <img md-card-image class="img-tour-detail" src="http://placekitten.com/1500/950">
        <md-card-content>


        </md-card-content>
        <!-- Danach ein Tab einbauen mit moeglichen tabs: Beschreibung; Route; Treffpunkt -->
        <md-tab-group>
            <md-tab>
                <template md-tab-label>
                    <div class="tour-ueberschrift-tab">Daten</div>
                </template>

                <!-- Tabelle -->
                <md-grid-list cols="3" rows="2" [style.background]="'#ededed'">
                    <md-grid-tile>
                        <div class="tour-date">
                            <div> <!--<md-icon class="middle-icon">date_range</md-icon> -->Datum:</div>
                            <span>{{tour.date.toLocaleString()}}</span>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="tour-destination">
                            <div>Ziel:</div>
                            <span>{{tour.destination}}</span>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="tour-vehicle">
                            <div><span>{{tour.vehicle}}</span> mit</div>
                            <span>{{tour.emptySeats}} / {{tour.capacity}} </span>
                            <!--<md-icon class="middle-icon">airline_seat_recline_normal</md-icon>--> freien Plätzen
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="tour-price">
                            <div><!--<md-icon class="middle-icon">monetization_on</md-icon> -->Preise:</div>
                            <div>Mitglied: {{tour.priceMember}} €</div>
                            <div>Andere: {{tour.priceMember}} €</div>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="tour-driver">
                            <div> <!--<md-icon class="middle-icon">monetization_on</md-icon>--> Fahrer ??</div>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="tour-miles">
                            <div>Meilen:</div>
                            <span>{{tour.miles}}</span>
                        </div>
                    </md-grid-tile>

                </md-grid-list>

            </md-tab>
            <md-tab>
                <template md-tab-label>
                    <div class="tour-ueberschrift-tab">Beschreibung</div>
                </template>
                <div class="tour-description">
                    <span>{{tour.description}}</span>
                </div>

            </md-tab>
            <md-tab>
                <template md-tab-label>
                    <div class="tour-ueberschrift-tab">Route</div>
                </template>
                <div class="tour-adress">
                    <div>Treffpunkt:</div>
                    <div>{{tour.meetingPoint.name}}</div>
                    <div>{{tour.meetingPoint.street}} {{tour.meetingPoint.streetnr}}</div>
                    <div>{{tour.meetingPoint.zip}} {{tour.meetingPoint.city}}</div>
                </div>
                <!-- Maps einbinden? -->
            </md-tab>
        </md-tab-group>
    </md-card>


    <md-card>
        <md-card-header>
            <md-card-title>
                <div class="tour-titel-member">Wer fährt mit?</div>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <div class="tour-participant-container">
                <md-card *ngFor="let participant of (getParticipants(tour.participants) | async);"
                         (click)="showDetailsOfUser(participant)">

                    <img md-card-image src="{{participant.imagePath}}" class="tour-img-participant">
                    <md-card-content class="tour-participant">
                        <div>{{participant.firstName}}</div>
                        <div>{{participant.surname}}</div>
                    </md-card-content>
                </md-card>
            </div>
        </md-card-content>

    </md-card>

    <button md-raised-button color="primary" class="tour-teilnehmen">
        In den Warenkorb
    </button>
</div>
