
.tour-detail-container {
  background-color: white;

  .image-container {
    position: relative;

    .img-title-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      display: block;
      background-color: rgba(96, 125, 139, 0.5);
      padding: 15px;
      font-size: 3.5em;
      color: #FFF;
    }

    .img-tour-detail {
      width: 100%;
      height: auto;
    }

    button {
      position: absolute;
      bottom: 10%;
      right: 5%;
      height: 100px;
      width: 100px;
      display: block;
      font-size: 3.5em;
      color: #FFF;
    }
    > button md-icon.material-icons {
      height: 100px;
      width: 100px;
      font-size: 64px;
      line-height: 64px;
    }
  }

  .tour-details {
    margin: 0 2% 50px;

    .tour-details-table {
      font-size: 3em;
      width: 100%;
      border-collapse: collapse;

      td.row:first-child {
        color: #212121;
      }

      .bordered {
        border-bottom: 1px solid #cccccc;
      }

      .row {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }

    }

    .sebm-google-map-container {
      height: 600px;
    }

  }

  .description {
    font-size: 4em;
    margin-right: 0.5em;
    margin-top: 1em;
  }

  .tour-description {
    font-size: 3em;
    margin-left: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .participants-container {
    > span:first-child {
      font-size: 3.5em;
    }

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    > div {
      margin-top: 10px;
    }

    > div > div {
      display: flex;
      justify-content: flex-start;
      height: 150px;
      padding: 25px 10px;
    }

    > div > div:not(:first-child) {
      border-top: 1px solid #BDBDBD;
    }

    > div > div > img {
      margin-right: 40px;
    }

    .participant-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .participant-name, .participant-role {
        font-size: 2.5em;
      }

      .participant-miles {
        font-size: 2em;
      }
    }

  }

  .participate-button {
    font-size: 4em;
    width: 100%;
    height: 120px;
  }
}

