<object-details-container *ngFor="let tour of [tourObservable | async]"
						  [overviewKeys]="overViewKeys"
						  [eventObservable]="tourObservable">
    <div component-list>
        <object-details-content [title]="'Details'">
            <details-table [objectObservable]="tourObservable" content></details-table>
        </object-details-content>

        <object-details-content [title]="'Route'">
            <details-route [tourRoute]="tourRoute" content></details-route>
        </object-details-content>

        <object-details-content [title]="'Beschreibung'">
            <span class="description secondary-text" content>{{tour?.description}}</span>
        </object-details-content>

        <object-details-content [title]="'Wer fährt mit?'" [route]="'tours/' + tour?.id + '/participants'">
            <details-participants [participants]="getIds(tour?.participants).slice(0,3)" content></details-participants>
        </object-details-content>
    </div>
</object-details-container>
