@import "mixins";
@import "theme";
@import "../../shop/shop-item/item-details/centered-container";
@import "variables";

:host {
	display: block;

	@media all and (min-width: 800px) {

		&:not(:first-of-type) {
			border-top: 1px solid grey(300);
		}
	}
}

.object-details-content-container {
	background-color: white;
	border-top: 1px solid grey(300);

}


@media all and (min-width: 800px) {
	:host:not(.grouped) {
		&,
		.object-details-content-container,
		.container--body {
			border-radius: 4px;
		}
	}
	.object-details-content-container {
		border: none;
	}
}

.container--header {
	justify-content: space-between;

	a {
		text-decoration: none;
		color: grey(900);
		font-weight: 400;
	}
}

.container--body {
	padding: 1rem;
}

.title-subtitle-container {
	display: flex;
	flex-direction: column;

	.subtitle {
		display: block;
		font-size: font-size(smallest);
		color: grey(600);
		font-style: italic;
	}

}

.container.horizontal {
	.container--header {
		align-items: flex-start;
		background: white;
		width: 33%;
		font-size: 16px;
	}

	.container--body {
		flex: 1;
	}

	.object-details-content-container {
		display: flex;
	}

}

