<div class="loader-wrapper"
	 *ngIf="modifyItemService.idOfObjectToModify !== -1 && !modifyItemService.previousValue; else modifyItemContainer">
	<div class="loader"></div>
</div>
<ng-template #modifyItemContainer>
	<div [ngSwitch]="modifyItemService.itemType" class="modify-shop-item-component-container">
		<memo-modify-tour *ngSwitchCase="ItemType.tour"
						  [previousValue]="modifyItemService.previousValue"
						  [mode]="modifyItemService.mode"
						  (onSubmit)="submitModifiedObject($event)">
		</memo-modify-tour>
		<memo-modify-party *ngSwitchCase="ItemType.party"
						   [previousValue]="modifyItemService.previousValue"
						   [mode]="modifyItemService.mode"
						   (onSubmit)="submitModifiedObject($event)">
		</memo-modify-party>
		<memo-modify-entry *ngSwitchCase="ItemType.entry"
						   [previousValue]="modifyItemService.previousValue"
						   [mode]="modifyItemService.mode"
						   (onSubmit)="submitModifiedObject($event)">
		</memo-modify-entry>
		<memo-modify-user *ngSwitchCase="ItemType.user"
						  [mode]="modifyItemService.mode"
						  [previousValue]="modifyItemService.previousValue"
						  (onSubmit)="submitModifiedObject($event)">
		</memo-modify-user>
		<memo-modify-merch *ngSwitchCase="ItemType.merch"
						   [previousValue]="modifyItemService.previousValue"
						   [mode]="modifyItemService.mode"
						   (onSubmit)="submitModifiedObject($event)">
		</memo-modify-merch>
	</div>

</ng-template>
