@import "../../../../mixins";

:host {
	display: flex;
	justify-content: center;

}

.modify-shop-item-container {
	//@include card-like();
	padding: 1rem;
	width: 100%;

	@media all and (min-width: 600px){
		width: 95%;
	}

	h2 {
		font-weight: 200;
		text-align: center;
		background: white;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		padding: 1rem;
		margin-left: -1rem;
		margin-top: -1rem;
		margin-right: -1rem;


		@media all and (min-width: 600px){
			margin-top: 0.5rem;
		}
	}

	/deep/ mat-form-field,
	md2-datepicker {
		width: 100%;
	}

	/deep/ input {
		font-size: 1rem;
	}

	//max-width: 800px;

	@media all and (min-width: 650px) {
		//width: 600px;
	}
}

.modify-shop-item-component-container {
	width: 100%;
}

.not-resizable-textarea {
	resize: none;
}

.modify-shop-item-title {
	font-size: 1.2rem;
}

.error-message {
	color: red;
}

