@import "mixins";

:host {
	display: flex;
	justify-content: center;

}

@media all and (max-width: 800px) {
	:host ::ng-deep memo-multi-image-upload ::ng-deep memo-multi-image-container {
		margin: -1rem;
		width: calc(100% + 2rem) !important;
		max-width: none;

		::ng-deep img.current-image {
			border: none !important;
		}
	}
}

.modify-shop-item-container {
	width: 100%;
	max-width: 1000px;
	background: white;
	@include mat-elevation(3);
	@include mat-elevation-transition();
	border-radius: 4px;

	> h2:first-child {
		margin-bottom: 1rem;
	}

	::ng-deep .container--body {
		max-width: 480px;
		margin: auto;
	}

	.container--header {
		margin: 0;
		padding: 16px;
		font-weight: 400;
		border-bottom: 1px solid #e0e0e0;
		font-size: font-size(medium-larger);

		@media all and (min-width: 800px) {
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
		}
	}

	form {
		*:first-child {
			.object-details-content-container {
				border-top: none;
			}
		}

		> h2:not(:first-child) {
			margin-top: 1.5rem;
		}

		memo-tour-route-input {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}

		@media all and (max-width: 800px) {
			memo-form-container {
				::ng-deep .centered-container > .object-details-content-container {
					max-width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	@media all and (min-width: 600px) {
		width: 95%;
	}

	h2 {
		font-weight: 200;
		text-align: center;
		background: white;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		padding: 1rem;
		margin-left: -1rem;
		margin-top: -1rem;
		margin-right: -1rem;

		@media all and (min-width: 600px) {
			max-width: 1010px;
			margin: auto;
		}
	}


	::ng-deep input {
		font-size: font-size(default);
	}
}


mat-datepicker-toggle ::ng-deep button,
mat-datepicker-toggle ::ng-deep svg {
	width: 24px !important;
	height: 24px !important;
}

@media all and (max-width: 800px) {
	.route-input ::ng-deep .container--body {
		padding: 0;
	}
}

.modify-shop-item-component-container {
	width: 100%;
}

.not-resizable-textarea {
	resize: none;
}

.modify-shop-item-title {
	font-size: font-size(medium);
}

.error-message {
	color: warn();
}

@media all and (max-width: 800px) {
	form > .image-upload-container ::ng-deep .upload-container {
		margin: 1rem -1rem -1rem;
		border-top: 1px solid grey(200);
		background: white;

		::ng-deep .expandable-table-header {
			margin: 0;
		}
	}

	memo-multi-image-upload {
		box-shadow: none;
	}
}

@media all and (min-width: 800px) {
	form {
		border-radius: 4px;

		memo-multi-image-upload {
			background: white;
			margin: auto;
			border-radius: 4px;

			::ng-deep memo-multi-image-container {

				.available-images-list {
					background: grey(50);
				}

				.current-image-container {
					background: grey(50);
				}
			}
		}
	}

	.information-container {
		display: flex;
		justify-content: center;

		memo-form-container {
			width: 50%;

			&:first-child {
				margin-right: 10px;

				::ng-deep .centered-container {
					justify-content: flex-end;
				}
			}

			&:last-child {
				::ng-deep .centered-container {
					justify-content: flex-start;
				}
			}

			::ng-deep .object-details-content-container {
				margin-left: 0;
				margin-right: 0;
			}

		}

	}
}


@media all and (min-width: 800px) {
	:host {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	memo-multi-image-upload {
		display: block;
		margin: auto;

		::ng-deep memo-multi-image-container {
			flex-direction: column-reverse;
			border-bottom: 1px solid #e0e0e0;
			background: white !important;
		}

		::ng-deep .available-images-list {
			flex-direction: row;
			width: 100%;
			padding: 0;
			background: white !important;

			img {
				margin: 0 !important;
			}
		}

		::ng-deep .current-image-container {
			height: 250px;
			background: white;
		}

		::ng-deep memo-multi-image-container,
		::ng-deep .upload-container {
			width: 100% !important;
		}
	}
}


.no-padding ::ng-deep .container--body {
	padding: 0;
}

.form-buttons {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid grey(200);

	button:not(:first-child) {
		margin-left: 10px;
	}
}
