@import "theme";
@import "../../../../../../node_modules/@angular/material/theming";

a {
	text-decoration: none;
	color: accent();

	&:hover {
		color: accent(400);
		border-bottom: 1px solid accent();
	}
}
