
form {
	display: flex;
	flex-direction: column;

	> div {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

button {
	width: 100%;
}

.paypal-button-container {
	visibility: hidden;
	height: 0;

	&.paypal-selected {
		visibility: visible;
		height: auto;
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}
}

.loader-wrapper{
	background-color: rgba(0, 0, 0, 0.3);
}

