@import "theme";
@import "mixins";

.badge-container {
	height: 6vh;
	width: 6vh;
	position: relative;

	.no-items::after {
		content: none;
	}

	&:not(.no-items)::after {
		content: attr(amount);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		position: absolute;
		top: -0.6rem;
		right: -0.5rem;
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-weight: 600;
		font-size: 0.7rem;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 50%;
		background: mat-color($accent);
		color: #fff;
		@include animation(memo-badge 100ms ease-in)
	}
}

@include keyframes(memo-badge) {
	0% {
		@include transform(scale(0))
	}
	100% {
		@include transform(scale(1))
	}
}


:host > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9rem;
	overflow-y: auto;

	background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;

	@media all and (min-width: 600px) {
		font-size: 1.1rem;

		> div > label > img {
			width: 80px;
		}
	}

	> div {
		//border: 1px solid black;
		padding: 10px;
		height: auto;
		width: 100%;
		cursor: pointer;
		transition: all 0.1s ease-in;

		display: flex;
		border: 2px solid #ededed;
		border-radius: 4px;
		justify-content: center;
		margin: 16px;

		&:not(.selected):hover {
			border-color: #e0e0e0;
		}

		span,
		img {
			cursor: pointer;
		}

		&.badge-container {
			&::after {
				content: "✔";
				background: mat-color($accent);
			}
		}

		img {
			width: 60px;
			margin-bottom: -2px;
		}

		&.selected {
			border-color: mat-color($accent);
			border-radius: 4px;
		}

	}
}
