<memo-payment-selection (methodSelected)="updateSelectedMethod($event)"></memo-payment-selection>


<div [ngSwitch]="selectedMethod">
	<div *ngSwitchCase="paymentMethodEnum.CASH">
		<p>Die Rechnung wird dir per Email zugeschickt.</p>
		<p>Gib das Geld bitte bei der nächsten Gelegenheit an eine zuständige Person.</p>
		<button md-raised-button color="primary" (click)="emitDoneEvent()">Weiter</button>
	</div>
	<div *ngSwitchCase="paymentMethodEnum.DEBIT">
		<form #debitInputForm="ngForm" (ngSubmit)="emitDoneEvent()">
			<h2>Inhaber</h2>
			<div>
				<md-input-container>
					<input mdInput [(ngModel)]="dataModel.firstName"
						   placeholder="Vorname"
						   #firstNameInput="ngModel"
						   name="firstNameInput"
						   required>
				</md-input-container>

				<md-input-container>
					<input mdInput [(ngModel)]="dataModel.surname"
						   placeholder="Nachname"
						   #surnameInput="ngModel"
						   name="surnameInput"
						   required>
				</md-input-container>
			</div>
			<h2>Bankdaten</h2>
			<md-input-container
				[dividerColor]="(ibanInput.touched && (ibanInput.invalid || !isValidIBAN(dataModel.IBAN))) ? 'warn'  : 'primary'">
				<input mdInput [(ngModel)]="dataModel.IBAN"
					   placeholder="IBAN"
					   #ibanInput="ngModel"
					   name="ibanInput"
					   required>
				<md-hint align="end" class="error-message"
						 *ngIf="ibanInput.touched && (ibanInput.invalid || !isValidIBAN(dataModel.IBAN))">
					{{dataModel.IBAN.length === 0 ? "Dies ist ein Pflichtfeld!" : "Die eingegebene IBAN ist
					inkorrekt!"}}
				</md-hint>
			</md-input-container>
			<md-input-container>
				<input mdInput [(ngModel)]="dataModel.BIC"
					   placeholder="BIC"
					   pattern="[a-zA-Z]{6}[a-zA-Z2-9][a-nA-Np-zP-Z0-9]([a-wyzA-WYZ0-9][a-zA-Z0-9]{2})?([xX]{3})?"
					   #bicInput="ngModel"
					   name="bicInput"
					   required>
			</md-input-container>
			<button md-raised-button color="primary" [disabled]="!debitInputForm.form.valid">
				Weiter
			</button>
		</form>
	</div>
	<div *ngSwitchCase="paymentMethodEnum.TRANSFER">
		<p>Die Überweisungsdaten werden dir per Email zugeschickt.</p>
		<button md-raised-button color="primary" (click)="emitDoneEvent()">Weiter</button>
	</div>
	<div *ngSwitchCase="paymentMethodEnum.PAYPAL">

	</div>
	<div *ngSwitchDefault>
		<p>Bitte wähle eine Bezahlmethode aus!</p>
	</div>
	<div [style.visibility]="selectedMethod === paymentMethodEnum.PAYPAL ? 'visible': 'hidden'"
		 [style.height]="selectedMethod === paymentMethodEnum.PAYPAL ? 'auto': '0'">

		<div id="paypal-button"></div>
	</div>
</div>
