@import "theme";

:host {
	display: block;
	max-width: 350px;

	@media all and (min-width: 450px) {
		width: 300px;
	}
}

mat-dialog-content {
	overflow: hidden;
	margin-top: -4px;
	padding-bottom: 16px;
}

.mat-dialog-title {
	margin-bottom: 0;
}

.color-picker-trigger {
	margin-right: -8px;
	width: 28px !important;
	height: 28px !important;
}

.subtitle {
	display: block;
	font-size: font-size(smallest);
	color: grey(600);
	margin-bottom: 16px;
}

.form-input-container {
	margin-bottom: 8px;
}
