<div class="mobile-item-header" fxHide fxShow.lt-sm *ngIf="!inline">
	<h3>{{merchTitle}}</h3>
</div>

<div class="modify-stock-header" fxLayout="row" fxLayoutAlign="flex-start center" *ngIf="!inline">
	<a routerLink="{{getItemLink()}}" fxHide fxShow.lt-sm>
		<mat-icon>chevron_left</mat-icon>
	</a>
	<div fxLayout="column" fxLayoutAlign="flex-start baseline">
		<div fxLayout="row" fxLayoutAlign="flex-start baseline">
			<h1>Bestand {{editing ? 'bearbeiten' : ''}}</h1>
			<span fxHide.lt-sm>von <a routerLink="{{getItemLink()}}">{{merchTitle}}</a></span>
		</div>
		<span class="subtitle">Bereits bestellte Artikel werden nicht angezeigt</span>
	</div>
</div>

<ng-container *ngLet="(controls | pipeFunction:objectKeys) as colorIds">
	<div *ngIf="colorIds?.length === 0" class="empty-state">
		<fa-icon class="empty-state-header-icon" [icon]="['fas', 'cubes']"></fa-icon>
		<span class="empty-state-headline">Kein Bestand</span>
		<span
			class="empty-state-subheader">Dieser Artikel besitzt noch keine Farboptionen. {{editing ? 'Füge eine hinzu!' : ''}}</span>
		<div class="empty-state-actions" *ngIf="editing">
			<button type="button" mat-stroked-button color="accent" (click)="openAddColorDialog()">Farbe hinzufügen</button>
		</div>
	</div>

	<ng-container *ngIf="colorIds.length > 0">
		<div class="mat-elevation-z3 color-card"
			 *ngFor="let colorId of colorIds; trackBy: trackByIdentity">
			<div class="card-header">
				<div class="color-header" fxLayoutGap="8px">
					<span class="color-bubble" [style.background]="colors[colorId]?.hex"></span>
					<h3 class="color-title">{{colors[colorId].name}}</h3>

					<button mat-icon-button type="button" class="color-edit-button"
							*ngIf="editing"
							(click)="openEditColorDialog(colors[colorId])">
						<mat-icon>edit</mat-icon>
					</button>
				</div>
				<div></div>
				<div *ngIf="editing">
					<button mat-icon-button type="button" [matMenuTriggerFor]="overflowMenu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #overflowMenu="matMenu">
						<button mat-menu-item type="button" (click)="removeColor(colorId)">
							<mat-icon>
								delete
							</mat-icon>
							<span>Farbe entfernen</span>
						</button>
					</mat-menu>
				</div>
			</div>
			<div class="content-container">

				<div *ngIf="formGroup.controls[colorId].value?.length === 0; else colorTable" class="empty-state">
					<fa-icon class="empty-state-header-icon size-empty-state-icon" [icon]="['fas', 'tshirt']"></fa-icon>
					<span class="empty-state-headline">Keine Größen</span>
					<span
						class="empty-state-subheader">Diese Farbe besitzt noch keine Größenoptionen. {{editing ? 'Füge eine hinzu!' : ''}}</span>
					<div class="empty-state-actions" *ngIf="editing">
						<button mat-raised-button type="button" color="accent" (click)="addSize(colorId)">Größe hinzufügen</button>
					</div>
				</div>
				<ng-template #colorTable>
					<mat-table [dataSource]="formGroup.controls[colorId].value" [trackBy]="trackById">
						<ng-container matColumnDef="size">
							<mat-header-cell *matHeaderCellDef>
								Größe
							</mat-header-cell>

							<mat-cell *matCellDef="let element;let i = index;">
								<span *ngIf="!editing; else sizeInputForm">
									{{formGroup.controls[colorId].at(i).get('size').value}}
								</span>

								<ng-template #sizeInputForm>
									<mat-form-field appearance="outline"
													[matTooltip]="control?.hasError('duplicateSize') ? 'Diese Größe existiert bereits' : ''"
													*ngLet="formGroup.controls[colorId].at(i).get('size') as control"
													class="small-outline-formfield no-errors">
										<input matInput placeholder="z.B. S, M oder L" [formControl]="control"/>
									</mat-form-field>
								</ng-template>

							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="amount">
							<mat-header-cell *matHeaderCellDef>
								Anzahl
							</mat-header-cell>
							<mat-cell *matCellDef="let element; let i = index;">
								<span *ngIf="!editing; else amountInputForm">
									{{formGroup.controls[colorId].at(i).get('amount').value}}
								</span>

								<ng-template #amountInputForm>
									<mat-form-field appearance="outline"
													[matTooltip]="control?.hasError('min') ? 'Anzahl muss mindestens 0 sein' : ''"
													*ngLet="formGroup.controls[colorId].at(i).get('amount') as control"
													class="small-outline-formfield no-errors">
										<input matInput type="number"
											   [formControl]="control"/>
									</mat-form-field>
								</ng-template>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef fxHide.lt-sm>
								Status
							</mat-header-cell>
							<mat-cell *matCellDef="let element; let i = index" fxHide.lt-sm>
								<ng-container
									*ngLet="getStatus(formGroup.controls[colorId].at(i).get('amount').value) as status">
									<div class="status-cell"
										 matTooltip="{{status}}"
										 [class.warning]="status === Status.WARNING"
										 [class.out-of-stock]="status === Status.OUT_OF_STOCK">
										<mat-icon class="status-icon">
											{{status === Status.OUT_OF_STOCK
											? 'clear'
											: status === Status.WARNING
												? 'error'
												: 'check'
											}}
										</mat-icon>
										<span class="status-label">{{status}}</span>
									</div>
								</ng-container>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef [class.invisible]="!editing">

							</mat-header-cell>
							<mat-cell *matCellDef="let element; let i = index;"
									  [class.invisible]="!editing"
									  fxLayout="row"
									  fxLayoutGap="8px"
									  fxLayoutAlign="flex-end center">
								<button mat-icon-button *ngIf="element.id !== -1" fxHide.lt-sm type="button"
										[disabled]="!hasChanges(colorId, i)"
										matTooltip="Vorherigen Zustand wiederherstellen"
										(click)="revertChanges(colorId, i)">
									<mat-icon>refresh</mat-icon>
								</button>
								<button mat-icon-button fxHide.lt-sm type="button"
										matTooltip="Größe für diese Farbe entfernen"
										(click)="removeSize(colorId, i)">
									<mat-icon>delete</mat-icon>
								</button>
								<button mat-icon-button fxHide fxShow.lt-sm type="button" [matMenuTriggerFor]="actionMenu">
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #actionMenu>
									<button mat-menu-item *ngIf="element.id !== -1" type="button"
											[disabled]="!hasChanges(colorId, i)"
											(click)="revertChanges(colorId, i)">
										<mat-icon>refresh</mat-icon>
										Zurücksetzen
									</button>
									<button mat-menu-item type="button" (click)="removeSize(colorId, i)">
										<mat-icon>delete</mat-icon>
										Größe entfernen
									</button>
								</mat-menu>
							</mat-cell>
						</ng-container>


						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>

					<div class="color-card-actions" *ngIf="editing">
						<button mat-button type="button" color="accent" (click)="addSize(colorId)">Größe hinzufügen</button>
					</div>
				</ng-template>


			</div>
		</div>
		<div class="add-color-action-container" *ngIf="editing">
			<button mat-stroked-button type="button" color="accent" (click)="openAddColorDialog()">Farbe hinzufügen</button>
		</div>
	</ng-container>

</ng-container>

