<div class="modify-shop-item-container">
	<h2>Party {{mode === ModifyType.ADD ? 'hinzufügen' : 'bearbeiten'}}</h2>
	<form #modifyShopItemForm="ngForm" (ngSubmit)="submitModifiedObject()">

		<div class="image-upload-container">
			<memo-item-details-content [title]="'Bilder'">
				<memo-multi-image-upload
					(onFormDataChange)="profilePictureChanged($event)"
					[images]="partyModel['images']">
				</memo-multi-image-upload>
			</memo-item-details-content>
		</div>


		<div class="information-container">
			<memo-item-details-content [title]="'Treffpunkt'">
				<memo-tour-route-input [(route)]="partyModel['route']"></memo-tour-route-input>
			</memo-item-details-content>

			<memo-item-details-content [title]="'Party-Informationen'">
				<mat-form-field>
					<input matInput name="titleInput"
						   type="text" required
						   placeholder="Titel"
						   #titleInput="ngModel"
						   [(ngModel)]="partyModel['title']">
					<mat-error *ngIf="titleInput.touched && !titleInput.valid" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>

				<mat-form-field class="description-input">
			<textarea autosize matInput name="descriptionInput"
					  class="not-resizable-textarea" required
					  type="text"
					  #descriptionInput="ngModel"
					  placeholder="Beschreibung"
					  [(ngModel)]="partyModel['description']">
			</textarea>
					<mat-error *ngIf="descriptionInput.touched && !descriptionInput.valid"
							   align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>

				<div class="additional-party-info-container">
					<div>
						<div>
							<mat-form-field>
								<input matInput [matDatepicker]="myDatepicker"
									   placeholder="Datum"
									   [(ngModel)]="partyModel['date']"
									   #dateInput="ngModel"
									   name="dateInput" required>
								<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
							</mat-form-field>
							<mat-datepicker [touchUi]="true" #myDatepicker></mat-datepicker>
						</div>
					</div>

					<div>
						<div class="time-selection">
							<mat-form-field>
								<input matInput
									   placeholder="Uhrzeit"
									   [(ngModel)]="partyModel['time']"
									   pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
									   #timeInput="ngModel"
									   name="timeInput" required>

								<mat-error
									*ngIf="timeInput.touched && !timeInput.valid && partyModel['time'].length === 0"
									align="end">
									Dieses Feld darf nicht leer bleiben!
								</mat-error>
								<mat-error
									*ngIf="timeInput.touched && !timeInput.valid && partyModel['time'].length > 0"
									align="end">
									Die Uhrzeit muss im Format "HH:MM" vorliegen!
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div>
						<mat-form-field>
							<input matInput name="priceInput"
								   type="number" required
								   placeholder="Preis"
								   #priceInput="ngModel"
								   [(ngModel)]="partyModel['price']">
							<span matSuffix>€</span>
							<mat-error *ngIf="priceInput.touched && !priceInput.valid" align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input matInput name="capacityInput"
								   type="number" required
								   placeholder="Kapazität"
								   #capacityInput="ngModel"
								   [(ngModel)]="partyModel['capacity']">
							<mat-error *ngIf="capacityInput.touched && !capacityInput.valid"
									   align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
						</mat-form-field>
					</div>

				</div>

			</memo-item-details-content>
		</div>

		<memo-item-details-content [title]="'Berechtigungen'">
			<memo-item-permissions-input
				[values]="permissions"
				(onChange)="permissionChange($event)">

			</memo-item-permissions-input>
		</memo-item-details-content>

		<memo-item-details-content [title]="'Zusätzliche verantwortliche User'" class="no-padding">
			<memo-responsible-user-input (usersChanged)="responsibleUsersChange($event)">

			</memo-responsible-user-input>
		</memo-item-details-content>


		<!--below all that-->
		<div class="form-buttons">
			<!--	cancel button-->
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>
			<!--	save button-->
			<button mat-raised-button color="accent"
					[disabled]="!modifyShopItemForm.form.valid"
					type="submit">
				{{mode === ModifyType.ADD ? 'Erstellen' : 'Speichern'}}
			</button>
		</div>
	</form>
</div>
