@import "mixins";
@import "../modify-shop-item.component";

.additional-party-info-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div {
		width: 100%;
		display: flex;
		justify-content: flex-start;

		> div {
			max-width: 200px;
			display: flex;
			justify-content: space-between;
		}
	}
}

.modify-shop-item-container {
	> h2:first-child {
		margin-bottom: 1rem;
	}

	form {
		> h2:not(:first-child) {
			margin-top: 1.5rem;
		}

		memo-tour-route-input {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}
	}
}


@media all and (min-width: 800px) {
	:host {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	memo-multi-image-upload {
		display: block;

		::ng-deep memo-multi-image-container,
		::ng-deep .upload-container {
			width: 100% !important;
		}
	}
}
