@import "../../../../../mixins";
@import "../modify-shop-item.component";

.additional-party-info-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div:not(:first-child) {
		width: 100%;
		display: flex;
		justify-content: space-between;
		> *:not(.time-selection){
			width: 45%;
		}
		.time-selection{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 6px;


			@media all and (min-width: 650px){
				> * {
					width: 45%;
				}
			}
		}
	}
}

.modify-shop-item-container {
	> h2:first-child {
		margin-bottom: 1rem;
	}

	form {
		> h2:not(:first-child) {
			margin-top: 1.5rem;
		}

		memo-tour-route-input {
			display: block;
			margin-bottom: 1.5rem;
		}
	}
}

.description-input {
	margin-top: 15px;
}
