<div class="modify-shop-item-container">
	<h2>Party {{mode === ModifyType.ADD ? 'hinzufügen' : 'bearbeiten'}}</h2>
	<form #modifyShopItemForm="ngForm" (ngSubmit)="submitModifiedObject()">

		<h2>Bild</h2>
		<memo-profile-picture-form
			[image]="partyModel['imagePath'] ? partyModel['imagePath'] : defaultImageUrl"
			(onChange)="profilePictureChanged($event)">

		</memo-profile-picture-form>


		<h2>Party-Informationen</h2>
		<mat-form-field>
			<input matInput name="titleInput"
				   type="text" required
				   placeholder="Titel"
				   #titleInput="ngModel"
				   [(ngModel)]="partyModel['title']">
			<mat-hint *ngIf="titleInput.touched && !titleInput.valid" class="error-message" align="end">
				Dieses Feld darf nicht leer bleiben!
			</mat-hint>
		</mat-form-field>

		<mat-form-field class="description-input">
			<textarea autosize matInput name="descriptionInput"
					  class="not-resizable-textarea" required
					  type="text"
					  #descriptionInput="ngModel"
					  placeholder="Beschreibung"
					  [(ngModel)]="partyModel['description']">
			</textarea>
			<mat-hint *ngIf="descriptionInput.touched && !descriptionInput.valid" class="error-message"
					 align="end">
				Dieses Feld darf nicht leer bleiben!
			</mat-hint>
		</mat-form-field>

		<div class="additional-party-info-container">
			<div>
				<div>
					<mat-form-field>
						<input matInput [matDatepicker]="myDatepicker"
							   placeholder="Datum"
							   [(ngModel)]="partyModel['date']"
							   #dateInput="ngModel"
							   name="dateInput" required>
						<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
					</mat-form-field>
					<mat-datepicker [touchUi]="true" #myDatepicker></mat-datepicker>
				</div>
			</div>

			<div>
				<div class="time-selection">
					<mat-select [ngModel]="partyModel['date'].hour()"
							   placeholder="Stunde"
							   (change)="partyModel['date'].hour($event.value)"
							   name="hour-selection"
							   #hourSelection="ngModel">
						<mat-option *ngFor="let hour of hours"
								   [value]="hour"
						>
							{{hour}}
						</mat-option>
					</mat-select>
					<mat-select [ngModel]="partyModel['date'].minute()"
							   (change)="partyModel['date'].minute($event.value)"
							   placeholder="Minute"
							   name="minute-selection"
							   #minuteSelection="ngModel">
						<mat-option *ngFor="let minute of minutes"
								   [value]="minute"
						>
							{{minute}}
						</mat-option>
					</mat-select>

				</div>
			</div>
			<div>
				<mat-form-field>
					<input matInput name="priceInput"
						   type="number" required
						   placeholder="Preis"
						   #priceInput="ngModel"
						   [(ngModel)]="partyModel['price']">
					<span matSuffix>€</span>
					<mat-hint *ngIf="priceInput.touched && !priceInput.valid" class="error-message" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-hint>
				</mat-form-field>

				<mat-form-field>
					<input matInput name="capacityInput"
						   type="number" required
						   placeholder="Kapazität"
						   #capacityInput="ngModel"
						   [(ngModel)]="partyModel['capacity']">
					<mat-hint *ngIf="capacityInput.touched && !capacityInput.valid" class="error-message" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-hint>
				</mat-form-field>
			</div>

		</div>


		<h2>Treffpunkt</h2>
		<memo-tour-route-input [(route)]="partyModel['route']"></memo-tour-route-input>


		<!--below all that-->
		<div class="form-buttons">
			<!--	cancel button-->
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>
			<!--	save button-->
			<button mat-raised-button color="accent"
					[disabled]="!modifyShopItemForm.form.valid"
					type="submit">
				{{mode === ModifyType.ADD ? 'Erstellen' : 'Speichern'}}
			</button>
		</div>
	</form>
</div>
