@import "../../../theme";
@import "~@angular/material/theming";

$max-width: 1200px;

.calendar-container {
	padding: 20px 2% 2%;

	min-height: 100%;
}


.calendar-container,
.calendar-options{
	margin: auto;
	max-width: $max-width;
	position: relative;
	z-index: 2;
}

.calendar-options {
	padding: 1% 2% 0;
	display: flex;
	flex-direction: column;
	md-button-toggle-group {
		background-color: white;
	}

	.calendar-options-actions{
		display: flex;
		justify-content: space-between;
	}

	@media all and (min-width: 600px){
		.secondary-text{
			color: white;
		}
	}
}

.background{
	position: absolute;
	height: 200px;
	width: 100%;
	top: 64px;
	background-color: mat-color($primary);
	opacity: 0;
	transition: opacity 1s ease;

	@media all and (min-width: 600px){
		opacity: 1;
	}
}
