@import "~@angular/material/theming";
@import "theme";

.multi-level-select-entry-parent,
.multi-level-select-entry-child {
	min-width: 200px;
}

.multi-level-select-entry-parent {
	display: flex;
	justify-content: space-between;

	.mat-icon {
		margin-right: 0;
		right: 0;
		align-self: center;
	}
}

.multi-level-select-entry-child {
	text-align: right;
	background-color: grey(50);

	&:hover {
		background-color: grey(100) !important;
	}

	&.selected {
		background-color: accent(700);
		color: white;

		&:hover {
			background-color: accent() !important;

		}
	}
}

.multi-level-select-checkbox {
	margin-left: 10px;
	margin-right: -10px;
}
