
.sorting-results-modifier-container {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

	> memo-filtering-menu,
	> memo-sorting-dropdown {
		width: 50%;
		height: 40px;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: white;
	}
}

.search-results-header {
	color: grey;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	font-size: 0.8rem;
}
