<memo-results-container *ngLet="(accountingTableContainerService.entries$ |async) as entries"
						[results]="entries"
						[filterOptions]="filterOptions"
						[sortingOptions]="sortingOptions"
						[defaultOption]="sortingOptions[0]"
						[withoutUnsorted]="true"
						[title]="'Kostenverwaltung'"
						[page]="accountingTableContainerService.dataSource.currentPage$ | async"
						[canAdd]="(accountingTableContainerService.permissions$ | async).Hinzufuegen"
						(onAdd)="accountingTableContainerService.add()"
						(pageChange)="accountingTableContainerService.pageAt($event)"
>
	<memo-entry-renderer [entry]="entry" *ngFor="let entry of entries">

	</memo-entry-renderer>
</memo-results-container>


<div class="total-amount"
	 [ngClass]="{
			positive: (total$ | async) >= 0,
			negative: (total$ | async) < 0
		}">
	<span>Gesamt</span>
	<span>{{(total$ | async) | currency:'EUR':'symbol'}}</span>
</div>
