@import "theme";
@import "mixins";

$breakpoint: 600px;
$options-breakpoint: 850px;

memo-expandable-material-table {
	width: 100%;
}

:host ::ng-deep .mat-column-images {
	//max-width: 40px;
	padding-left: 16px !important;
}

:host {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	//max-width: 1200px;
	margin: auto;
	min-height: calc(100vh - 64px);


	@media all and (max-width: $options-breakpoint) {
		flex-direction: column;
	}

	.options-button {
		width: 100%;
		@include background-primary();
		border-radius: 0;
		@media all and (min-width: $options-breakpoint) {
			display: none;
		}
	}

	.accounting-options {
		width: 300px;
		padding: 8px 16px 16px;
		margin: 16px;
		border-radius: 4px;
		height: auto;
		overflow-y: auto;
		background-color: white;


		@media all and (max-width: $options-breakpoint) {
			height: auto;
			max-width: none;
			margin: 0;
			box-shadow: none;

			&:not(.showOptions) {
				padding: 0;
			}
			&.showOptions {
				height: calc(100% - 64px);
				overflow-y: auto;

				.options-button {
					width: calc(100% + 2rem);
					margin-left: -1rem;
					margin-bottom: -1rem;
					margin-top: 1rem;
				}
			}
			width: 100%;
		}
	}

	.accounting-table-container {
		overflow-y: auto;

		@media all and (max-width: $options-breakpoint) {
			height: calc(100% - 110px);
			width: 100%;
		}

	}

	.total-amount {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		@include transition(background-color 0.3s ease-in);
		padding: 16px;

		.label {
			font-size: font-size(default);
			margin-right: 8px;
		}

		.value {
			font-size: font-size(medium);
		}

		&.positive {
			@include background-primary();
			background: primary();
			color: white;

			.label {
				color: hsla(123, 41%, 85%, 1);
			}
		}

		&.negative {
			background: warn();
			color: white;

			.label {
				color: hsla(4, 90%, 87%, 1);
			}
		}

		&:not(.positive):not(.negative) {
			@include background-accent();
		}
	}
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;

	.accounting-table-container {
		flex: 1;
	}
}

@media all and (min-width: $options-breakpoint) {
	memo-expandable-material-table {
		display: block;
		margin-top: 8px;
		@include mat-elevation(3);
		border-radius: 4px;

		::ng-deep .expandable-table-header {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		::ng-deep .total-amount {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	.loader {
		left: 65%;
	}
}
