
:host {
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.participant-entry-container {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.participant-title {
	font-weight: bold;
}

.participant-name {
	margin-left: 5px;
}

.participant-options {
	display: flex;
	margin-top: 15px;
}

.needs-ticket-container {
	margin-left: 15px;
}

.remove-button-container {
	margin-top: -10px;
}
