<memo-expandable-material-table class="mat-elevation-z3"
								[dataSource]="dataSource"
								[dataService]="waitingListUserService"
								[filter$]="filter$"
								[rowActions]="rowActions$ | async"
								[selectedActions]="selectedActions"
								[title]="'Warteliste'"
								[columns]="columns"
								[displayedColumns]="displayedColumns$ | async"
								[permissions]="waitingListTableService.permissions$ | async"
								(onAction)="waitingListTableService.handleTableAction($event)"
>

</memo-expandable-material-table>


<mat-menu #bulkEditingMenu="matMenu">
	<ng-container *ngLet="waitingListTableService.eventInfo$ | async as eventInfo">
		<ng-container *ngIf="eventInfo.eventType === 'tours'">
			<button mat-menu-item (click)="openBulkEdit('isDriver')">
				Fahrerstatus bearbeiten
			</button>
			<button mat-menu-item (click)="openBulkEdit('needsTicket')">
				Ticketwunsch bearbeiten
			</button>
		</ng-container>
		<ng-container *ngIf="eventInfo.eventType === 'merch'">
			<button mat-menu-item (click)="openBulkEdit('size')">
				Größe bearbeiten
			</button>
			<button mat-menu-item (click)="openBulkEdit('color')">
				Farbe bearbeiten
			</button>
		</ng-container>
	</ng-container>
</mat-menu>
