<memo-expandable-material-table class="mat-elevation-z3" #waitingListTable
								[dataSource]="dataSource"
								[dataService]="waitingListUserService"
								[filter$]="filter$"
								[rowActions]="rowActions$ | async"
								[selectedActions]="selectedActions$ | async"
								[title]="'Warteliste'"
								[columns]="columns"
								[displayedColumns]="displayedColumns$ | async"
								[permissions]="waitingListTableService.permissions$ | async"
								[noSorting]="true"
								(onAction)="waitingListTableService.handleTableAction($event)"
								emptyStateIcon="access_time"
								emptyStateHeader="Die Warteliste ist leer"
								emptyStateSubtitle="Es hat sich bis jetzt niemand auf die Warteliste geschrieben."
>

</memo-expandable-material-table>


<mat-menu #bulkEditingMenu="matMenu">
	<ng-container *ngLet="waitingListTableService.eventInfo$ | async as eventInfo">
		<ng-container *ngIf="eventInfo.eventType === 'tours'">
			<button mat-menu-item (click)="openBulkEdit('isDriver')">
				Fahrerstatus bearbeiten
			</button>
			<button mat-menu-item (click)="openBulkEdit('needsTicket')">
				Ticketwunsch bearbeiten
			</button>
		</ng-container>
		<ng-container *ngIf="eventInfo.eventType === 'merch'">
			<button mat-menu-item (click)="openBulkEdit('size')">
				Größe bearbeiten
			</button>
			<button mat-menu-item (click)="openBulkEdit('color')">
				Farbe bearbeiten
			</button>
		</ng-container>
	</ng-container>
</mat-menu>

<ng-template #isDriverInput>
	<mat-checkbox [formControl]="isDriverFormControl">
		Ist Fahrer
	</mat-checkbox>
</ng-template>
<ng-template #needsTicketInput>
	<mat-checkbox [formControl]="needsTicketFormControl">
		Braucht ein Stadion Ticket
	</mat-checkbox>
</ng-template>

<ng-template #colorInput>
	<mat-form-field appearance="outline" class="small-outline-formfield">
		<input matInput placeholder="Diverse" [formControl]="colorFormControl"/>
		<mat-error *ngIf="colorFormControl.hasError('required')">
			Bitte gib eine Größe ein.
		</mat-error>
	</mat-form-field>
</ng-template>
