
.object-details-content-container {
  //padding-top: 20px;
  //padding-bottom: 20px;
}

.object-details-content-title {
  padding: 3vw;
  //font-size: 2em;
  color: #666666;
  font-weight: 600;
}

.object-details-content {
  padding: 5vw;
  background-color: white;
}