@import "~@angular/material/theming";
@import "variables";
@import "../modify-shop-item.component";


memo-ordered-item-form {
	display: block;
	max-width: 500px;
	margin: auto;
	border-radius: 4px;

	/deep/ memo-ordered-item-entry:first-of-type {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	/deep/ memo-ordered-item-input-form {
		border-radius: 4px;
	}
}

@media all and (min-width: 800px) {
	memo-user-autocomplete {
		display: block;
		width: 448px;
	}

	.desktop-row {
		display: flex;
		justify-content: space-between;
		> * {
			width: 200px;
		}
	}

	.payment-method {
		width: 300px;
	}
}
