<form (ngSubmit)="emitOnChange(debitInputForm)" #debitInputForm="ngForm" novalidate>
	<h3>Kontoinformationen</h3>
	<mat-form-field>
		<input
			placeholder="IBAN"
			name="ibanInput"
			#ibanInput="ngModel"
			[(ngModel)]="model.iban"
			(blur)="emitOnChange(debitInputForm)"
			matInput required>
		<!--zeige Fehlermeldung wenn die iban inkorrekt ist-->
		<mat-error align="end"
				   *ngIf="ibanInput.touched && (ibanInput.invalid || !isValidIBAN(model.iban))">
			{{model.iban.length === 0 ? "Dies ist ein Pflichtfeld!" : "Die eingegebene IBAN ist inkorrekt!"}}
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input
			placeholder="BIC"
			name="bicInput"
			#bicInput="ngModel"
			pattern="[a-zA-Z]{6}[a-zA-Z2-9][a-nA-Np-zP-Z0-9]([a-wyzA-WYZ0-9][a-zA-Z0-9]{2})?([xX]{3})?"
			[(ngModel)]="model.bic"
			(blur)="emitOnChange(debitInputForm)"
			matInput required>
		<!--zeige Fehlermeldung wenn die iban inkorrekt ist-->
		<mat-error align="end"
				   *ngIf="bicInput.touched && bicInput.invalid">
			{{model.bic.length === 0 ? "Dies ist ein Pflichtfeld!" : "Die eingegebene BIC ist inkorrekt!"}}
		</mat-error>
	</mat-form-field>

</form>
