<div class="address-entry-container">
	<div class="address-information">
		<b>{{address.name}}</b>
		<span>{{address.street}} {{address.streetNr}}</span>
		<span>{{address.city}}, {{address.zip}}</span>
		<span>{{address.country}}</span>
	</div>

	<button mat-icon-button type="button"
			(click)="$event.stopPropagation(); false"
			[matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
</div>
<mat-menu #menu="matMenu">
	<a mat-menu-item (click)="navigateToAddressModifications()"
	   routerLink="{{editUrl}}" [queryParams]="{'id': address.id}">
		<mat-icon>edit</mat-icon>
		<span>Bearbeiten</span>
	</a>
	<button mat-menu-item type="button" (click)="deleteAddress()">
		<mat-icon>delete</mat-icon>
		<span>Löschen</span>
	</button>
</mat-menu>
