<div class="modify-shop-item-container">

	<form (ngSubmit)="submit()" [formGroup]="userDataForm" novalidate>
		<div class="personal-data">
			<!--Profilbild-->
			<memo-item-details-content [title]="'Profilbild'">
				<memo-multi-image-upload
					[formGroup]="userDataForm.get('images')"
					[previousValue]="previousValue?.images"
					[limit]="1"
				>

				</memo-multi-image-upload>
			</memo-item-details-content>

			<memo-item-details-content [title]="'Persönliche Daten'">
				<memo-personal-data-form [formGroup]="userDataForm.get('personal-data')"></memo-personal-data-form>
			</memo-item-details-content>
		</div>

		<div class="addresses">
			<memo-item-details-content [title]="'Addressen'" class="no-padding">
				<memo-address-form [formGroup]="userDataForm"></memo-address-form>
			</memo-item-details-content>
		</div>

		<div class="account-information" *ngIf="withEmailAndPassword">
			<memo-item-details-content [title]="'Account Informationen'">
				<memo-email-input [form]="userDataForm.get('account-data')"></memo-email-input>
				<memo-password-input [form]="userDataForm.get('account-data')" [required]="false">

				</memo-password-input>
			</memo-item-details-content>
		</div>

		<!--todo permissions component?-->

		<div class="club-information" *ngIf="loginService.isLoggedInObservable() | async">

			<memo-item-details-content [title]="'Vereinsinformationen'">
				<memo-club-information-form
					[formGroup]="userDataForm.get('club-information')"></memo-club-information-form>
			</memo-item-details-content>
		</div>


		<div class="form-buttons">
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>

			<button mat-raised-button color="accent"
					[disabled]="!userDataForm.valid || userDataForm.pending || modifyItemService.loading">
				<span *ngIf="!modifyItemService.loading; else loadingSpinner">
					Speichern
				</span>
				<ng-template #loadingSpinner>
					<mat-icon class="loading-spinner">refresh</mat-icon>
					<span>Speichert...</span>
				</ng-template>
			</button>
		</div>
	</form>

</div>
