@import "variables";
@import "../../../shop/shop-item/modify-shop-item/modify-shop-item.component";

.modify-shop-item-container {
	padding: 0;
	box-shadow: none;
}

h3 {
	font-weight: 200;
	text-align: center;
	padding: 1rem;
	margin: 20px -1rem;
	background-color: $container-header--background-color;
	color: $container-header--color;
	border-bottom: $container-divider--height solid $container-divider--color;
}

.name-container {
	display: flex;
	justify-content: space-between;
	mat-form-field {
		width: 45%;
	}
}

.aligned-mat-select {
	margin-top: -8px;
	/deep/ .mat-select-placeholder.mat-floating-placeholder {
		top: -16px !important;
	}

}

.personal-data {

	.user-personal-data-input-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		.name-input,
		.date-and-gender-input {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 10px;

			mat-form-field,
			> div {
				width: 100%;
				> mat-form-field {
					width: 100%;
				}
			}

			@media all and (min-width: 500px) {
				mat-form-field,
				> div {
					width: 45%;
					> mat-form-field {
						width: 100%;
					}
				}
			}
		}
	}

	/deep/ .checkboxes-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@media all and (max-width: 800px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

}

.club-information {
	.club-information-forms {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		mat-form-field,
		> div {
			width: 100%;
			> mat-form-field {
				width: 100%;
			}
		}

		@media all and (min-width: 500px) {
			mat-form-field,
			> div {
				width: 45%;
				> mat-form-field {
					width: 100%;
				}
			}
		}
	}
}

memo-address-entry {
	width: 100%;
	display: block;
	padding-left: 1rem;
	border-bottom: 1px solid #9E9E9E;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.form-divider {
	margin-top: 25px;
	margin-bottom: 25px;
	//color: #ededed;
	//background-color: #ededed;
	width: 100%;
	height: 2px;
}

.error-message {
	color: red;
}

.submit-button {
	float: right;
}
