@import "theme";
@import "~@angular/material/theming";
@import "variables";

:host {
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 500px;
	background-color: $container-content--background-color;
	color: $container-content--color;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.order-information-container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	background: grey(50);

	> div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.label {
	color: grey(600);
	font-size: font-size(smallest);
	text-transform: uppercase;
}

.labelled-value {
	font-weight: 500;
	color: grey(800);
}

.subtitle {
	color: grey(600);
	font-size: font-size(smallest);
}

.method {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 16px;
	background: grey(50);
	border-bottom: 1px solid grey(300);
	border-top: 1px solid grey(300);

	> div {
		display: flex;
		align-items: center;
	}

	.label {
		width: 130px;
		min-width: 130px;
	}

	.labelled-value{
		word-break: break-all;
	}
}

.user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	a {
		display: flex;
		font-size: font-size(default);
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: primary();

	}
}

.ordered-items {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid memo-grey(200);

	&.cancelled {
		background: memo-red(50);
	}

	&:first-of-type {
		border-top: 1px solid grey(300);
	}

	> a {
		display: flex;
		text-decoration: none;
		max-width: 55%;

		@media all and (min-width: 400px) {
			max-width: 100%;
		}
	}

	.order-entry-header {
		display: flex;
		//justify-content: space-between;
		flex-direction: column;

		width: 55%;

		&.order-entry-info > .order-entry-info-container {
			align-items: flex-start;
		}

		&.order-entry-info > div {
			color: grey(900);

			> .order-entry-info-container {
				align-items: flex-start;

				@media all and (min-width: 500px) {
					align-items: flex-end;

					&:not(:first-child) {
						margin-left: 20px;
					}
				}
			}
		}

		@media all and (min-width: 400px) {
			width: 100%;
		}

		h3 {
			font-weight: bold;
			margin: 0;
			overflow-wrap: break-word;
			color: grey(700);
		}
	}

	.order-entry-info {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		> div {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;

			&:not(:first-child) {
				margin-top: 20px;
			}

			@media all and (min-width: 500px) {
				flex-direction: row;
			}
		}
	}

}

//new/processing stages
.Reserviert {
	background: memo-blue(50);
	color: memo-blue(900);
}

.Bestellt {

}

.Bezahlt {
	background: memo-blue(50);
	color: memo-blue(900);
}

.Verschickt {
	background: memo-blue(50);
	color: memo-blue(900);
}

//something-might-be-wrong stages
.Unter-Begutachtung {
	background: memo-orange(50);
	color: memo-orange(900);
}

.Bezahlung-Angefordert {
	background: memo-orange(50);
	color: memo-orange(900);
}

//success stages
.Teilgenommen {
	background: memo-green(50);
	color: memo-green(900);
}

.Abgeschlossen {
	background: memo-grey(50);
	color: memo-grey(900);
}

//error stages
.Storniert {
	background: memo-red(50);
	color: memo-red(900);
}

.Abgelehnt {
	background: memo-red(50);
	color: memo-red(900);
}

.bank-account {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid grey(300);

	.order-entry-info-container:last-child {
		margin-top: 5px;
	}

	@media all and (min-width: 450px) {
		flex-direction: row;

		.order-entry-info-container:last-child {
			align-items: flex-end;
			margin-top: 0;
		}
	}
}


.header {
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 16px;
	font-weight: 200;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: grey(50);

	button {
		margin-top: -8px;
	}

	h2 {
		font-size: font-size(medium);
		margin: 0;
		font-weight: 400;
		@media all and (min-width: 500px) {
			font-size: font-size(small-medium);
		}
	}

	.date-subtitle {
		font-size: font-size(smaller);
	}
}

.ordered-item-main-information-container {
	display: flex;
	flex-direction: column;
}

.ordered-item-actions {
	display: flex;
	justify-content: center;
	padding: 8px;
	border-top: 1px solid memo-grey(100);

	> button ::ng-deep span {
		text-decoration: underline;
	}
}

.ordered-item-main-information {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 8px 16px;
}

.ordered-item-header {
	display: flex;
	justify-content: space-between;

	h3 {
		margin: 0;
		font-size: font-size();
	}
}

.ordered-item-description {
	font-size: font-size(smaller);
	color: memo-grey(700);
	margin-top: 4px;
}

.order-price {
	margin-left: 16px;

	&,
	button {
		font-weight: 500;
		font-size: font-size();
	}
}

img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
}

.no-description {
	font-size: font-size(smaller);
	color: memo-grey(600);
	font-style: italic;
}

.action-button {
	position: absolute;
	right: 0;
}

.status {
	display: flex;
	align-items: center;

	mat-icon {
		margin-left: 4px;
		cursor: pointer;
	}
}

.ordered-item-tags {
	display: flex;
	margin-top: 8px;

	> *:not(:first-child) {
		margin-left: 8px;
	}
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	color: memo-green(900);
	background: memo-green(50);
	border: 1px solid;
	border-radius: 4px;
	font-size: font-size(smaller);

	mat-icon {
		margin-right: 4px;
	}
}

.info-row.status-row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	font-weight: 500;
}

.secondary-information-container {
	margin-top: 16px;

	.info-row {
		display: flex;
		align-items: center;

		.label {
			display: block;
			width: 150px;
		}

		mat-icon {
			color: warn(700);
			background: warn(50);
			border-radius: 50%;
			border: 1px solid;
			padding: 1px;
			width: auto;
			height: auto;
			font-size: font-size();
			display: flex;
			align-items: center;
			justify-content: center;

			&.green {
				color: primary(700);
				background: primary(50);
			}
		}
	}

	.status-row {
		margin-top: 8px;

		.label {
			font-size: font-size(smaller);
			font-weight: 500;
		}

		.labelled-value {
			font-size: font-size(small-medium);
		}
	}
}

.order-renderer-bottom {
	display: flex;
	justify-content: flex-end;
	padding: 8px;

	&.space-between {
		justify-content: space-between;
	}

	> div {
		display: flex;
		align-items: center;
	}

	> div > *:not(:first-child) {
		margin-left: 8px;
	}
}

td.center {
	margin: auto;
}

.price {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.70);
	text-align: end;
	font-size: font-size(default);
	width: 5rem;
}

.merch-color-container {
	display: flex;
	color: #9E9E9E;

	.merch-color {
		display: block;
		margin-left: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	}
}

.actions {
	display: flex;
	align-items: flex-end;
	flex: 1;

	> div {
		display: flex;
		justify-content: space-between;
		margin: -1rem;
		margin-top: 1rem;
		padding: 0.5rem;
		width: calc(100% + 2rem);
	}
}

.details-button {
	display: none;
}

@media all and (min-width: 500px) {
	.ordered-item-main-information-container {
		flex-direction: row;

		> a {
			width: 150px;
			height: 130px;
		}
	}

	.details-button {
		display: block;
	}

	.header {
		button {
			display: none;
		}
	}

	img {
		width: 150px;
		height: 130px;
	}
}
