<div>

	<div class="header container--header">
		<div>
			<h2>Bestellung Nr. {{orderEntry?.id}}</h2>
			<span class="date-subtitle">Bestellt am {{orderEntry?.timeStamp | dateFormat:'DD. MMMM YYYY'}}</span>
		</div>
		<button mat-icon-button [matMenuTriggerFor]="editMenu" *ngIf="!isOnDetailsPage">
			<mat-icon>more_vert</mat-icon>
		</button>
	</div>
	<div class="order-information-container">
		<div class="user" *ngIf="user$ | async as user">
			<span class="label">Bestellt von</span>
			<a class="labelled-value" routerLink="/club/members/{{user.id}}" memoUserPreview [user]="user">
				<span>{{user.firstName + ' ' + user.surname}}</span>
			</a>
		</div>
		<div>
			<span class="label">Items</span>
			<span class="labelled-value">{{orderedEventItems.length}}</span>
		</div>
		<div>
			<span class="label">Gesamt</span>
			<span class="labelled-value">{{total | currency:'EUR':'symbol'}}</span>
		</div>
	</div>
	<div class="method" [class.line-under]="!(bankAccount$ | async)">
		<div>
			<span class="label">Bezahlmethode</span>
			<span class="labelled-value">{{orderEntry?.method}}</span>
		</div>
		<ng-container *ngIf="bankAccount$ | async as bankAccount">
			<div class="order-entry-info-container">
				<span class="label">IBAN</span>
				<span class="labelled-value">{{bankAccount?.iban}}</span>
			</div>
			<div class="order-entry-info-container">
				<span class="label">BIC</span>
				<span class="labelled-value">{{bankAccount?.bic}}</span>
			</div>
		</ng-container>
	</div>

	<div *ngFor="let item of orderedEventItems" class="ordered-items" [class.cancelled]="item.status.value === 'Cancelled'">
		<div class="ordered-item-main-information-container">
			<a routerLink="{{item.link}}">
				<img
					[lazySrc]="(!!item.originalItem.item?.images[0] ? item.originalItem.item.images[0] : 'resources/images/Logo.png') | imageSize:'large' | async"
					lazySrcVisible="visible"
				/>
			</a>
			<div class="ordered-item-main-information">
				<div class="ordered-item-header">
					<a routerLink="{{item.link}}" class="item-title">
						<h3 class="labelled-value">{{item.originalItem.item.title}}</h3>
					</a>
					<div class="order-price">
						<!--<span class="order-price-amount">{{item.amount}} x </span>-->
						<span class="order-price-value">{{item.originalItem.price | currency:'EUR':'symbol'}}</span>
					</div>
				</div>

				<div class="ordered-item-description" *ngIf="canSeeDescription">
					<ng-container *ngIf="!item.originalItem.description">
						<span class="no-description">Keine zusätzlichen Informationen.</span>
					</ng-container>
					{{item.originalItem.description}}
				</div>

				<div class="ordered-item-tags">
					<ng-container *ngIf="item.originalItem.item.type !== 3">
						<div class="tag" *ngIf="item.originalItem.isDriver"
							 matTooltip="Dieser Nutzer hat sich als potenzieller Fahrer angemeldet">
							<mat-icon [inline]="true">drive_eta</mat-icon>
							<span>Fahrer</span>
						</div>
						<div class="tag" *ngIf="item.originalItem.needsTicket"
							 matTooltip="Diese Bestellung beinhaltet ein Stadion Ticket">
							<mat-icon [inline]="true">local_play</mat-icon>
							<span>Ticket</span>
						</div>
					</ng-container>
				</div>

				<table class="secondary-information-container" *ngIf="item.originalItem.item.type === 3">
					<tbody>
					<tr class="info-row">
						<td class="label">Farbe</td>
						<td class="center">{{item.originalItem.color.name}}</td>
					</tr>
					<tr class="info-row">
						<td class="label">Größe</td>
						<td class="center">{{item.originalItem.size}}</td>
					</tr>
					</tbody>
				</table>

				<memo-order-item-status [status]="item.status"></memo-order-item-status>
			</div>
		</div>


		<mat-menu #cancelMenu="matMenu">
			<button mat-menu-item (click)="cancel(item)">
				<mat-icon>clear</mat-icon>
				<span>Stornieren</span>
			</button>
		</mat-menu>
	</div>
</div>

<div class="order-renderer-bottom" [class.space-between]="withRemove">
	<button mat-button *ngIf="withRemove"
			(click)="remove()">
		Löschen
	</button>
	<div>
		<a class="details-button" mat-button *ngIf="!isOnDetailsPage"
		   routerLink="/management/orders/{{orderEntry?.id}}/">
			Ansehen
		</a>
		<a mat-stroked-button color="accent"
		   routerLink="/management/orders/{{orderEntry?.id}}/edit">
			Bearbeiten
		</a>
	</div>
</div>


<mat-menu #editMenu="matMenu">
	<a mat-menu-item
	   routerLink="/management/orders/{{orderEntry?.id}}/">
		Details
	</a>
</mat-menu>
