@import "theme";
@import "../../../../../node_modules/@angular/material/theming";
@import "variables";

:host {
	display: flex;
	width: 100%;
	background-color: $container-content--background-color;
	color: $container-content--color;
	flex-direction: column;
	padding: 1rem;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.user {
	margin-bottom: 1rem;

	a {
		display: flex;
		font-size: 1rem;
		align-self: center;
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: mat-color($primary);
	}

	.role-icon {
		color: mat-color($primary);
		height: 19px;
		width: 19px;
		margin-left: 2px;
		font-size: 19px;
	}
}

.user, .method {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 1rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.ordered-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #ededed;

	> a {
		display: flex;
		text-decoration: none;
		max-width: 55%;

		@media all and (min-width: 400px) {
			max-width: 100%;
		}
	}
	.order-entry-header {
		display: flex;
		//justify-content: space-between;
		flex-direction: column;

		width: 55%;

		&.order-entry-info > .order-entry-info-container {
			align-items: flex-start;
		}

		&.order-entry-info > div {
			color: rgba(0, 0, 0, 0.84);

			> .order-entry-info-container {
				align-items: flex-start;

				@media all and (min-width: 500px) {
					align-items: flex-end;

					&:not(:first-child) {
						margin-left: 20px;
					}
				}
			}
		}

		@media all and (min-width: 400px) {
			width: 100%;
		}

		h3 {
			font-weight: bold;
			margin: 0;
			overflow-wrap: break-word;
			color: rgba(0, 0, 0, 0.70);
		}
	}

	.order-entry-info {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		> div {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;

			&:not(:first-child) {
				margin-top: 20px;
			}

			@media all and (min-width: 500px) {
				flex-direction: row;
			}
		}

		.order-entry-info-container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.label {
				color: rgba(0, 0, 0, 0.4);
				font-size: 85%;
				text-transform: uppercase;
			}
		}

		.status {
			font-weight: bold;
			text-align: right;
		}

		.Reserviert {
			color: #009688;
		}
		.Bezahlt {
			color: $primary-default;
		}
		.Verschickt {
			color: #2196f3;
		}
		.Abgebrochen {
			color: #F57F17;
		}
		.Abgelehnt {
			color: $warn-default;
		}
		.Unter-Begutachtung {
			color: #9C27B0;
		}
		.Abgeschlossen {
			color: rgba(0, 0, 0, 0.4);
		}
		.Bestellt {

		}
	}

}

.order-entry-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.label {
		color: rgba(0, 0, 0, 0.4);
		font-size: 85%;
		text-transform: uppercase;
	}
}

.bank-account {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-bottom: 1px solid #E0E0E0;
	padding-top: 10px;
	padding-bottom: 10px;

	.order-entry-info-container:last-child {
		margin-top: 5px;
	}

	@media all and (min-width: 450px) {
		flex-direction: row;

		.order-entry-info-container:last-child {
			align-items: flex-end;
			margin-top: 0;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: $container-header--background-color;
	border-bottom: $container-divider--height solid $container-divider--color;
	color: $container-header--color;
	margin: -1rem -1rem 1rem;
	padding: 1rem;
	font-weight: 200;

	button {
		margin-right: -5px;
		margin-top: -2px;
	}

	h2 {
		font-size: 1.3em;
		margin: 0;
		font-weight: 200;
		@media all and (min-width: 500px) {
			font-size: 1.5em;
		}
	}
}

.order-entry-picture > img {
	width: 45px;
	height: 45px;
	margin-right: 1rem;
	object-fit: contain;
}

.price {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.70);
	text-align: end;
	font-size: 1rem;
	width: 5rem;
}

.merch-color-container {
	display: flex;
	color: #9E9E9E;

	.merch-color {
		display: block;
		margin-left: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	}
}

.actions {
	display: flex;
	align-items: flex-end;
	flex: 1;
	> div {
		border-top: 1px solid #e0e0e0;
		display: flex;
		justify-content: space-between;
		margin: -1rem;
		margin-top: 1rem;
		padding: 0.5rem;
		width: calc(100% + 2rem);
	}
}

.order-total-price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-size: 1.2rem;

	.order-total-price-amount {
		font-weight: bold;
	}
}
