<div class="header">
	<h2>
		Bestellung vom {{orderEntry?.timeStamp | dateFormat}}
	</h2>
	<button mat-icon-button type="button" *ngIf="withActions"
			(click)="$event.stopPropagation(); false"
			[matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
</div>
<div class="method">
	<span>Bezahlmethode</span>
	<span>{{orderEntry?.method}}</span>
</div>
<div class="bank-account" *ngIf="bankAccount$ | async as bankAccount">
	<div class="order-entry-info-container">
		<span class="label">IBAN</span>
		<span>{{bankAccount.iban}}</span>
	</div>
	<div class="order-entry-info-container">
		<span class="label">BIC</span>
		<span>{{bankAccount.bic}}</span>
	</div>
</div>
<div *ngFor="let item of orderedEventItems" class="ordered-items">
	<a routerLink="{{item.link}}">
		<div class="order-entry-picture">
			<img src="{{!!item.item.images[0] ? item.item.images[0] : 'resources/images/Logo.png'}}"/>
		</div>
		<div class="order-entry-header order-entry-info">
			<div class="order-entry-info-container">
				<span class="label">Name</span>
				<h3 class="mat-h4">{{item.item.title}}</h3>
			</div>

			<div *ngIf="item.color && item.size">
				<div class="order-entry-info-container">
					<span class="label">Farbe</span>
					<div>{{item.color.name}}</div>
				</div>

				<div class="order-entry-info-container">
					<span class="label">Größe</span>
					<div>{{item.size}}</div>
				</div>

			</div>
		</div>
	</a>
	<div class="order-entry-info">
		<div>
			<div class="order-entry-info-container">
				<span class="label">Status</span>
				<span class="status {{item.cssStatus}}">{{item.status}}</span>
			</div>
		</div>
		<div>
			<div class="order-entry-info-container">
				<span class="label">Anzahl</span>
				<div class="order-entry-amount">{{item.amount}}</div>
			</div>

			<div class="order-entry-info-container">
				<span class="label">Preis</span>
				<div class="price">{{item.price | currency:'EUR':'symbol'}}</div>
			</div>

		</div>
	</div>
</div>
<div class="order-total-price">
	<span>Gesamt</span>
	<span class="order-total-price-amount">{{total | currency:'EUR':'symbol'}}</span>
</div>


<mat-menu #menu="matMenu">
	<a mat-menu-item routerLink="/orders/{{orderEntry.id}}/edit">
		<mat-icon>edit</mat-icon>
		<span>Bearbeiten</span>
	</a>
	<button *ngIf="withRemove" mat-menu-item type="button" (click)="remove()">
		<mat-icon>delete</mat-icon>
		<span>Löschen</span>
	</button>
</mat-menu>
