<div>

	<div class="header container--header">
		<div>
			<h2>Bestellung Nr. {{orderEntry?.id}}</h2>
			<span class="date-subtitle">Bestellt am {{orderEntry?.timeStamp | dateFormat:'DD. MMMM YYYY'}}</span>
		</div>
		<button mat-icon-button [matMenuTriggerFor]="editMenu" *ngIf="!isOnDetailsPage">
			<mat-icon>more_vert</mat-icon>
		</button>
	</div>
	<div class="order-information-container">
		<div class="user" *ngIf="user$ | async as user">
			<span class="label">Bestellt von</span>
			<a class="labelled-value" routerLink="/club/members/{{user.id}}" memoUserPreview [user]="user">
				<span>{{user.firstName + ' ' + user.surname}}</span>
			</a>
		</div>
		<div>
			<span class="label">Items</span>
			<span class="labelled-value">{{orderedEventItems.length}}</span>
		</div>
		<div>
			<span class="label">Gesamt</span>
			<span class="labelled-value">{{total | currency:'EUR':'symbol'}}</span>
		</div>
	</div>
	<div class="method" [class.line-under]="!(bankAccount$ | async)">
		<div>
			<span class="label">Bezahlmethode</span>
			<span class="labelled-value">{{orderEntry?.method}}</span>
		</div>
		<ng-container *ngIf="bankAccount$ | async as bankAccount">
			<div class="order-entry-info-container">
				<span class="label">IBAN</span>
				<span class="labelled-value">{{bankAccount?.iban}}</span>
			</div>
			<div class="order-entry-info-container">
				<span class="label">BIC</span>
				<span class="labelled-value">{{bankAccount?.bic}}</span>
			</div>
		</ng-container>
	</div>

	<div *ngFor="let item of orderedEventItems" class="ordered-items">
		<div class="ordered-item-main-information-container">
			<a routerLink="{{item.link}}">
				<img [lazySrc]="(!!item.originalItem.item?.images[0] ? item.originalItem.item.images[0] : 'resources/images/Logo.png') | imageSize:'large' | async"
					 lazySrcVisible="visible"
				/>
			</a>
			<div class="ordered-item-main-information">
				<div class="ordered-item-header">
					<a routerLink="{{item.link}}" class="item-title">
						<h3 class="labelled-value">{{item.originalItem.item.title}}</h3>
					</a>
					<div class="order-price">
						<!--<span class="order-price-amount">{{item.amount}} x </span>-->
						<span class="order-price-value">{{item.originalItem.price | currency:'EUR':'symbol'}}</span>
					</div>
				</div>

				<table class="secondary-information-container">
					<tbody>
					<ng-container *ngIf="item.originalItem.item.type === 3">
						<tr class="info-row">
							<td class="label">Farbe</td>
							<td class="center">{{item.originalItem.color.name}}</td>
						</tr>
						<tr class="info-row">
							<td class="label">Größe</td>
							<td class="center">{{item.originalItem.size}}</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="item.originalItem.item.type !== 3">
						<tr class="info-row">
							<td class="label">Ist Fahrer</td>
							<td class="center">
								<mat-icon [class.green]="item.originalItem.isDriver">
									{{item.originalItem.isDriver ? 'check' : 'clear'}}
								</mat-icon>
							</td>
						</tr>
						<tr class="info-row">
							<td class="label">Benötigt Ticket</td>
							<td class="center">
								<mat-icon [class.green]="item.originalItem.needsTicket">
									{{item.originalItem.needsTicket ? 'check' : 'clear'}}
								</mat-icon>
							</td>
						</tr>
					</ng-container>
					<tr class="info-row status-row">
						<td class="label">Status</td>
						<td class="center">
							<span class="labelled-value status {{item.status.css}}">{{item.status.label}}</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="ordered-item-actions" *ngIf="withItemActions && canBeCancelled(item)">
			<button mat-button color="warn" (click)="cancel(item)">
				<mat-icon>clear</mat-icon>
				<span>Stornieren</span>
			</button>
		</div>
	</div>
</div>
<div class="order-renderer-bottom">
	<a class="details-button" mat-button *ngIf="!isOnDetailsPage"
	   routerLink="/management/orders/{{orderEntry?.id}}/">
		<mat-icon>description</mat-icon>
		Ansehen
	</a>
	<a mat-button
	   routerLink="/management/orders/{{orderEntry?.id}}/edit">
		<mat-icon>edit</mat-icon>
		Bearbeiten
	</a>
	<button mat-button *ngIf="withRemove" color="warn"
			(click)="remove()">
		<mat-icon>delete</mat-icon>
		Löschen
	</button>
</div>


<mat-menu #editMenu="matMenu">
	<a mat-menu-item
	   routerLink="/management/orders/{{orderEntry?.id}}/">
		Details
	</a>
</mat-menu>
