<div [formGroup]="form">
	<mat-form-field>
		<input matInput
			   placeholder="Passwort"
			   formControlName="password"
			   name="passwordInput"
			   [required]="required"
			   type="password">
		<mat-error align="end" *ngIf="form?.get('password')?.hasError('required')">
			Das Passwort darf nicht leer sein!
		</mat-error>
		<mat-hint align="end" *ngIf="showStrengthBar">
			<mat-password-strength [password]="form?.controls['password']?.value"></mat-password-strength>
		</mat-hint>
	</mat-form-field>

	<mat-form-field *ngIf="repeatPassword">
		<input matInput
			   placeholder="Passwort bestätigen"
			   formControlName="confirmedPassword"
			   name="repeatedPasswordInput"
			   [required]="required"
			   type="password">

		<mat-error align="end"
				   *ngIf="form?.get('confirmedPassword')?.hasError('passwordDoesNotMatch')">
			Passwörter stimmen nicht überein
		</mat-error>
	</mat-form-field>
</div>
