<div [formGroup]="form">
	<div class="form-input-container">
		<div class="form-label" [attr.optional]="!required">Passwort</div>
		<mat-form-field appearance="outline" class="small-outline-formfield">
			<input matInput
				   formControlName="password"
				   name="passwordInput"
				   [required]="required"
				   type="password">
			<mat-error align="end" *ngIf="form?.get('password')?.hasError('required')">
				Das Passwort darf nicht leer sein!
			</mat-error>
			<mat-hint align="end" *ngIf="showStrengthBar">
				<mat-password-strength [password]="form?.controls['password']?.value"></mat-password-strength>
			</mat-hint>
		</mat-form-field>
	</div>
	<div class="form-input-container" *ngIf="repeatPassword">
		<div class="form-label" [attr.optional]="!required">Passwort bestätigen</div>
		<mat-form-field appearance="outline" class="small-outline-formfield">
			<input matInput
				   formControlName="confirmedPassword"
				   name="repeatedPasswordInput"
				   [required]="required"
				   type="password">

			<mat-error align="end"
					   *ngIf="form?.get('confirmedPassword')?.hasError('passwordDoesNotMatch')">
				Passwörter stimmen nicht überein
			</mat-error>
		</mat-form-field>
	</div>
</div>
