@import "theme";

memo-multi-level-select {
	cursor: pointer;
}

.filter-sidebar {
	display: none;
}

@media all and (min-width: 650px) {
	.mobile-filter-trigger {
		display: none;
	}

	.filter-sidebar {
		display: block;
		width: 250px;
		overflow: hidden;
	}

	.filter-title {
		text-transform: uppercase;
	}

	.option-children {
		display: flex;
		flex-direction: column;
	}

	mat-radio-group {
		display: flex;
		flex-direction: column;
		padding-left: 6px;
	}
}

.filter-category-container {
	margin-bottom: 16px;

	h3 {
		font-size: font-size(default);
		text-transform: uppercase;
		margin: 0;
		color: grey(600);

	}
}
