<div class="centered-container container" [class.horizontal]="direction === 'horizontal'">

	<div class="object-details-content-container">
		<div class="container--header">
			<div class="title-subtitle-container">
				<h3>{{title}}</h3>
				<span class="subtitle" *ngIf="subtitle">{{subtitle}}</span>
			</div>
			<a *ngIf="route" title="Zeige mehr {{title}} Informationen"
			   routerLink="{{route}}">
				<mat-icon>list</mat-icon>
			</a>
		</div>

		<div class="container--body">
			<ng-content></ng-content>
		</div>
	</div>


</div>
