@import "mixins";
@import "theme";
@import "../centered-container";
@import "variables";

:host {
	border-radius: 4px;
	padding-bottom: 4px;
}

.object-details-content-container {
	background-color: white;
	border-top: 1px solid grey(300);

	@media all and (min-width: 650px) {
		border: none;
		border-radius: 4px;
	}
}

.container--header {
	justify-content: space-between;

	a {
		text-decoration: none;
		color: grey(900);
		font-weight: 400;
	}
}

.container--body {
	padding: 1rem;
}
