
@import "../modify-shop-item.component";

.entry-info-container{
	display: flex;

	&:nth-child(1){
		justify-content: space-between;
		align-items: center;
		> *{
			width: 45%;
		}

		md-select{
			margin-top: -8px;
		}

		/deep/ .mat-select-placeholder.mat-floating-placeholder{
			top: -16px !important;
		}
	}

	&:nth-child(2){
		width: 100%;
		> div{
			width: 100%;
		}
	}
}
