<div class="author-image-container">
	<img src="{{!!author.imagePath ? author.imagePath : 'resources/images/Logo.png'}}"/>
</div>

<form #commentInputForm="ngForm" (ngSubmit)="submit(); commentInputForm.reset()">

		<textarea autosize
				  placeholder="Kommentar posten..."
				  rows="2"
				  name="commentInput"
				  #commentInput="ngModel"
				  [(ngModel)]="commentText">

		</textarea>

	<button md-icon-button
			mdSuffix
			color="primary"
			[disabled]="!commentText || commentText.length === 0">
		<md-icon>send</md-icon>
	</button>
</form>
