<div class="author-image-container">
	<img src="{{(!!author?.images[0] ? author.images[0] : 'resources/images/Logo.png') | imageSize:'thumbnail' | async}}"/>
</div>

<form #commentInputForm="ngForm" (ngSubmit)="submit(); commentInputForm.reset()">

	<textarea autosize
			  placeholder="Kommentar posten..."
			  rows="2"
			  (focus)="showActionButtons = true"
			  name="commentInput"
			  #commentInput="ngModel"
			  [(ngModel)]="commentText">

	</textarea>

	<div *ngIf="showActionButtons || commentText.length > 0">
		<button mat-button type="button" (click)="closeSubmitComment.emit()">
			ABBRECHEN
		</button>
		<button mat-raised-button color="accent"
				[disabled]="!commentText || commentText.length === 0">
			{{submitCommentText | uppercase}}
		</button>
	</div>
</form>
