<!--for each editItem in editItemList (stored in a constant somewhere since they don't really change)-->

<!--different types of inputs-->
<!--	1. text (name, title, description) -->
<!--	2. number (capacity, priceMember, price) -->
<!--	3. date (date)--->
<!--	4. dropdown (clubRole, vehicle) -->
<!--	5. google-maps integrated autofill (meetingPoint, destination) todo calculate miles from these 2 inputs-->
<!--	6. list of text (sizes) -->
<!--	7. list of colors? (colors)-->
<!--	8. sizeTable (sizeTable) -->

<!--a little to the side of the rest of the input forms: -->
<!--	list of pictures (stored in extra variable, will be sent to server via http body)-->


<!--below all that-->
<!--	cancel button-->
<!--	save button-->
