@import "../../../../mixins";
@import "../modify-shop-item.component";

.additional-party-info-container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div:nth-child(2){
		display: flex;
		justify-content: space-between;
		> *{
			width: 45%;
		}
	}
}

.description-input{
	margin-top: 15px;
}
