<div class="detail-container" *ngFor="let event of [eventObservable | async]">
    <!--display image with overlayed title/star button if present-->
    <div class="image-container" *ngIf="event?.picPath" [attr.object-title]="event.title">
        <img class="image-detail" src="{{event?.picPath}}">
    </div>

	<object-details-overview [event]="event" [overviewKeys]="overviewKeys | async"></object-details-overview>

    <div class="content">
        <ng-content select="[component-list]"></ng-content>
    </div>
</div>
