
.detail-container {

  .image-container {
    position: relative;

    .image-title-overlay {
      position: absolute;
      bottom: 1.5vw;
      left: 0;
      width: 100%;
      height: 20%;
      display: block;
      background-color: rgba(96, 125, 139, 0.5);
      padding: 5vw;
      color: #FFF;
    }

    .image-detail {
      width: 100%;
      height: auto;
    }

    button {
      position: absolute;
      bottom: calc(20% - 5.5vw);
      right: 5%;
      display: block;
      color: #FFF;
    }
  }

  .add-to-cart-button {
    font-size: 6vw;
    width: 100%;
    height: 12vw;
  }
}