
.detail-container {
  //background-color: #4caf50;

  .image-container {
    position: relative;

    .image-title-overlay {
      position: absolute;
      bottom: 1.5vw;
      left: 0;
      width: 100%;
      height: 20%;
      display: block;
      background-color: rgba(96, 125, 139, 0.5);
      padding: 5vw;
      //font-size: 3.5em;
      color: #FFF;
    }

    .image-detail {
      width: 100%;
      height: auto;
    }

    button {
      position: absolute;
      bottom: calc(20% - 5.5vw);
      right: 5%;
      height: 13vw;
      width: 13vw;
      display: block;
      font-size: 5vw;
      color: #FFF;
    }
    > button md-icon.material-icons {
      height: 10vw;
      width: 10vw;
      font-size: 10vw;
      line-height: 3vw;
    }
  }

  .add-to-cart-button {
    font-size: 6vw;
    width: 100%;
    height: 12vw;
  }
}