@import "mixins";
@import "theme";
@import "~@angular/material/theming";

.expandable-table-row {
	height: 56px;
	background-color: white;
}

.expandable-table-header-title a {
	color: accent();
}

.icon-menu-container {
	display: inline-flex;
	align-items: center;

	> button {
		width: initial;
		padding: 0 8px;
		border-radius: 4px;

		::ng-deep .dropdown-icon {
			margin-left: -4px;
			margin-right: -4px;
		}
	}
}

.expandable-table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	margin-right: 0;
	@include transition(background-color 200ms ease-in);

	.expandable-table-header-title {
		width: 70%;
		font-weight: 400;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: font-size(medium);

	}

	.expandable-table-actions {
		mat-icon {
			color: grey(600);
		}
	}

	&.items-selected-header {
		background-color: rgb(194, 219, 255);
	}

}
