<md-list>
            <span *ngFor="let participant of (participants | slice:0:amountOfParticipantsShown)">
                <md-list-item
					(click)="showDetailsOfUser(participant.user)">
                    <img md-list-avatar src="{{participant?.user?.imagePath}}"
						 alt="Profilbild von {{participant?.user?.firstName + ' ' + participant?.user?.surname}}">
                    <h3 md-line> {{participant?.user?.firstName + " " + participant?.user?.surname}} </h3>
                    <p md-line>
                        <span> {{participant?.user?.clubRole}} </span>
                        <span class="secondary-text"> -- {{participant?.user?.miles}} Meilen </span>
                    </p>
                </md-list-item>
                <md-divider></md-divider>
            </span>
	<md-list-item *ngIf="!participants || participants.length === 0">
		Bisher keine Teilnehmer vorhanden.
	</md-list-item>
</md-list>

<button md-button type="button" *ngIf="participants?.length > 3" (click)="expandedStatus = !expandedStatus">
	<span>{{expandedStatus ? 'Weniger' : 'Mehr'}}</span>
	<md-icon [@expandedState]="expandedStatus">expand_more</md-icon>
</button>


