@import "theme";

.participants-container {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.participant {
	position: relative;
	margin: 8px;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	width: 210px;
	height: 240px;

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
	}

	a {
		color: grey(900);

		padding: 16px;
		display: block;
		width: 100%;

		.image-container {
			width: 100px;
			height: 100px;
			border-radius: 200px;
			box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
			margin-bottom: 8px;
		}

		img {
			width: 100px;
			height: 100px;
			border-radius: 200px;
			object-fit: cover;
		}

		h3 {
			text-align: center;
			margin: 0 0 8px;
			font-size: font-size(small-medium);
			font-weight: 500;
		}

		span {
			font-size: font-size(smaller);
			color: grey(600);
		}
	}
}

.badges {
	margin-top: 8px;
	display: flex;
	justify-content: center;

	> * {
		flex: 1;
	}

	> *:nth-child(2) {
		flex: 2;
	}

	.participant-badge {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		border-radius: 200px;
		font-size: font-size(smallest);

		> span:first-child {
			font-weight: 500;
		}

		mat-icon {
			height: 16px;
			width: 16px;
			font-size: 16px;
		}
	}

	.multiplier {
		margin-left: 1px;
		margin-right: 2px;
	}

	.participant-tickets {
		background: primary(50);
		color: primary(900);
		border: 1px solid primary(900);

		&:hover {
			background: primary(100);
		}

		&.needs-ticket {
			background: warn(50);
			color: warn(900);
			border: 1px solid warn(900);

			&:hover {
				background: warn(100);
			}
		}

	}

	.is-driver {
		background: primary(50);
		color: primary(900);
		border: 1px solid primary(900);

		&:hover {
			background: primary(100);
		}
	}

	.extra-persons {
		background: grey(50);
		color: grey(700);
		border: 1px solid grey(700);
		margin-left: 8px;
		margin-right: 8px;

		&:hover {
			background: grey(200);
		}

		.extra-persons-amount {
			margin-right: 4px;
		}
	}
}


@media all and (min-width: 600px) {
	.participants-container {
		display: grid;
		padding: 16px;
		margin: -16px;
		grid-column-gap: 16px;
		grid-row-gap: 16px;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.participant {
		margin: 0;
		width: auto;

		a {
			width: auto;
		}
	}
}
