@import "~@angular/material/theming";
@import "theme";

//todo redesign: display in a row on desktop

.payment-method-row {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	&:hover {
		background: grey(100);
	}

	&.selected {
		mat-checkbox {
			color: primary();
		}
	}

	mat-checkbox {
		margin-right: 12px;
		color: grey(600);
	}
}

.error-container {
	color: warn();
	display: flex;
	align-items: center;
	padding: 0.5rem 0.8rem;
	border-top: 1px solid warn();
	border-bottom: 1px solid warn();

	mat-icon {
		margin-right: 8px;
	}
}

.limit-config-container {
	padding: 1rem;
	border-bottom: 1px solid grey(200);
	display: flex;
	justify-content: space-between;
}
