@import "mixins";
@import "../centered-container";
@import "variables";

:host {
	display: block;
	background-color: white;
	color: $container-content--color;
	padding-top: 8px;
	padding-bottom: 16px;
	border-bottom: 1px solid grey(300);
	margin-left: 16px;
	margin-right: 16px;

	.item-details-row {
		display: flex;
		align-items: center;

		background: white;
		font-size: font-size(small-medium);

		&:not(:first-child) {
			margin-top: 24px;
		}

		mat-icon,
		memo-capacity-renderer ::ng-deep mat-icon {
			color: grey(500);
		}

		&:not(.item-price-container),
		memo-capacity-renderer {
			display: flex;
			align-items: center;
			font-size: font-size(default);

			::ng-deep > span {
				margin-left: 10px;
			}
		}
	}

	.waiting-list-row {
		color: grey(900);

		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-left: 10px;

			mat-icon {
				transform: rotate(-90deg);
			}
		}

		@media all and (min-width: 650px) {
			> div mat-icon {
				visibility: hidden;
			}
		}


		&:hover > div mat-icon {
			display: block;
			visibility: visible;
		}
	}


	.item-price-container {
		align-items: flex-start;

		mat-icon {
			margin-top: 10px;
		}

		memo-price-renderer {
			padding-top: 2px;
			margin-left: 10px;
			width: 100%;

			::ng-deep .discount-overlay-trigger {
				margin-top: -8px;
			}

			::ng-deep .price-container {
				display: flex;
				align-items: center;
				margin-top: 0.5rem;
				padding-right: 8px;

				.actual-price {
					font-size: font-size(medium);
				}

				> span {
					display: flex;
					align-items: center;
				}
			}
		}
	}

	.object-info-container {
		display: flex;
		justify-content: space-between;
		margin: -1.5rem;
		padding: 1.5rem 1.5rem 1rem;
		margin-bottom: 1rem;
		background-color: $container-header--background-color;
		color: $container-header--color;
		border-bottom: $container-divider--height solid $container-divider--color;

		.object-info {
			display: flex;
			flex-direction: column;
			align-items: center;

			div:first-child {
				font-size: font-size(small-medium);
			}

			div:not(:first-child) {
				font-size: font-size(smaller);
			}
		}
	}

}

memo-event-destination-renderer {
	margin-top: 24px;
}

.item-date-container {
	.date-container {
		display: flex;
		flex-direction: column;
		margin-left: 10px;

		.relative-date {
			color: grey(500);
			font-size: font-size(smallest);
		}
	}
}

:host ::ng-deep .sb-buttons.sb-style.sb-style-colors {
	justify-content: center;
	width: 100%;
}

share-buttons {
	width: 100%;
	justify-content: center;
}

