<div class="login-container">

	<mat-card>
		<h4>Bereits Meilenwölfe-Mitglied?</h4>
		<form #loginForm="ngForm" (ngSubmit)="checkLogin()">
			<label>
				<mat-form-field
					[dividerColor]="(emailInput.touched && emailInput.invalid) ? 'warn' : 'primary'">
					<input matInput
						   placeholder="Email"
						   type="email"
						   name="emailInput"
						   [ngClass]="{'has-error': emailInput.touched && emailInput.invalid}"
						   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
						   [(ngModel)]="email"
						   #emailInput="ngModel"
						   required>
					<!--zeige Fehlermeldung wenn die eingegebene EmailAdresse falsch (d.h. was anderes abc@test.irgendwas) ist-->
					<mat-hint align="end" class="error-message" *ngIf="emailInput.touched && (emailInput.invalid)">
						Email-Adresse muss in der Form <i>test@email.de</i> sein
					</mat-hint>
				</mat-form-field>
			</label>
			<label>
				<mat-form-field>
					<input matInput
						   placeholder="Passwort"
						   type="password"
						   #passwordInput="ngModel"
						   name="passwordInput"
						   [(ngModel)]="password"
						   required>
					<mat-hint align="end">
						<ng2-password-strength-bar
							[passwordToCheck]="password"
							[barLabel]="''">
						</ng2-password-strength-bar>
					</mat-hint>
				</mat-form-field>

			</label>

			<div *ngIf="wrongInput" class="wrong-input error-message">
				Die eingebenen Daten sind falsch.
				<!--todo passwort vergessen link-->
			</div>

			<button type="submit"
					mat-raised-button
					[disabled]="!loginForm.form.valid"
					color="primary">
			<span *ngIf="!loading; else loadingSpinner">
			{{'Einloggen' | uppercase}}
			</span>
				<ng-template #loadingSpinner>
					<mat-icon class="loading-spinner">refresh</mat-icon>
					{{'Überprüfe...' | uppercase}}
				</ng-template>
			</button>
		</form>

		<hr/>


		<h4>Noch keinen Account?</h4>
		<a routerLink="../signup" mat-raised-button color="primary">{{'Registrieren' | uppercase}}</a>

	</mat-card>

</div>
