@import "theme";

:host {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	max-width: 800px;
	margin: auto;
}

mat-tab-group {
	width: 100%;
}

.header {
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}

mat-paginator {
	background: transparent;
	width: 100%;
}

h3.results-title {
	margin: 0;
	font-weight: 500;
	color: grey(700);
	font-size: font-size(large);
}

memo-sorting-dropdown {
	align-self: flex-end;
	margin-top: 0;
	margin-right: 10px;

	@media all and (min-width: 500px) {
		margin-right: calc((100% - 500px) / 2);
	}
}

memo-order-renderer {
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 500px;
	@media all and (min-width: calc(500px + 2rem)) {
		width: 500px;
	}
}

.empty-state {
	padding-top: 64px;
	padding-bottom: 64px;
}

.no-results /deep/ .mat-badge-content {
	background: memo-grey(300);
	color: memo-grey(800);
}

:host /deep/ .mat-tab-label-active {
	opacity: 1;
}

.loading-spinner {
	margin-left: 4px;
}

.loader-wrapper {
	z-index: 0 !important;
	height: 300px !important;
}

.badge {
	margin-left: 16px;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


@media all and (max-width: 600px) {
	:host {
		padding: 0;
	}

	.search-input {
		display: none;
	}

	.header {
		margin: 0;
		padding: 16px 8px;
		background: white;
	}

	.mat-tab-header {
		background: white;
	}

	:host /deep/ .mat-tab-labels {
		background: white;

		.mat-tab-label {
			flex: 1;
		}
	}

	h3.results-title {
		font-size: font-size(medium-large);
	}
}

.flex-grow {
	flex: 1;
}
