<form #modifyParticipantForm="ngForm" class="dialog-container" (ngSubmit)="emitDoneEvent()">
	<div>
		<h1 matDialogTitle>{{isEditing ? 'Teilnehmer modifizieren' : 'Füge einen Teilnehmer hinzu'}}</h1>
		<div mat-dialog-content class="dialog-content-container">
			<div>
				<mat-form-field
					[dividerColor]="(autocompleteFormControl.dirty && participant.user === null ||
					participant.user?.id === -1) ? 'warn' : 'primary'">
					<input type="text"
						   matInput
						   tabindex="-1"
						   placeholder="Nutzer"
						   name="userInput"
						   [formControl]="autocompleteFormControl"
						   [matAutocomplete]="auto">
					<mat-hint *ngIf="autocompleteFormControl.dirty && participant.user === null ||
					participant.user?.id === -1" class="error-message">
						Bitte wähle einen Nutzer aus der Liste!
					</mat-hint>
				</mat-form-field>
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
					<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
						{{ option.firstName + " " + option.surname }}
					</mat-option>
				</mat-autocomplete>
			</div>

			<mat-form-field>
				<textarea placeholder="Kommentar" autosize
						  #commentInput="ngModel"
						  name="commentInput"
						  [(ngModel)]="participant.comments" matInput>
				</textarea>
			</mat-form-field>

			<div class="participant-checkboxes">
				<mat-checkbox name="isDriverCheckbox" #isDriverCheckbox="ngModel" [(ngModel)]="participant.isDriver">
					Ist Fahrer
				</mat-checkbox>
				<mat-checkbox name="hasPaidCheckbox" #hasPaidCheckbox="ngModel" [(ngModel)]="participant.hasPaid">
					Hat bezahlt
				</mat-checkbox>
			</div>
		</div>

	</div>
	<div mat-dialog-actions>
		<button mat-icon-button type="button" matDialogClose>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<button mat-icon-button [disabled]="!modifyParticipantForm.form.valid || participant.user === null ||
					participant.user?.id === -1"
				type="submit" color="primary">
			<mat-icon>done</mat-icon>
		</button>
	</div>

</form>
