<form #modifyParticipantForm="ngForm" class="dialog-container" (ngSubmit)="emitDoneEvent()">
	<div>
		<h1 matDialogTitle>
			{{
				data.editingParticipant
					? (isEditing ? 'Teilnehmer modifizieren' : 'Teilnehmer hinzufügen')
					: 'Warteschlange bearbeiten'
			}}
		</h1>
		<div mat-dialog-content class="dialog-content-container">
			<div>
				<memo-user-autocomplete [required]="true" [resetOnSelect]="false"
										[user]="entry.user"
										(userChanged)="entry.user = $event"></memo-user-autocomplete>
			</div>
			<div class="form-input-container" *ngIf="data.editingParticipant">
				<div class="form-label">Status</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<mat-select [(value)]="entry['status']">
						<mat-option *ngFor="let status of availableStatus" [value]="status.status">
							{{status.text}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="participant-checkboxes">
				<mat-checkbox name="isDriverCheckbox" #isDriverCheckbox="ngModel" [(ngModel)]="entry.isDriver">
					Ist Fahrer
				</mat-checkbox>
				<mat-checkbox name="needsTicketCheckbox" #needsTicketCheckbox="ngModel"
							  [(ngModel)]="entry.needsTicket">
					Braucht Stadion Ticket
				</mat-checkbox>
			</div>
		</div>

	</div>
	<div mat-dialog-actions>
		<button mat-icon-button type="button" matDialogClose>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<button mat-icon-button [disabled]="!modifyParticipantForm.form.valid || entry.user === null ||
					entry.user?.id === -1"
				type="submit" color="primary">
			<mat-icon>done</mat-icon>
		</button>
	</div>

</form>
