<ng-container *ngLet="previousValue$ | async as previousValue">
	<div class="modify-shop-item-container" *ngLet="loading$ | async as loading">
		<h3 class="container--header">
			Discount {{previousValue ? 'bearbeiten' : 'erstellen'}}
		</h3>
		<form [formGroup]="formGroup" (ngSubmit)="submitModifiedObject()">

			<memo-form-container [title]="'Informationen'" [subtitle]="'Alle Felder sind verpflichtend'"
								 class="grouped"
								 [formGroup]="formGroup">

				<div class="form-input-container">
					<label class="form-label">Grund</label>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="reasonInput"
							   required
							   formControlName="reason"
						>
						<mat-error *ngIf="formGroup.get('reason').hasError('required')" align="end">
							Dieses Feld darf nicht leer bleiben!
						</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-start center" class="amount-input-parent">
					<div class="form-input-container amount-input-container">
						<label class="form-label">Menge</label>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput name="amountInput"
								   required type="number"
								   formControlName="amount"
							>
							<span *ngIf="!formGroup.get('percentage').value" class="input-prefix" matPrefix>max.</span>
							<span *ngIf="!formGroup.get('percentage').value" matSuffix>€</span>
							<span *ngIf="formGroup.get('percentage').value" matSuffix>%</span>
							<mat-error *ngIf="formGroup.get('amount').hasError('required')" align="end">
								Dieses Feld darf nicht leer bleiben!
							</mat-error>
							<mat-error *ngIf="formGroup.get('amount').hasError('minimum')" align="end">
								Bitte gib einen Wert größer gleich 0 ein!
							</mat-error>
						</mat-form-field>
					</div>

					<mat-checkbox formControlName="percentage">
						Prozentual
					</mat-checkbox>
				</div>

				<div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="flex-start center">
					<div class="form-input-container">
						<label class="form-label" optional>
							Limit pro User und Item
						</label>
						<mat-form-field appearance="outline" class="small-outline-formfield">
							<input matInput name="limitPerUserAndItemInput" type="number"
								   formControlName="limitPerUserAndItem"
								   placeholder="Default: Kein Limit"
							>
							<mat-hint align="end">-1 entspricht keinem Limit</mat-hint>
						</mat-form-field>
					</div>
					<mat-icon matTooltip="Wie oft ein Discount von einem User verwendet werden kann">help</mat-icon>
				</div>
			</memo-form-container>

			<memo-form-container title="Link"
								 subtitle="Link zu Seite, auf der User sich für Discount qualifizieren können"
								 class="grouped">
				<div class="form-input-container">
					<label class="form-label" optional>Link URL</label>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="linkUrlInput"
							   formControlName="linkUrl"
						>
					</mat-form-field>
				</div>

				<div class="form-input-container">
					<label class="form-label" optional>Link Text</label>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="linkTextInput"
							   formControlName="linkText">
					</mat-form-field>
				</div>
			</memo-form-container>


			<ng-container *ngLet="itemMatchesError$ | async as itemMatchesError">
				<memo-form-container [title]="'Item-Bedingungen'" *ngLet="(itemMatches$ | async) as matches"
									 class="grouped"
									 [class.warn-subtitle]="matches === 0"
									 [class.error-subtitle]="itemMatchesError !== null"
									 [subtitle]="getSubtitle(matches, itemMatchesError, 'items')">
					<memo-discount-condition-form [formArray]="formGroup.get('itemConditions')"
												  [conditionOptions]="itemDiscountConditions"
												  emptyStateIcon="local_offer"
												  emptyStateTitle="Füge eine Item-Bedingung hinzu"
												  emptyStateSubtitle="Im Moment gilt dieser Discount für alle Items."
					></memo-discount-condition-form>
				</memo-form-container>
			</ng-container>

			<ng-container *ngLet="userMatchesError$ | async as userMatchesError">
				<memo-form-container [title]="'User-Bedingungen'" class="grouped"
									 *ngLet="(userMatches$ | async) as matches"
									 [class.warn-subtitle]="matches === 0"
									 [class.error-subtitle]="userMatchesError !== null"
									 [subtitle]="getSubtitle(matches, userMatchesError, 'nutzer')">
					<memo-discount-condition-form [formArray]="formGroup.get('userConditions')"
												  [conditionOptions]="userDiscountConditions"
												  emptyStateIcon="person"
												  emptyStateTitle="Füge eine User-Bedingung hinzu"
												  emptyStateSubtitle="Im Moment gilt dieser Discount für alle User."
					></memo-discount-condition-form>
				</memo-form-container>
			</ng-container>

			<div class="form-buttons">
				<a mat-button routerLink="/management/discounts/" color="warning" type="button">Abbrechen</a>

				<button mat-raised-button color="accent"
						[disabled]="!formGroup.valid || formGroup.pending || loading">
					<span *ngIf="!loading; else loadingSpinner">
						{{previousValue ? 'Speichern' : 'Erstellen'}}
					</span>
					<ng-template #loadingSpinner>
						<mat-icon class="loading-spinner">refresh</mat-icon>
						<span>Speichert...</span>
					</ng-template>
				</button>
			</div>
		</form>
	</div>
</ng-container>
