@import "theme";
@import "variables";
@import "~@angular/material/theming";

:host {
	display: flex;
	flex-direction: column;
	@include mat-elevation(3);
	@include mat-elevation-transition;
	border-radius: 4px;
	background-color: $container-content--background-color;
	color: $container-content--color;

	.stock-entry-header {
		display: flex;
		background-color: grey(100);
		color: $container-header--color;
		justify-content: space-between;
		padding: 10px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		a {
			color: grey(900);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			h3 {
				margin: 0;
			}
		}

		> div {
			display: flex;
			max-width: 85%;

			> div {
				margin-left: 10px;
				display: flex;
				flex-direction: column;
				width: calc(100% - 50px);

				span {
					font-size: font-size(smaller);

					text-overflow: ellipsis;

					/* Required for text-overflow to do anything */
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		img {
			width: 50px;
			height: 50px;
			object-fit: cover;

			overflow: hidden;
			border-radius: 50%;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		}

		button {
			margin-right: -10px;
			margin-top: -10px;
		}
	}

	table {
		overflow-x: auto;
		width: 95%;
		border-collapse: collapse;
		font-size: font-size(smallest);
		margin: 2.5%;

		thead {
			color: grey(500);
			font-size: font-size(smallest);

			.sorted-column {
				color: grey(900);
			}

			.sortable-column {
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				mat-icon {
					display: inline-flex;
					vertical-align: middle;
				}
			}

			th:not(.sortable-column):not(.empty-column) {
				width: 50px;

				@media all and (min-width: 1000px) {
					width: 60px;
				}
			}

		}

		thead tr,
		tr:not(:last-child) {
			border-bottom: 2px solid grey(200);
		}

		tr th:last-child,
		tr td:last-child {
			border-left: 2px solid grey(200);
			padding-right: 20px;
		}

		.total-header {
			padding-left: 10px;
			padding-right: 10px;
		}

		.empty-column {
			width: 20px;
		}

		tbody {
			color: grey(900);

			tr:hover {
				background-color: grey(100);
			}

		}

		tr {
			height: 56px;
		}

		th {
			color: grey(700);
			font-size: font-size(smallest);

			&.total-sum {
				font-size: font-size(default);
			}
		}

		th, td {
			text-align: end;
		}
	}

	.stock-amount-cell.is-zero {
		color: grey;
	}

	.stock-amount-cell:not(.is-zero) {
		font-weight: bold;
	}

	.color-container {
		align-items: center;
		height: 56px;
		display: inline-flex;

		.merch-available-colors {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
		}

		span {
			margin-left: 10px;
		}
	}
}

.stock-entry-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	padding: 8px;
}

@media all and (min-width: 1200px) {
	:host {
		table {
			font-size: font-size(small-medium);

			thead {
				font-size: font-size(default);
			}

			th {
				color: grey(700);
				font-size: font-size(default);

				&.total-sum {
					font-size: font-size(medium);
				}
			}
		}
	}
}
