@import "../modify-shop-item.component";

.merch-info-container {
	display: flex;
	justify-content: space-between;

	> mat-form-field {
		width: 45%;
	}
}

.modify-shop-item-container {
	> h2:first-child {
		margin-bottom: 1rem;
	}

	form {
		> h2:not(:first-child) {
			margin-top: 1.5rem;
		}

		memo-tour-route-input {
			display: block;
			margin-bottom: 1.5rem;
		}
	}
}

:host /deep/ .expandable-table-component-container {
	margin-left: -1rem;
	padding-left: 1rem;
	margin-right: -1rem;
	padding-right: 1rem;
	margin-top: -1.2rem;
	background: white;
	border-bottom: 1px solid #ededed;
}
