<div class="modify-shop-item-container">
	<h3 class="container--header">
		Merchandise bearbeiten
	</h3>
	<form [formGroup]="formGroup" (ngSubmit)="submitModifiedObject()">


		<memo-form-container [title]="'Merch-Informationen'" [subtitle]="'Alle Felder sind verpflichtend'"
							 class="grouped"
							 [formGroup]="formGroup.get('event-data')">

			<div class="form-input-container">
				<div class="form-label">Titel</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<input matInput name="titleInput"
						   required
						   formControlName="title"
					>
					<mat-error *ngIf="formGroup.get('event-data').get('title').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>

			<div class="merch-info-container">
				<div class="form-input-container">
					<div class="form-label">
						Preis
						<span class="form-label--additional-info">(max. 2 Nachkommastellen)</span>
					</div>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="priceInput"
							   type="number" required
							   formControlName="price"
						>
						<span matSuffix>€</span>
						<mat-error *ngIf="formGroup.get('event-data').get('price').hasError('required')" align="end">
							Dieses Feld darf nicht leer bleiben!
						</mat-error>
						<mat-error *ngIf="formGroup.get('event-data').get('price').value < 0" align="end">
							Der Preis muss positiv sein.
						</mat-error>
						<mat-error
							*ngIf="!(formGroup.get('event-data').get('price').value < 0) && formGroup.get('event-data').get('price').hasError('pattern')"
							align="end">
							Der Preis darf nur aus Zahlen bestehen.
						</mat-error>
					</mat-form-field>
				</div>
				<div class="form-input-container">
					<div class="form-label">Material</div>
					<mat-form-field appearance="outline" class="small-outline-formfield">
						<input matInput name="materialInput"
							   type="text" required
							   formControlName="material">
						<mat-error *ngIf="formGroup.get('event-data').get('material').hasError('required')" align="end">
							Dieses Feld darf nicht leer bleiben!
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="form-input-container">
				<div class="form-label">Beschreibung</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<textarea autosize matInput name="descriptionInput"
							  class="not-resizable-textarea" required
							  type="text"
							  formControlName="description">
					</textarea>
					<mat-error *ngIf="formGroup.get('event-data').get('description').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>
		</memo-form-container>


		<memo-form-container [title]="'Berechtigungen'" [subtitle]="'Minimum Berechtigungen'" class="grouped">
			<memo-item-permissions-input
				[formGroup]="formGroup.get('permissions')"
				[isMerch]="true"
				[previousValue]="{
					'expectedReadRole': previousValue?.expectedReadRole || 'Gast',
					'expectedWriteRole': previousValue?.expectedWriteRole || 'Gast',
					'expectedCheckInRole': previousValue?.expectedCheckInRole || 'Gast'
				}">

			</memo-item-permissions-input>
		</memo-form-container>

		<memo-form-container [title]="'Bezahlung'" class="grouped">
			<memo-payment-method-configuration
				[formGroup]="formGroup.get('payment-config')">

			</memo-payment-method-configuration>
		</memo-form-container>


		<memo-form-container [title]="'Bestand'" class="grouped desktop-padding">
			<memo-modify-merch-stock class="mat-elevation-z3"
									 [previousValue]="_previousStock"
									 [formControl]="formGroup.get('event-data').get('stock')">
			</memo-modify-merch-stock>
		</memo-form-container>


		<memo-form-container [title]="'Bilder'" >
			<memo-multi-image-upload [previousValue]="previousValue?.images" class="mat-elevation-z3"
									 [formGroup]="formGroup.get('images')"
			>

			</memo-multi-image-upload>
		</memo-form-container>


		<memo-form-container [title]="'Verantwortliche User'" class="grouped">
			<memo-responsible-user-input [previousValue]="previousValue?.author" class="mat-elevation-z3"
										 [formControl]="formGroup.get('responsible-users')">

			</memo-responsible-user-input>
		</memo-form-container>

		<!--below all that-->
		<div class="form-buttons">
			<!--	cancel button-->
			<button mat-button color="warning" type="button" (click)="cancel()">Abbrechen</button>
			<!--	save button-->
			<button mat-raised-button color="accent"
					[disabled]="!formGroup.valid || formGroup.pending || modifyItemService.loading">
				<span *ngIf="!modifyItemService.loading; else loadingSpinner">
					{{mode === ModifyType.ADD ? 'Erstellen' : 'Speichern'}}
				</span>
				<ng-template #loadingSpinner>
					<mat-icon class="loading-spinner">refresh</mat-icon>
					<span>Speichert...</span>
				</ng-template>
			</button>
		</div>
	</form>
</div>
