<form #modifyStockItemForm="ngForm" class="dialog-container" (ngSubmit)="emitDoneEvent()">
	<div>
		<!--<h1 matDialogTitle>Füge eine weitere Farbe hinzu</h1>-->
		<div mat-dialog-content class="dialog-content-container">

			<mat-form-field>

				<mat-chip-list matPrefix #chipList [placeholder]="'Größen'">
					<mat-chip *ngFor="let size of sizes; let i = index" [selectable]="false"
							 [removable]="true" (remove)="sizes.splice(i, 1)" color="primary">
						{{size}}
						<mat-icon matChipRemove matTooltip="Löschen">cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>

				<input matInput placeholder="Größen"
					   #sizeInput
					   [matChipInputFor]="chipList"
					   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					   [matChipInputAddOnBlur]="true"
					   (matChipInputTokenEnd)="addSize($event)" />

				<mat-hint *ngIf="sizeInput.touched && sizes.length === 0" class="error-message">
					Dieses Feld darf nicht leer bleiben!
				</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<input placeholder="Anzahl"
					   type="number" min="0" step="1" required
					   (keypress)="($event.charCode == 8 || $event.charCode == 0) ? null : $event.charCode >= 48 && $event.charCode <= 57"
					   #amountInput="ngModel"
					   name="amountInput"
					   [(ngModel)]="amount" matInput>
				<mat-hint *ngIf="amountInput.touched && !amountInput.valid" class="error-message">
					Dieses Feld darf nicht leer bleiben!
				</mat-hint>
			</mat-form-field>


			<mat-form-field>
				<input placeholder="Name der Farbe"
					   #colorInput="ngModel" required
					   name="colorInput"
					   [(ngModel)]="colorName" matInput>
				<mat-hint *ngIf="colorInput.touched && !colorInput.valid" class="error-message">
					Dieses Feld darf nicht leer bleiben!
				</mat-hint>
			</mat-form-field>

			<span [(colorPicker)]="color"
				  [cpWidth]="'230px'"
				  [cpDialogDisplay]="'inline'"
				  [style.background]="color"
				  [cpToggle]="true"></span>

		</div>

	</div>
	<div mat-dialog-actions>
		<button mat-icon-button type="button" matDialogClose (click)="color=''">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<button mat-icon-button [disabled]="!modifyStockItemForm.form.valid" type="submit" color="primary">
			<mat-icon>done</mat-icon>
		</button>
	</div>

</form>
