@import "../theme";
@import "~@angular/material/theming";

:host {
	display: block;
	width: 500px;
	max-width: 65vw;
}

.dialog-container {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.dialog-content-container {
		display: flex;
		flex-direction: column;
	}

	mat-form-field,
	input {
		width: 100%;
	}

	/deep/ color-picker {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-top: 130px;
	}

	/deep/ .color-picker {
		left: auto !important;
		top: auto !important;
	}

	.mat-dialog-actions {
		display: flex;
		justify-content: space-between;
	}
}

.error-message {
	color: red;
}

:host {
	.dialog-content-container {
		mat-chip {
			display: flex !important;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			background-color: mat-color($primary);
			color: white;
			&:hover {
				background-color: mat-color($primary, 800);
			}

			&.chip-accent {
				cursor: auto;
				background-color: mat-color($accent);
			}

			span {
				text-decoration: none;
				color: white;
				flex-grow: 2;
			}

			.remove-chip-button {
				font-size: 1.5rem;
				height: 1.5rem;
				width: 1.5rem;
				margin-left: 0.5rem;
			}
		}

	}
}
