<div *ngFor="let user of users$ | async; let i = index"
	 class="user-list-row"
>
	<a class="user-info" routerLink="/members/{{user.id}}">
		<img
			src="{{(user.images.length > 0 ? user.images[0]: 'resources/images/Logo.png') | imageSize:'thumbnail' | async}}"/>
		<span class="user-name" memoUserPreview [user]="user" [hoverDelay]="500">
			{{user.firstName}} {{user.surname}}
		</span>
	</a>
	<div class="user-list-row-actions">
		<button mat-icon-button
				matTooltip="User aus dieser Liste löschen"
				(click)="removeUser(i)">
			<mat-icon>
				clear
			</mat-icon>
		</button>
	</div>
</div>

<div class="user-list-row">
	<memo-user-autocomplete [blackListedUsers]="availableUsers$ | async"
							(userChanged)="addUser($event)">
	</memo-user-autocomplete>
</div>
