memo-multi-image-upload {
	margin: auto;
	border-radius: 4px;

	/deep/ .actions-container {
		border-top: 1px solid #e0e0e0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	/deep/ memo-multi-image-container,
	/deep/ memo-multi-image-container /deep/ .current-image-container,
	/deep/ memo-multi-image-container /deep/ .current-image-container img{
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
}
