.cart-entry {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
}

.cart-entry-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		width: 80%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.2rem;

	}
}

.cart-entry-info {
	display: flex;
	justify-content: space-between;
	.cart-entry-details {
		display: inline-block;
	}
}

.color {
	margin-bottom: 0.7rem;
}

.cart-entry-amount {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;

}

.amount {
	margin-left: 0.2rem;
	height: 5px;

}

.price {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.line {
	border: none;
	border-top: 1px solid grey;
	height: 1px;
	margin: 0px 0px 0px 70%;

}

/*

.cart-entry-border {
	border-bottom: 1px solid grey;
}

.cart-entry-title {
	margin-top: 0.5rem;
	font-size: 1.1rem;

}
.close{
	display: flex;
	justify-content: flex-end;
}

.cart-entry-price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	margin-top: 0.8rem;
}

.cart-entry-price-border {
	border: none;
	border-top: 1px solid grey;
	height: 1px;
	margin: 0px 0px 0px 70%;

}

.cart-entry-sum {
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;


}
.amount{
	margin: 0px 0px 0px 20%;
	weight: 50%;
}
.merch-color-container {
	display: flex;

	.merch-color {
		display: block;
		margin-left: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	}
}
*/

