<div class="cart-entry-border">

	<div class="cart-entry-title">{{event.event.title}}</div>
	{{event.amount}} x
	{{event.event.tablesize}}
	{{event.event.color}}
	<md-select [(ngModel)]="event.amount" (ngModelChange)="updateEventAmount()" placeholder="amount">
		<md-option *ngFor="let amount of amountOptions" [value]="amount">
			{{amount}}
		</md-option>
	</md-select>
	<div class="cart-entry-price">{{event.event.price}} € </div>
	<hr class="cart-entry-price-border">
	<div class="cart-entry-sum">{{event.event.price*event.amount}} €</div>
</div>
