<div class="cart-entry">
	<div class="cart-entry-header">
		<span>{{cartItem.item.title}}</span>
		<md-icon md-icon-button>close</md-icon>
	</div>
	<div class="cart-entry-info">
		<div class="cart-entry-details">
			<div *ngIf="itemIsMerch(cartItem.item)" class="merch-color-container">
				<div>Farbe:
				<span
					class="merch-color"
					[style.background-color]="cartItem.options.color.hex">
						</span>
				</div>
				<div>Größe: {{cartItem.options.size}}</div>
			</div>
		</div>
		<div class="cart-entry-price">
			<div>
				<md-select class="amount" [(ngModel)]="cartItem.amount" (ngModelChange)="updateEventAmount()"
						   placeholder="Anzahl">
					<md-option *ngFor="let amount of amountOptions" [value]="amount">
						{{amount}}
					</md-option>
				</md-select>
				<div>{{cartItem.item.price}} €</div>
			</div>
		</div>
		<div>
			{{cartItem.item.price*cartItem.amount}} €
		</div>

	</div>

</div>


