:host {
	display: block;
	border-bottom: 1px solid #E0E0E0;
}

.participants-container {
	border: 1px solid #dfdfdf;
	padding-left: 1rem;
	padding-right: 1rem;
	background: #F5F5F5;
	margin-bottom: 1rem;
	memo-cart-tour-participant:not(:first-child) {
		border-top: 1px solid #ededed;
	}
}

.main-cart-entry-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	padding: 10px 0;

	> div,
	> a {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	> a {
		max-width: 55%;

		@media all and (min-width: 400px) {
			max-width: 100%;
		}
	}

}

* {
	font-size: 0.95em;
}

.cart-entry-picture > img {
	width: 45px;
	height: 45px;
	margin-right: 1rem;
	object-fit: cover;
}

.cart-entry-header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: 55%;

	@media all and (min-width: 400px) {
		width: 100%;
	}

	h3 {
		font-weight: bold;
		//white-space: nowrap;
		//overflow: hidden;
		margin: 0;
		overflow-wrap: break-word;
		//text-overflow: ellipsis;
		color: rgba(0, 0, 0, 0.70);
	}
}

.cart-entry-amount {
	mat-select {
		padding-top: 0;
		background: white;
	}

	/deep/ .mat-select-trigger {
		min-width: 50px;
		height: 30px;
		width: 50px;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		border: 1px solid #eaeaea;
	}

	/deep/ .mat-select-value {
		top: auto;
		left: auto;
		bottom: auto;
		max-width: none;
	}

	/deep/ .mat-select-arrow {
		display: none;
	}

	/deep/ .mat-select-underline {
		display: none;
	}
}

.price {

	memo-price-renderer {
		/deep/ .price-container {
			flex-direction: column-reverse;
			align-items: flex-end;
		}

		&.hasDiscounts {
			/deep/ .price-container {
				margin-top: -20px;
			}

			/deep/ .percentage-saved {
				display: none;
			}
		}
	}

	font-weight: bold;
	color: rgba(0, 0, 0, 0.70);
	text-align: end;
	font-size: 1rem;
	width: 5rem;
}

.merch-color-container {
	display: flex;
	color: #9E9E9E;

	.merch-color {
		display: block;
		margin-left: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	}
}

