@import "theme";

:host {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
}

.stock-table-container,
.action-buttons {
	width: 100%;
}


.stock-table-container {
	background: white;

	@media all and (min-width: 800px) {
		background: none;
		padding: 0;
	}
}

.action-buttons {
	display: flex;
	margin-top: 32px;
	padding-top: 16px;
	border-top: 1px solid grey(300);
	justify-content: flex-end;
}

@media all and (min-width: 600px) {

	.stock-table-container {
		display: block;
		border-radius: 4px;
		background: white;
		padding: 4px 0;
	}
}
