@import "theme";

:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	color: grey(600);
}

h3 {
	font-size: font-size(smaller);
	text-transform: uppercase;
	margin: 0;
	font-weight: 500;
}
