@import "mixins";

:host {
	@include fullscreen-page();
}

.title {
	@include fullscreen-page-title();
	margin-top: -10%;
}

.content {
	@include fullscreen-page-content();
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
