<memo-expandable-material-table
	[withHeaderAction]="true"
	[dataService]="memberListService.userService"
	[dataSource]="memberListService.dataSource"
	[filter$]="memberListService.filteredBy$"
	[title]="'Mitglieder'"
	[columns]="columns"
	[rowActions]="rowActions$ | async"
	[displayedColumns]="displayedColumns$ | async"
	[permissions]="memberListService.permissions$ | async"
	[writePageToUrl]="true"
	(pageChange)="memberListService.pageAt($event.pageIndex)"
	(onAction)="memberListService.handleTableAction($event)"
>

</memo-expandable-material-table>
