@import "theme";

.red {
	color: warn();
}

.yellow {
	color: yellow(800);
}

.green {
	color: primary();
}

.capacity-container {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.waiting-list-row,
.waiting-list-row > a {
	font-size: font-size(smallest);
	color: grey(500);
}

.waiting-list-row > a {
	border-bottom: 1px solid grey(500);

	&.disabled {
		text-decoration: none;
		border-bottom-color: transparent;
		pointer-events: none;
	}
}
