<div [formGroup]="formGroup">
	<div class="user-personal-data-input-container">
		<div class="name-input"
			 fxLayout="column" fxLayoutGap="0"
			 fxLayout.gt-xs="row" fxLayoutGap.gt-xs="16px">
			<div class="form-input-container" fxFlex="grow">
				<div class="form-label">Vorname</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<input matInput
						   formControlName="firstName"
						   type="text"
						   name="Vorname"
						   required>
					<mat-error *ngIf="formGroup.get('firstName').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-input-container" fxFlex="grow">
				<div class="form-label">Nachname</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<input matInput
						   type="text"
						   formControlName="surname"
						   name="Nachname"
						   required>
					<mat-error *ngIf="formGroup.get('surname').hasError('required')" align="end">
						Dieses Feld darf nicht leer bleiben!
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="date-and-gender-input"
			 fxLayout="column" fxLayoutGap="0"
			 fxLayout.gt-xs="row" fxLayoutGap.gt-xs="16px">
			<div class="form-input-container" fxFlex="grow">
				<div class="form-label">Geburtstag</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<input matInput [matDatepicker]="birthDayPicker"
						   [max]="maxDate"
						   formControlName="birthday"
						   required
						   name="Geburtstag">
					<mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
					<mat-error
						*ngIf="formGroup.get('birthday').hasError('required')">
						Format: DD.MM.YYYY
					</mat-error>
					<mat-error *ngIf="formGroup.get('birthday').hasError('matDatepickerMax')">
						Das Datum darf nicht in der Zukunft liegen
					</mat-error>
				</mat-form-field>
				<mat-datepicker [touchUi]="true" #birthDayPicker></mat-datepicker>
			</div>
			<div class="form-input-container" fxFlex="grow">
				<div class="form-label">Geschlecht</div>
				<mat-form-field appearance="outline" class="small-outline-formfield">
					<mat-select [formControl]="formGroup.get('gender')"
								name="Geschlecht"
								class="aligned-mat-select">
						<mat-option *ngFor="let option of genderOptions" [value]="option">
							{{option}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="form-input-container phone-input-container">
			<div class="form-label" optional>Telefon</div>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   name="telephone"
					   type="tel"
					   formControlName="telephone"
				>
				<mat-error align="end" *ngIf="formGroup.get('telephone').hasError('pattern')">
					Nummer darf nur Zahlen und die Zeichen +, -, ( und ) enthalten
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-input-container phone-input-container">
			<div class="form-label" optional>Mobiltelefon</div>
			<mat-form-field appearance="outline" class="small-outline-formfield">
				<input matInput
					   name="mobile"
					   type="tel"
					   formControlName="mobile"
				>
				<mat-error align="end" *ngIf="formGroup.get('mobile').hasError('pattern')">
					Nummer darf nur Zahlen und die Zeichen +, -, ( und ) enthalten
				</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div fxLayout="column" fxLayoutGap="4px">
		<mat-checkbox [formControl]="formGroup.get('isStudent')" align="start">
			Student
		</mat-checkbox>
		<mat-checkbox [formControl]="formGroup.get('hasSeasonTicket')" align="start">
			Dauerkarte
		</mat-checkbox>
		<mat-checkbox [formControl]="formGroup.get('isWoelfeClubMember')" align="start">
			Woelfeclub-Mitglied
		</mat-checkbox>
	</div>
</div>
