<form (ngSubmit)="submit()" #accountDataForm="ngForm" novalidate>
	<mat-form-field
		[dividerColor]="(email.touched && email.invalid) ? 'warn' : 'primary'">
		<input matInput
			   placeholder="Email"
			   type="email"
			   name="email"
			   [ngClass]="{'has-error': email.touched && email.invalid}"
			   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
			   [(ngModel)]="userEmail"
			   (ngModelChange)="emailIsAlreadyUsed = false"
			   #email="ngModel"
			   required>
		<!--zeige Fehlermeldung wenn die eingegebene EmailAdresse falsch (d.h. was anderes abc@test.irgendwas) ist-->
		<mat-hint align="end" class="error-message" *ngIf="email.touched && (email.invalid)">
			Email-Adresse muss in der Form <i>test@email.de</i> sein
		</mat-hint>
		<mat-hint align="end" class="error-message" *ngIf="emailIsAlreadyUsed">
			Die angegebene Email-Adresse wird bereits verwendet. <a routerLink="/login">Weiter zum Login?</a>
		</mat-hint>
	</mat-form-field>
	<mat-form-field>
		<input matInput
			   placeholder="Passwort"
			   type="password"
			   name="password"
			   [(ngModel)]="password"
			   #passwordInput="ngModel"
			   required>
		<mat-hint align="end">
			<ng2-password-strength-bar
				[passwordToCheck]="password"
				[barLabel]="''">
			</ng2-password-strength-bar>
		</mat-hint>
	</mat-form-field>
	<mat-form-field
		[dividerColor]="(confirmPasswordInput.touched &&  (password !== confirmedPassword)) ? 'warn' : 'primary'">
		<input matInput
			   placeholder="Passwort bestätigen"
			   type="password"
			   name="confirm-password-input"
			   #confirmPasswordInput="ngModel"
			   [(ngModel)]="confirmedPassword"
			   required>
		<!--Zeige Fehlermeldung falls Passwörter nicht übereinstimmen-->
		<mat-hint align="end" class="error-message"
				 *ngIf="passwordInput.touched && confirmPasswordInput.touched &&  (password !== confirmedPassword)">
			Passwörter stimmen nicht überein
		</mat-hint>
	</mat-form-field>

	<button type="submit"
			color="primary"
			[disabled]="!accountDataForm.form.valid || (password !== confirmedPassword) || emailIsAlreadyUsed"
			mat-raised-button>
		<mat-icon *ngIf="loading" class="loading-spinner">refresh</mat-icon>
		Weiter
	</button>
</form>
