<form [formGroup]="accountDataForm" novalidate (ngSubmit)="submit()">
	<mat-form-field>
		<input matInput
			   formControlName="email"
			   placeholder="Email"
			   required

		>
		<mat-error align="end" *ngIf="accountDataForm.get('email').hasError('emailTaken')">
			Die angegebene Email-Adresse wird bereits verwendet. <a routerLink="/login">Weiter zum Login?</a>
		</mat-error>
		<mat-error align="end" *ngIf="accountDataForm.get('email').hasError('email')">
			Email-Adresse muss in der Form <i>test@email.de</i> sein
		</mat-error>
	</mat-form-field>


	<mat-form-field>
		<input matInput
			   placeholder="Passwort"
			   formControlName="password"
			   type="password"
			   required>
		<mat-error align="end" *ngIf="accountDataForm.get('password').hasError('required')">
			Das Passwort darf nicht leer sein!
		</mat-error>
		<mat-hint align="end">
			<ng2-password-strength-bar
				[passwordToCheck]="accountDataForm.controls['password'].value"
				[barLabel]="''">
			</ng2-password-strength-bar>
		</mat-hint>
	</mat-form-field>

	<mat-form-field>
		<input matInput
			   placeholder="Passwort bestätigen"
			   formControlName="confirmedPassword"
			   type="password"
			   required>

		<mat-error align="end"
				   *ngIf="accountDataForm.get('confirmedPassword').hasError('passwordDoesNotMatch')">
			Passwörter stimmen nicht überein
		</mat-error>
	</mat-form-field>

	<button mat-raised-button [disabled]="accountDataForm.invalid || accountDataForm.pending" color="primary"
			type="submit">
		<mat-icon *ngIf="accountDataForm.pending" class="loading-spinner">refresh</mat-icon>
		{{accountDataForm.pending ? 'Überprüfe...' : 'Weiter'}}
	</button>
</form>
