<memo-item-details-container *ngIf="tour$ | async as tour;"
							 [overviewKeys]="overViewKeys$"
							 [event]="tour">
	<memo-item-details-content [title]="'Details'">
		<memo-item-table [event]="tour" content></memo-item-table>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Route'">
		<memo-route [tourRoute]="tourRoute$ | async" content></memo-route>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Beschreibung'">
		<span class="description secondary-text" content>{{tour?.description}}</span>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Wer fährt mit?'" [route]="participantsLink$ | async">
		<memo-participants [participants]="participants$ | async" content></memo-participants>
	</memo-item-details-content>

	<memo-item-details-content [title]="'Kommentare'">
		<memo-comments-section [comments]="commentsSubject$ | async"
							   [eventId]="tour.id"
							   (onDeleteComment)="deleteComment($event)"
							   content></memo-comments-section>
	</memo-item-details-content>
</memo-item-details-container>
