
.profilecard{
    min-height: 50%;
    height: 90%;
    width: 95%;
    display: inline-block;
    margin: 2.5%;
    background-color: #ededed;
}


.name{
    font-size: 5em;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;



}
.nameF{
    margin-left: 1em;
}
.profilecard > div{
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.profilpic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.plz{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.middle-icon{

    font-size: 4em;
    height: 60px;
    width: 60px;
    margin-left: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;



}
.icontext{
    font-size: 3em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.proftext{
    font-size: 2em;
}
.tourenHeadline{
    font-size: 4em;
    margin-top: 1em;
    margin-left: 1em;
}
.edit{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: 6em;
    height: 60px;
    width: 60px;
    margin-left: 9em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
