<div class="profile-container" *ngIf="user">


    <div class="profile-header">
        <img class="profile-picture" src={{user.imagePath}}>
        <span class="profile-name">{{user.firstName}} {{user.surname}}</span>
    </div>

    <div class="profile-info-container">
        <div *ngFor="let category of profileCategories; let lastCategory = last;">
            <div *ngFor="let item of category">
                <md-icon class="middle-icon md-dark">{{item.icon}}</md-icon>
                <span *ngIf="item.isDate" class="icon-text secondary-text">{{user[item.key] | date}}</span>
                <span *ngIf="!item.isDate" class="icon-text secondary-text">{{user[item.key]}}</span>
            </div>
            <md-divider *ngIf="!lastCategory"></md-divider>
        </div>
    </div>

    <div class="profile-tours-title">Veranstaltungen und Touren</div>
    <!-- Touren die Member mitgefahren ist -->
    <div class="profile-tours-container">
        <md-list>
            <span *ngFor="let recentEvent of (getEventsOfUser(user.id) | async); let lastTour = last"
                  (click)="showEvent(recentEvent)">
                <md-list-item>
                    <img md-list-avatar src="{{recentEvent?.picPath}}"
                         alt="picture of the {{recentEvent.title}} event">
                    <h3 md-line> {{recentEvent.title}} </h3>
                    <p md-line>
                        <span class="secondary-text"> {{recentEvent.date|date}} </span>
                    </p>
                </md-list-item>
                <md-divider *ngIf="!lastTour"></md-divider>
            </span>
        </md-list>
    </div>


</div>