@import "variables";
@import "theme";

:host {
	position: relative;
}

mat-card {
	border-top: 4px solid primary();

	&.outdated {
		border-color: grey();

		.discount-amount {
			color: grey(700);
		}
	}
}

.condition-container {
	border-top: 1px solid grey(200);
	padding-top: 8px;
	margin-top: 16px;
}

.condition-row {
	display: flex;
	align-items: center;
	color: grey(700);
	cursor: pointer;
	font-size: font-size(smaller);

	mat-icon {
		margin-right: 8px;
	}
}

h3.discount-amount {
	margin: 0;
	display: flex;
	justify-content: center;
	font-size: font-size(medium-larger);
	font-weight: 400;
	color: primary();
}

h4.discount-title {
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: font-size(medium);
	margin: 8px 0 0;
	text-align: center;
}

.discount-limit {
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: font-size(smallest);
	color: grey(700);
	margin-top: 4px;
}

button.overflow-button.mat-icon-button {
	position: absolute;
	top: 0;
	right: 0;
}

.outdated-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: font-size(smaller);
	color: warn(800);
	border: 1px solid;
	background: warn(100);
	border-radius: 4px;
	width: 80px;
	margin: 8px auto auto;
	cursor: pointer;
}
