<mat-card [class.outdated]="discount.outdated">
	<h3 class="discount-amount">
		-{{discount.percentage
		? ((discount.amount).toFixed(2) + '%')
		: (discount.amount.toFixed(2) + "€")}}
	</h3>
	<h4 class="discount-title">{{discount.reason}}</h4>
	<span class="discount-limit">{{discount.limitPerUserAndItem | pipeFunction:limitToString}}</span>
	<span class="outdated-indicator" *ngIf="discount.outdated"
		  matTooltip="Dieser Discount wurde deaktiviert">Deaktiviert</span>

	<div class="condition-container" fxLayout="column" fxLayoutGap="4px">
		<div class="condition-row"
			 *ngFor="let key of discount | pipeFunction: objectKeys | pipeFunction:filterNull:discount">
			<ng-container *ngLet="key | pipeFunction:getProperties as property">
				<mat-icon>{{property.matIcon}}</mat-icon>
				<span matTooltip="{{property.tooltip}}" *ngLet="property | pipeFunction:getLabel:discount:key as label$"
					  matTooltipPosition="below">
					{{label$ | async}}
				</span>
			</ng-container>
		</div>
	</div>

	<button mat-icon-button class="overflow-button" [matMenuTriggerFor]="overflowMenu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #overflowMenu="matMenu">
		<a mat-menu-item routerLink="edit/{{discount.id}}">
			<mat-icon>edit</mat-icon>
			<span>Bearbeiten</span>
		</a>
		<button mat-menu-item *ngIf="!discount.outdated" (click)="stopDiscount.emit(discount)">
			<mat-icon>cancel</mat-icon>
			<span>Deaktivieren</span>
		</button>
	</mat-menu>
</mat-card>
