@import "~@angular/material/theming";
@import "theme";

.notifications-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		margin: 0;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		font-weight: 400;
	}
}

:host {
	@include mat-elevation(3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 750px;
	background: white;
	min-height: 400px;

	@media all and (min-width: 750px) {
		margin: 1rem auto;
		border-radius: 4px;
	}
}

.load-more-button {
	border-top: 1px solid grey(300);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.no-notifications {
	padding: 3rem 1rem;
	text-align: center;
	color: grey(700);
}

.notification {
	display: flex;
	background: white;
	padding: 8px;
	color: grey(900);
	font-size: font-size(smaller);

	&:last-child {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&.READ {
		&:hover {
			background: grey(200);
		}
	}

	&.UNREAD {
		background: accent(50);

		&:hover {
			background: accent(100);
		}
	}

	img {
		width: 40px;
		height: 40px;
		min-width: 40px;
		min-height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}

	@media all and (min-width: 750px) {
		padding: 8px 8px 8px 16px;
	}
}


.notification-details {
	margin-left: 16px;
	display: flex;
	justify-content: space-between;
	width: 100%;

	> .notification-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		color: grey(800);
	}

	.timestamp {
		color: grey(700);
		font-size: font-size(smallest);
		margin-top: 8px;
	}
}

.actions {
	color: grey(500);
}
