<div class="stretch-height container">
	<div class="notifications-header container--header">
		<h3>Deine Benachrichtigungen</h3>
		<a mat-icon-button
		   matTooltip="Einstellungen"
		   routerLink="/user/account-settings/notifications">
			<mat-icon>settings</mat-icon>
		</a>
	</div>

	<ng-container *ngIf="(loading$ | async); else emptyChecker">
		<div class="loading-notifications loader-wrapper stretch-height">
			<div class="loader"></div>
		</div>
	</ng-container>
	<ng-template #emptyChecker>
		<ng-container *ngIf="(notifications$ | async)?.length === 0; else notEmptyNotifications">
			<div class="empty-state">
				<mat-icon class="empty-state-header-icon">notifications_none</mat-icon>
				<span class="empty-state-headline">Keine Benachrichtigungen</span>
				<span class="empty-state-subheader">Du hast alle deine Benachrichtigungen abgearbeitet.</span>

			</div>
		</ng-container>
	</ng-template>
	<ng-template #notEmptyNotifications>
		<a *ngFor="let notification of notifications$ | async"
		   class="notification {{notification.status}}"
		   (click)="markAsRead(notification)"
		   routerLink="{{notification.link | pipeFunction:getBaseLink}}"
		   [queryParams]="notification.link | pipeFunction:getQueryParams"
		>
			<img src="{{notification.imagePath || 'resources/images/Logo.png'}}"/>


			<div class="notification-details">
				<div class="notification-text">
					<span [innerHtml]="notification.text | boldNotificationText | safeHtml"></span>
					<span class="timestamp" matTooltipShowDelay="500"
						  [matTooltip]="notification.timestamp | dateFormat:'dd.MM.yyyy \'um\' HH:mm:ss'">
						{{notification.timestamp | relativeDateFormat | async}}
					</span>
				</div>

				<div class="actions">
					<button mat-icon-button type="button"
							(click)="$event.stopPropagation(); $event.preventDefault()"
							title="Aktionen"
							attr.aria-label="Aktionen"
							[matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>

					</button>
					<mat-menu #menu="matMenu">
						<!-- todo: unsubscribe from this type of notifications -->
						<button mat-menu-item *ngIf="notification.status === 'UNREAD'"
								(click)="markAsRead(notification); ">
							<span>Als gelesen markieren</span>
						</button>
						<button mat-menu-item (click)="markAsDeleted(notification); ">
							<span>Löschen</span>
						</button>
					</mat-menu>

				</div>
			</div>
		</a>
	</ng-template>
</div>

<button class="load-more-button" *ngIf="canLoadMore$ | async" matRipple (click)="loadMore()">Mehr</button>
